<div class="row">
  <div class="col-md-12">
    <!-- <pre>
      {{FormInput$ | async | json}}
    </pre> -->
    <app-form-group [columns]="FormInput$ | async" (outputChange)="changeForm($event)"></app-form-group>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- <app-table-data [columns]="columnsTable$ | async" [data]="inputData$ | async" [options]="TableDataOptions"></app-table-data> -->

    <div class="card">
      <div class="card-body">
        <!-- <app-table-data [columns]="columnsTable$ | async" [data]="inputData$ | async" [options]="TableDataOptions"></app-table-data> -->
        <div class="table-responsive table-striped no-wrap">
          <!-- {{checkList | json}} -->
          <table class="dataTable table table-sm table-striped table-hover">
            <thead>
              <tr>
                <th></th>
                <th>ลำดับ</th>
                <ng-container *ngFor="let item of (columnsTable$ | async)">
                  <th class="footable-sortable">
                    {{item.title}}
                  </th>
                </ng-container>
                <th class="footable-sortable" colspan="1"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dataItem of bindingData; let i=index">
                <th>
                  <!-- {{dataItem | json}} -->
                </th>
                <th>{{i+1}}</th>
                <ng-container *ngFor="let item of (columnsTable$ | async)">
                  <ng-container *ngIf="item.showInput;else any">
                    <td class="footable-sortable" [width]="item.width || ''">
                      <input class="form-control text-center" type="number" width="50" [(ngModel)]="inputItem[i]"  (change)="itemChange()">
                    </td>
                  </ng-container>
                  <ng-template #any>
                    <td class="footable-sortable">
                      {{dataItem[item.field]}}
                    </td>
                  </ng-template>

                </ng-container>
                <td>

                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th colspan=7 class="text-right">
                  รวม
                </th>

                <th class="footable-sortable">
                  <input class="form-control text-center" type="text" width="50" disabled [value]="sumItem()">
                  <!-- {{(aggregate[item.field]?.sum) || ''}} -->
                </th>
                <th></th>

              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>



  </div>
</div>
