<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table #rewardTable class="dataTable table table-sm table-striped table-hover">
        <thead>
          <tr>
            <ng-container *ngFor="let column of columns">
              <ng-container *ngIf="!c?.isHidden && !c?.isFilter">
                <th >{{column?.title}}</th>
              </ng-container>
            </ng-container>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pagedItems; let i = index;">
            <ng-container *ngFor="let column of columns">
              <ng-container *ngIf="!c?.isHidden && !c?.isFilter">
                <td>{{ item[column?.field] || '-' }}</td>
              </ng-container>

            </ng-container>

            <td>
              <ng-container *ngIf="options?.action === 'VIEW'">
                <a href="javaScript:void(0);" class="text-secondary" [routerLink]="[options?.actionUrl, item[options?.actionFieldParams]]">
                  <i class="mdi mdi-eye fa-lg"></i>
                </a>
              </ng-container>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <pre>
      {{pager | json}}
    </pre> -->
  </div>
  <div class="card-footer card-footer-unset">
    <app-pagination-table [TotalItems]="pager?.totalItems" [CurrentPage]="paginage.CurrentPage" [PageSize]="paginage.PageSize"
      [RowsPerPageOptions]="paginage.RowsPerPageOptions" (onPageChange)="pageChanges($event)">
    </app-pagination-table>
  </div>
</div>
