<div class="modal-header bg-theme">
    <div class="row">
        <div class="col-lg-5">
            <h4 class="modal-title text-white">รายละเอียดพิสูจน์ของกลาง
            </h4>
        </div>

        <a href="javaScript:void(0);" class="close text-white font-14" aria-label="Close" (click)="dismiss('Cross click')">
            <span aria-hidden="true">
                <i class=" ti-close"></i>
            </span>
        </a>
    </div>
</div>
<div class="modal-body font-14">
    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">รายละเอียดการคำนวณอัตราภาษีพิสูจน์</h4>
        </div>
        <div class="card-body">
            <form class="form-horizontal">
                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label">ของกลาง :</label>
                    <div class="col-lg-10 col-md-7">
                        <div class="form-group ">
                            <input type="text" name="" id="" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label">จำนวน :</label>
                    <div class="col-lg-4 col-md-7">
                        <div class="form-group ">
                            <input type="text" name="" id="" class="form-control form-control-sm">
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-md-4 control-label">หน่วย :</label>
                    <div class="form-group input-group  col-lg-4 col-md-7">
                        <select name="" id="" class="form-control form-control-sm"></select>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label">ปริมาณสุทธิ :</label>
                    <div class="col-lg-4 col-md-7">
                        <div class="form-group ">
                            <input type="text" name="" id="" class="form-control form-control-sm">
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-md-4 control-label">หน่วย :</label>
                    <div class="form-group input-group  col-lg-4 col-md-7">
                        <select name="" id="" class="form-control form-control-sm"></select>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">อัตราภาษี :</label>
                    <div class="form-group input-group  col-lg-4 col-md-7">
                        <input type="checkbox" id="md_checkbox_5" class="filled-in chk-col-indigo">
                        <label for="md_checkbox_5">ตามมูลค่าร้อยละ </label>&nbsp;&nbsp;
                        <input type="text" name="" id="" class="form-control form-control-sm" readonly>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label"></label>
                    <div class="form-group input-group  col-lg-4 col-md-7">
                        <input type="checkbox" id="md_checkbox_5" class="filled-in chk-col-indigo">
                        <label for="md_checkbox_5">ตามปริมาณต่อ </label>&nbsp;&nbsp;
                        <input type="text" name="" id="" class="form-control form-control-sm" readonly>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label"></label>
                    <div class="form-group input-group  col-lg-4 col-md-7">
                        <label for="">หน่วย </label>&nbsp;&nbsp;
                        <select name="" id="" class="form-control form-control-sm" readonly></select>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label"></label>
                    <div class="form-group input-group  col-lg-4 col-md-7">
                        <label for="">หน่วยละ (บาท) </label>&nbsp;&nbsp;
                        <select name="" id="" class="form-control form-control-sm" readonly></select>
                    </div>
                </div>


                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label">ราคาขายปลีกแนะนำ :</label>
                    <div class="col-lg-4 col-md-7">
                        <div class="form-group ">
                            <input type="text" class="form-control form-control-sm" readonly>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-md-4 control-label">หน่วย :</label>
                    <div class="form-group col-lg-4 col-md-7">
                        <select name="" id="" class="form-control form-control-sm" readonly></select>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label">ราคาขายปลีกจริง :</label>
                    <div class="col-lg-4 col-md-7">
                        <div class="form-group ">
                            <input type="text" class="form-control form-control-sm">
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-md-4 control-label">หน่วย :</label>
                    <div class="form-group col-lg-4 col-md-7">
                        <select name="" id="" class="form-control form-control-sm"></select>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label">มูลค่าภาษีพิสูจน์ :</label>
                    <div class="col-lg-4 col-md-7">
                        <div class="form-group ">
                            <input type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ปริมาณของกลางที่เหลือจากการพิสูจน์</h4>
        </div>
        <div class="card-body">
            <form class="form-horizontal">

                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label">จำนวน :</label>
                    <div class="col-lg-4 col-md-7">
                        <div class="form-group ">
                            <input type="text" name="" id="" class="form-control form-control-sm">
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-md-4 control-label">หน่วย :</label>
                    <div class="form-group input-group  col-lg-4 col-md-7">
                        <select name="" id="" class="form-control form-control-sm"></select>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label">ปริมาณสุทธิ :</label>
                    <div class="col-lg-4 col-md-7">
                        <div class="form-group ">
                            <input type="text" name="" id="" class="form-control form-control-sm">
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-md-4 control-label">หน่วย :</label>
                    <div class="form-group input-group  col-lg-4 col-md-7">
                        <select name="" id="" class="form-control form-control-sm"></select>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-md-4 control-label">หมายเหตุ :</label>
                    <div class="form-group col-lg-4 col-md-12">
                        <input type="text" name="" id="" class="form-control form-control-sm">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">รายงานผลการพิสูจน์</h4>
        </div>
        <div class="card-body">
            <form class="form-horizontal">

                <div class="row">
                    <div class="form-group input-group  col-lg-4 col-md-7">
                        <input type="checkbox" id="md_checkbox_7" class="filled-in chk-col-indigo">
                        <label for="md_checkbox_7">ส่งพิสูจน์ทางเคมีหรือวิทยาศาสตร์ </label>&nbsp;&nbsp;
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-3 col-md-6 control-label">รายงานผลทางเคมีหรือวิทยาศาสตร์ :</label>
                    <div class="col-lg-9 col-md-6">
                        <div class="form-group ">
                            <input type="text" name="" id="" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-3 col-md-6 control-label">รายงานการตรวจพิสูจน์ของกลาง :</label>
                    <div class="col-lg-9 col-md-6">
                        <div class="form-group ">
                                <textarea name="" id="" cols="" rows="5" class="form-control form-control-sm" [disabled]="showEditField"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-lg-2 col-sm-4">
        <button type="button" class="btn btn-block btn-themecolor" (click)="close('Save click')">บันทึก</button>
    </div>
</div>