<!-- <app-form-group [columns]="columns$ | async"></app-form-group> -->

<div class="form-body" *ngIf="columns">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">เลขที่ใบงาน<span class="pull-right">:</span></label>
        <div class="col-md-8">
          <input class="form-control form-control-sm" type="text" [value]="columns.ArrestCode" disabled>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">วันที่จับกุม<span class="pull-right">:</span></label>
        <div class="col-md-3">
          <input class="form-control form-control-sm" type="text" [value]="columns.OccurrenceDate | thaiDate" disabled>
        </div>
        <label class="col-form-label text-center col-md-2">เวลา</label>
        <div class="col-md-3">
          <input class="form-control form-control-sm" type="text" [value]="columns.OccurrenceTime" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">ผู้กล่าวหา<span class="pull-right">:</span></label>
        <div class="col-md-8">
          <input class="form-control form-control-sm" [value]="columns.staffName" type="text" disabled>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">ตำแหน่ง<span class="pull-right">:</span></label>
        <div class="col-md-8">
          <input class="form-control form-control-sm" type="text" [value]="columns.PositionName" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">หน่วยงาน<span class="pull-right">:</span></label>
        <div class="col-md-8">
          <input class="form-control form-control-sm" type="text" [value]="columns.OfficeName" disabled>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">สถานที่จับกุม<span class="pull-right">:</span></label>
        <div class="col-md-8">
          <input class="form-control form-control-sm" type="text" [value]="columns.location" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">เลขที่คดีรับคำกล่าวโทษ<span class="pull-right">:</span></label>
        <div class="col-md-8">
          <input class="form-control form-control-sm" type="text" [value]="columns.LawsuitNo" disabled>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">วันที่รับคดี<span class="pull-right">:</span></label>
        <div class="col-md-3">
          <input class="form-control form-control-sm" type="text" [value]="columns.LawsuitDate | thaiDate" disabled>
        </div>
        <label class="col-form-label text-center col-md-2">เวลา</label>
        <div class="col-md-3">
          <input class="form-control form-control-sm" type="text" [value]="columns.LawsuitTime" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">ฐานความผิดมาตรา<span class="pull-right">:</span></label>
        <div class="col-md-8">
          <input class="form-control form-control-sm" type="text" [value]="columns.SubSectionType" disabled>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">ฐานความผิด<span class="pull-right">:</span></label>
        <div class="col-md-8">
          <input class="form-control form-control-sm" type="text" [value]="columns.GuiltBaseName" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">บทกำหนดโทษ<span class="pull-right">:</span></label>
        <div class="col-md-8">
          <input class="form-control form-control-sm" type="text" [value]="columns.SectionNo" disabled>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">อัตราโทษ<span class="pull-right">:</span></label>
        <div class="col-md-8">
          <input class="form-control form-control-sm" type="text" [value]="columns.PenaltyDesc" disabled>
        </div>
      </div>
    </div>
  </div>
</div>
