<form #form="ngForm" (ngSubmit)="onPrint(form)">
  <div class="modal-header bg-theme">
    <div class="row">
      <div class="col-lg-5">
        <h4 class="modal-title text-white">พิมพ์เอกสาร</h4>
      </div>
      <a href="javaScript:void(0);" class="close text-white font-14" aria-label="Close" (click)="dismiss('Cross click')">
        <span aria-hidden="true">
          <i class=" ti-close"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="modal-body font-14">
    <div class="table-responsive">
      <table class="table table-sm table-striped table-set-border">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">ลำดับ</th>
            <th>ชื่อเอกสาร</th>
            <th>ประเภทเอกสาร
              <a href="javascript:void(0)" (click)="sortPrintDoc()">
                <i class="ti-menu"></i>

              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td class="text-center">
              <input type="checkbox" [id]="'td'" name="ischeck" ngModel class="filled-in chk-col-indigo">
              <label [for]="'td'" class="m-0"></label>
            </td>
            <td class="text-center">1</td>
            <td>บันทึกคำให้กำรของผู้กล่ำวโทษ ส.ส.1/55
            </td>
            <td>
              แบบฟอร์ม
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <input type="checkbox" [id]="'td'+1" name="ischeck" ngModel class="filled-in chk-col-indigo">
              <label [for]="'td'+1" class="m-0"></label>
            </td>
            <td class="text-center">2</td>
            <td>บันทึกคำให้กำรของผู้กล่ำวโทษ ส.ส.2/54
            </td>
            <td>
              แบบฟอร์ม
            </td>
          </tr>
          <tr *ngFor="let item of printDocData; let i=index;">
            <td class="text-center">
              <input type="checkbox" [id]="'td'+i+2" name="ischeck" ngModel class="filled-in chk-col-indigo">
              <label [for]="'td'+i+2" class="m-0"></label>
            </td>
            <td class="text-center">{{i+3}}</td>
            <div *ngFor="let lawBreaker of item.LawsuitArrestIndicment[0].LawsuitArrestIndicmentDetail[0].LawsuitArrestLawbreaker">
              คำร้องขอให้เปรียบเทียบคดี คด.1 ของ {{lawBreaker.LawbreakerTitleName}}
              {{lawBreaker.LawbreakerFirstName}}
              {{lawBreaker.LawbreakerLastName}}
            </div>
            <td>
              แบบฟอร์ม
            </td>
          </tr>
          <tr *ngFor="let item of printDoc; let i=index;">
            <td class="text-center">
              <input type="checkbox" [id]="'td'+i" name="ischeck" ngModel class="filled-in chk-col-indigo">
              <label [for]="'td'+i" class="m-0"></label>
            </td>
            <td class="text-center">{{printDocData.length + 4}}</td>
            <td>บันทึกคำให้กำรของผู้กล่ำวโทษ ส.ส.1/55<br>
              บันทึกคำให้กำรของผู้กล่ำวโทษ ส.ส.2/54<br>
              <div *ngFor="let lawBreaker of item.LawsuitArrestIndicment[0].LawsuitArrestIndicmentDetail[0].LawsuitArrestLawbreaker">
                คำร้องขอให้เปรียบเทียบคดี คด.1 ของ {{lawBreaker.LawbreakerTitleName}}
                {{lawBreaker.LawbreakerFirstName}}
                {{lawBreaker.LawbreakerLastName}}
              </div>
            </td>
            <td>
              เอกสำรแนบภำยใน
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-lg-2 col-4">
      <button type="submit" class="btn btn-block btn-themecolor">พิมพ์</button>
    </div>
  </div>
</form>
