<div class="modal-header bg-theme">
    <div class="row">
      <div class="col-lg-5">
        <h4 class="modal-title text-white">
          เลือกรายการที่ต้องการปรับเพิ่ม-ลดค่าเปรียบเทียบ
        </h4>
      </div>
      <a href="javaScript:void(0);" class="close text-white font-14" aria-label="Close" (click)="dismiss('Cross click')">
        <span aria-hidden="true">
          <i class=" ti-close"></i>
        </span>
      </a>
    </div>
  </div>


  <h5 class="text-right mt-3 pr-3">ILG60-09-02-01-00</h5>
  <div class="modal-body font-14">
    <div>
      <div class="card unset-radius m-b-15">
        <div class="card-body p-0">
          <div class="table-responsive">
            <form [formGroup]="checkBoxForm">
              <table id="reductionListModal" #reductionListModal class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th>
                      <input id="allChecked" type="checkbox" [(ngModel)]="allChecked" [ngModelOptions]="{standalone: true}" (click)="checkAll(allChecked)" style="left: 10px; top: 8px;" />
                    </th>
                    <th class="text-center">ลำดับ</th>
                    <th>ชื่อผู้ต้องหา</th>
                    <th>ลักษณะคดี</th>
                    <th>เลขที่เปรียบเทียบ/คำพิพากษาฎีกา</th>
                    <th>วันที่ชำระเงิน</th>
                    <th>งวดชำระ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr formArrayName="listData" *ngFor="let item of checkBoxForm.controls.listData.controls; let i = index;">
                    <td>
                      <input class="form-check-input" id="td{{i}}" type="checkbox" [formControlName]="i" (change)="chicking($event)" />
                    </td>
                    <td class="text-center">{{i + 1}}</td>
                    <td>{{listData[i].LawbreakerName}}</td>
                    <td>{{listData[i].IsLawsuitComplete}}</td>
                    <td>{{listData[i].UndecidedCaseNo}}</td>
                    <td>{{listData[i].PaymentFineDate}}</td>
                    <td>{{listData[i].PaymentPeriodNo}}</td>
                    <!-- <td class="text-center">
                      <a class="text-center text-secondary" 
                        [routerLink]="['/investigation/suspect', 'R', i]" target="_blank">
                        <i class="fa fa-eye fa-lg"></i>
                      </a>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
        <div class="card-footer card-footer-unset">
          <!-- <app-pagination-table [TotalItems]="paginage.TotalItems" [CurrentPage]="paginage.CurrentPage" [PageSize]="paginage.PageSize"
            [RowsPerPageOptions]="paginage.RowsPerPageOptions" (onPageChange)="pageChanges($event)">
          </app-pagination-table> -->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-lg-2 col-4">
      <button type="button" class="btn btn-block btn-themecolor" (click)="next()">ถัดไป</button>
    </div>
  </div>