<div class="modal-header bg-theme">
    <div class="row">
        <div class="col-lg-5">
            <h4 class="modal-title text-white">พิมพ์เอกสาร</h4>
        </div>

        <a href="javaScript:void(0);" class="close text-white font-14" aria-label="Close" (click)="dismiss('Cross click')">
            <span aria-hidden="true">
                <i class=" ti-close"></i>
            </span>
        </a>
    </div>
</div>
<div class="modal-body font-14">
    <div class="card unset-radius">
        <div class="card-body p-0">
            <div class="table-responsive">
                <div class="table-responsive table-striped ">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;width: 5%"></th>
                                <th style="text-align: center;width: 7%">ลำดับ</th>
                                <th>ชื่อเอกสาร</th>
                                <th>ประเภทเอกสาร</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center">
                                    <input type="checkbox" id="td_1" class="filled-in chk-col-indigo" [checked]="isCheckAll">
                                    <label for="td_1" class="m-0"></label>
                                </td>
                                <td style="text-align: center">1</td>
                                <td>บันทึกการตรวจรับของกลาง</td>
                                <td>แบบฟอร์ม</td>
                            </tr>
                            <tr>
                                <td style="text-align: center">
                                    <input type="checkbox" id="td_3" class="filled-in chk-col-indigo" [checked]="isCheckAll">
                                    <label for="td_3" class="m-0"></label>
                                </td>
                                <td style="text-align: center">3</td>
                                <td>บัญชีของกลางและรายการการตรวจพิสูจน์ของกลาง ส.ส 2/4</td>
                                <td>แบบฟอร์ม</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-lg-2 col-sm-4">
        <button type="button" class="btn btn-block btn-themecolor" (click)="close('Save click')">พิมพ์</button>
    </div>
</div>