<form [formGroup]="formGroup" [class]="'form-row'" (submit)="submitHandle(formGroup)">

  <ng-container *ngFor="let c of columns">
    <ng-container *ngIf="options?.type === 'FILTER';else TypeAny">
      <ng-container *ngIf="c?.field &&  c?.isFilter && !c?.isHidden">
        <div [class]="c?.class ? c?.class : 'col-md-6'">
          <div class="form-group row">
            <label [for]="c?.field" class="col-sm-4 col-form-label">{{c?.title}} <strong *ngIf="c?.isRequired" class="text-danger">*</strong>
              :</label>
              <div class="col-sm-8">
                  <input type="{{c?.inputType ? c?.inputType : 'text'}}" [id]="c?.field" [formControlName]="c?.field" class="form-control">
              </div>
            
          </div>
        </div>
      </ng-container>

    </ng-container>
    <ng-template #TypeAny>
      <div [class]="c?.class ? c?.class : 'col-md-6'">
        <div class="form-group row">
            <label [for]="c?.field" class="col-sm-4 col-form-label">{{c?.title}} <strong *ngIf="c?.isRequired" class="text-danger">*</strong>
              :</label>
            <div class="col-sm-8">
                <input type="{{c?.inputType ? c?.inputType : 'text'}}" [id]="c?.field" [formControlName]="c?.field" class="form-control">
            </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <hr>
  <div style="width: 100%">
    <div class=" text-right">
      <button type="submit" class="btn waves-effect waves-light btn-navy">ค้นข้อมูล</button>
    </div>

  </div>

</form>
