<form [formGroup]="formGroup" [class]="'form-row'" (submit)="submitHandle(formGroup)">

  <ng-container *ngFor="let c of columns; trackBy: c?.field">
    <ng-container *ngIf="options?.type === 'FILTER';else TypeAny">
      <ng-container *ngIf="c?.field &&  c?.isFilter && !c?.isHidden">
        <div [class]="c?.class ? c?.class : 'col-md-6'">
          <div class="form-group row">
            <label class="col-xs-12 col-sm-6 col-md-5 col-lg-4">{{c?.title}} <strong *ngIf="c?.isRequired" class="text-danger">*</strong>
              :</label>
            <span class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
              <input type="{{c?.inputType ? c?.inputType : 'text'}}" [formControlName]="c?.field" class="form-control">
            </span>
          </div>
        </div>
      </ng-container>

    </ng-container>
    <ng-template #TypeAny>
      <div [class]="c?.class ? c?.class : 'col-md-6'">
        <div class="form-group row">
          <label class="col-xs-12 col-sm-6 col-md-5 col-lg-4">{{c?.title}} <strong *ngIf="c?.isRequired" class="text-danger">*</strong>
            :</label>
          <span class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
            <input type="{{c?.inputType ? c?.inputType : 'text'}}" [formControlName]="c?.field" class="form-control">
          </span>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <hr>
  <div style="width: 100%">
    <div class=" text-right">
      <button type="submit" class="btn waves-effect waves-light btn-navy">ค้นข้อมูล</button>
    </div>

  </div>

</form>
