<div *ngIf="advSearch | async" class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-close></app-card-actions-close>
        <h4 class="card-title m-b-0">ค้นหา</h4>
    </div>
    <div class="card-body">
        <form class="form-horizontal" autocomplete="off" #advForm="ngForm" (ngSubmit)="onAdvSearch(advForm)">
            <div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3">เลขที่ใบแจ้งความ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <input type="text" name="NoticeCode" ngModel class="form-control form-control-sm">
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3">วันที่รับแจ้งความ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group input-group">
                            <my-date-picker-th class="form-control form-control-sm unset-form-control" 
                            name="DateStartFrom" [options]="myDatePickerOptions"
                            (dateChanged)="onSDateChange($event)" [(ngModel)]="dateStartFrom"></my-date-picker-th>
                            <label for="">&nbsp;ถึง&nbsp;</label>
                            <my-date-picker-th class="form-control form-control-sm unset-form-control"
                            name="DateStartTo" [options]="myDatePickerOptions"
                            (dateChanged)="onEDateChange($event)" [(ngModel)]="dateStartTo"></my-date-picker-th>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3">ชื่อผู้รับแจ้ง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <input type="text" name="StaffName" ngModel class="form-control form-control-sm">
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-sm-3">หน่วยงาน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <input type="text" name="OfficeName" ngModel class="form-control form-control-sm">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3">ผู้ต้องสงสัย :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <input type="text" name="SuspectName" ngModel class="form-control form-control-sm">
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-lg-10 col-8"></div>
                    <div class="col-lg-2 col-4">
                        <button type="submit" class="btn btn-block btn-themecolor">ค้นข้อมูล</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="card unset-radius">
    <div class="card-body p-0">
        <div class="table-responsive table-sm table-striped">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>เลขที่ใบแจ้งความ</th>
                        <th>วันที่แจ้งความ</th>
                        <th>ผู้รับแจ้ง</th>
                        <th>หน่วยงาน</th>
                        <th>ผู้ต้องสงสัย</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of noticeList; let i=index;">
                        <td class="text-center">{{item.index}}</td>
                        <td>{{item.NoticeCode}}</td>
                        <td>{{formatDate(item.NoticeDate)}}</td>
                        <td>{{item.StaffTitleName}}{{item.StaffFirstName}} {{item.StaffLastName}}</td>
                        <td>{{item.StaffOfficeName}}</td>
                        <td [innerHTML]="item.SuspectFullname"></td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-secondary" (click)="view(item.NoticeCode)">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer card-footer-unset">
        <app-pagination-table [TotalItems]="paginage.TotalItems" [CurrentPage]="paginage.CurrentPage" [PageSize]="paginage.PageSize"
            [RowsPerPageOptions]="paginage.RowsPerPageOptions" (onPageChange)="pageChanges($event)">
        </app-pagination-table>
    </div>
</div>

<swal
  #alertSwal
  text=""
  type=""
  [showConfirmButton]="false"
  [showCancelButton]="true"
  buttonsStyling="false"
  cancelButtonText="OK"
  cancelButtonClass="swal2-confirm"
  cancelButtonColor="#3085d6"
  [focusCancel]="true">
</swal>