<ng-container *ngIf="advSearch | async">
  <div class="card">
    <div class="card-header unset-radius">
      ค้นหาขั้นสูง
      <div class="card-actions">
        <a (click)="closeAdvSearch()">
          <i class="ti-close"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <app-form-group [columns]="columns" (outputSubmit)="submitAdvSearch($event)" [options]="{type: 'FILTER'}"
        [needSearchBtn]="true"></app-form-group>
    </div>
  </div>
</ng-container>


<app-table-data [columns]="columns" [data]="gridData" [options]="TableDataOptions"></app-table-data>
