<div *ngIf="advSearch | async" class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-close></app-card-actions-close>
        <h4 class="card-title m-b-0">ค้นหา</h4>
    </div>
    <div class="card-body">
        <form class="form-horizontal" #advForm="ngForm" (ngSubmit)="onAdvSearch(advForm)">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-3">เลขที่สืบสวน :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group">
                        <input type="text" id="" name="InvestigateCode" ngModel class="form-control form-control-sm" placeholder="">
                    </div>
                </div>
                <label for="" class="col-lg-2 col-sm-3">คดีสืบสวนที่ :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group">
                        <input type="text" id="" name="InvestigateNo" ngModel class="form-control form-control-sm" placeholder="">
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-3">หัวข้อการสืบสวน :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group">
                        <input type="text" id="" name="Subject" ngModel class="form-control form-control-sm" placeholder="">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-3">วันที่เริ่มสืบสวน :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group input-group">
                        <input type="date" id="" name="DateStartFrom" ngModel class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">

                        <label for="">&nbsp; ถึง &nbsp;</label>

                        <input type="date" id="" name="DateStartTo" ngModel class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-lg-10 col-8"></div>
                <div class="col-lg-2 col-4">
                    <button type="submit" class="btn btn-block btn-themecolor">ค้นข้อมูล</button>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="card unset-radius">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table #invesTable class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>เลขที่สืบสวน</th>
                        <th>คดีสืบสวนที่</th>
                        <th>หัวข้อการสืบสวน</th>
                        <th>วันที่เริ่มสืบสวน</th>
                        <th>วันที่สิ้นสุดสืบสวน</th>
                        <th>ครั้งที่สืบสวนล่าสุด</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of invesList; let i=index;">
                        <td class="text-center">{{i + 1}}</td>
                        <td>{{item.InvestigateCode}}</td>
                        <td>{{item.InvestigateNo}}</td>
                        <td>{{item.Subject}}</td>
                        <td>{{item.DateStart | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.DateEnd | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.InvestigationDetail.length}}</td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-secondary" (click)="clickView(item.InvestigateCode)">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer card-footer-unset">
        <app-pagination-table 
            [TotalItems]="paginage.TotalItems" 
            [CurrentPage]="paginage.CurrentPage" 
            [PageSize]="paginage.PageSize"
            [RowsPerPageOptions]="paginage.RowsPerPageOptions" 
            (onPageChange)="pageChanges($event)">
        </app-pagination-table>
    </div>
</div>