<div class="wizard-content">
    <div class="wizard-circle wizard clearfix clearfix">
        <div class="steps tab-wizard">
            <ul role="tablist" class="font-14">
                <li *ngFor="let item of section; let i=index;" role="tab" 
                [ngClass]="{'current': sectionId == item.id, 'disabled-line': disabledLine}" aria-disabled="true">
                    <a>
                        <span class="current-info audible">current step: </span>
                        <span class="step"></span> 
                       {{i+1}}. {{item.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>