<div class="modal-header bg-theme">
    <h4 class="modal-title text-white">รายละเอียดการกระทำผิด</h4>
    <a href="javaScript:void(0);" class="close text-white font-14" aria-label="Close" (click)="dismiss('Cross click')">
        <span aria-hidden="true">
            <i class=" ti-close"></i>
        </span>
    </a>
</div>
<div class="modal-body font-14">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th>เลขที่รับ</th>
                <th>มาตรา</th>
                <th>ข้อ</th>
                <th>ข้อกล่าวหา</th>
                <th>สถานที่จับกุม</th>
                <th>หน่วยงาน</th>
                <th>วันที่จับกุม</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>