<div class="modal-header bg-theme">
    <div class="row">
        <div class="col-lg-5">
            <h4 class="modal-title text-white">อ้างอิงใบแจ้งความนำจับ</h4>
        </div>
        <div class="col-lg-5 col-sm-8">
            <form class="app-search" #searchFrom="ngForm" (ngSubmit)="onSearch(searchFrom.value)">
                <input type="search" name="Textsearch" ngModel class="form-control form-control-sm">
                <a href="javaScript:void(0);" class="srh-btn" (click)="onSearch(searchFrom.value)">
                    <i class="ti-search"></i>
                </a>
            </form>
        </div>
        <div class="col-lg-2 col-sm-4 p-0">
            <a href="javaScript:void(0);" (click)="toggle()" class="text-white">ค้นหาขั้นสูง</a>
        </div>

        <a href="javaScript:void(0);" class="close text-white font-14" aria-label="Close" (click)="dismiss('Cross click')">
            <span aria-hidden="true">
                <i class=" ti-close"></i>
            </span>
        </a>
    </div>
</div>
<h5 class="text-right mt-3 pr-3">XCS60-03-02-02-00</h5>
<div class="modal-body font-14">
    <div *ngIf="advSearch" class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <div class="card-actions">
                <a class="" (click)="toggle()">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">ค้นหาขั้นสูง</h4>
        </div>
        <div class="card-body">
            <form class="form-horizontal" *ngIf="advSearch" #advForm="ngForm" (ngSubmit)="onAdvSearch(advForm)">
                <div>
                    <div class="row">
                        <label for="" class="col-lg-2 col-sm-3">เลขที่ใบแจ้งความ :</label>
                        <div class="col-lg-4 col-md-7 col-sm-9">
                            <div class="form-group">
                                <input type="text" name="NoticeCode" ngModel class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}" required>
                            </div>
                        </div>

                        <label for="" class="col-lg-2 col-sm-3">วันที่รับแจ้งความ :</label>
                        <div class="col-lg-4 col-md-7 col-sm-9">
                            <div class="form-group input-group">
                                <input type="date" name="DateStartFrom" ngModel class="form-control form-control-sm" placeholder="วว/ดด/ปปปป" [ngClass]="{'ng-touched':isRequired}"
                                    required>

                                <label for="">&nbsp; ถึง &nbsp;</label>

                                <input type="date" name="DateStartTo" ngModel class="form-control form-control-sm" placeholder="วว/ดด/ปปปป" [ngClass]="{'ng-touched':isRequired}"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label for="" class="col-lg-2 col-sm-3">ชื่อผู้รับแจ้ง :</label>
                        <div class="col-lg-4 col-md-7 col-sm-9">
                            <div class="form-group">
                                <input type="text" name="StaffName" ngModel class="form-control form-control-sm" placeholder="" [ngClass]="{'ng-touched':isRequired}"
                                    required>
                            </div>
                        </div>
                        <label for="" class="col-lg-2 col-sm-3">หน่วยงาน :</label>
                        <div class="col-lg-4 col-md-7 col-sm-9">
                            <div class="form-group">
                                <input type="text" name="DepartmentName" ngModel class="form-control form-control-sm" placeholder="" [ngClass]="{'ng-touched':isRequired}"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label for="" class="col-lg-2 col-sm-3">ผู้ต้องสงสัย :</label>
                        <div class="col-lg-4 col-md-7 col-sm-9">
                            <div class="form-group">
                                <input type="text" name="SuspectName" ngModel class="form-control form-control-sm" placeholder="" [ngClass]="{'ng-touched':isRequired}"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-10 col-8"></div>
                        <div class="col-lg-2 col-4">
                            <button type="submit" class="btn btn-block btn-themecolor">ค้นข้อมูล</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card  unset-radius">
        <div class="card-body p-0">
            <div class="table-responsive table-sm table-striped">
                <table #noticeTable class="table" [formGroup]="noticeFG">
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">ลำดับ</th>
                            <th>เลขที่ใบแจ้งความ</th>
                            <th>วันที่แจ้งความ</th>
                            <th>ผู้รับแจ้ง</th>
                            <th>หน่วยงาน</th>
                            <th>ผู้ต้องสงสัย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="NoticeList">
                        <tr *ngFor="let item of NoticeList.controls; let i=index;" [formGroupName]="i">
                            <td class="text-center">
                                <input name="IsChecked" formControlName="IsChecked" 
                                type="radio" id="td{{i}}" (change)="setIsChecked(i)"
                                class="with-gap radio-col-indigo">
                                <label for="td{{i}}" class="m-0"></label>
                            </td>
                            <td class="text-center">{{item.get('RowId').value}}</td>
                            <td>{{item.get('NoticeCode').value}}</td>
                            <td>{{item.get('NoticeDate').value}}</td>
                            <td>
                                <div *ngFor="let staff of item.value.NoticeStaff;">{{staff.StaffFullName}}</div>
                            </td>
                            <td>
                                <div *ngFor="let staff of item.value.NoticeStaff;">{{staff.DepartmentName}}</div>
                            </td>
                            <td>
                                <div *ngFor="let suspect of item.value.NoticeSuspect;">{{suspect.SuspectFullName}}</div>
                            </td>
                            <td class="text-center">
                                <a href="javaScript:void(0);" class="text-secondary" (click)="view(item.value.NoticeCode)">
                                    <i class="fa fa-eye fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer card-footer-unset">
            <app-pagination-table [TotalItems]="paginage.TotalItems" [CurrentPage]="paginage.CurrentPage" [PageSize]="paginage.PageSize"
                [RowsPerPageOptions]="paginage.RowsPerPageOptions" (onPageChange)="pageChanges($event)">
            </app-pagination-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-lg-2 col-4">
        <button type="button" class="btn btn-block btn-themecolor" (click)="close('Save click')">บันทึก</button>
    </div>
</div>