<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">คำร้องขอรับเงินสินบน</h4>
  </div>
  <div class="card-body">
    <ILG60-08-03-00-00-E08></ILG60-08-03-00-00-E08>
  </div>
</div>

<div class="card ">
  <div class="card-header unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">หนังสือมอบอำนาจ</h4>
  </div>
  <div class="card-body">
    <ILG60-08-03-00-00-E12></ILG60-08-03-00-00-E12>
  </div>
</div>

<div class="card">
  <div class="card-header card-navy">
    <strong class="text-dark">
      เอกสารแนบภายใน
    </strong>
    <app-card-actions-collapse></app-card-actions-collapse>
  </div>
  <div class="card-body">
    <ILG60-08-03-00-00-E16></ILG60-08-03-00-00-E16>
  </div>
</div>
