<div class="card card-outline-success">
    <div class="card-header">
        <h4 class="card-title m-b-0 text-white">รายละเอียดคดี</h4>
    </div>
    <div class="card-body">

        <form class="form-horizontal">
            <div class="row">
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="checkbox" name="" id="" class="form-control form-control-sm"> คดีรับคำกล่าวโทษนอกสถานที่ทำการ
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">เลขคดีรับคำกล่าวโทษ :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="text" name="" id="" class="form-control form-control-sm">
                        <span class="text-inverse">/2560</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">ฐานความผิดมาตรา :
                </label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="text" name="" id="" class="form-control form-control-sm">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-md-4 control-label">ฐานความผิด :
                </label>
                <div class="form-group col-lg-4 col-md-7">
                    <input type="text" name="" id="" class="form-control form-control-sm">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">บทกำหนดโทษ :
                </label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="text" name="" id="" class="form-control form-control-sm">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-md-4 control-label">อัตราโทษ :
                </label>
                <div class="form-group col-lg-4 col-md-7">
                    <input type="text" name="" id="" class="form-control form-control-sm">
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="dataTable table table-sm table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th style="text-align: center">ลำดับ</th>
                                    <th>ของกลาง</th>
                                    <th>จำนวน</th>
                                    <th>หน่วย</th>
                                    <th>ปริมาณสุทธิ</th>
                                    <th>หน่วย</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center">1</td>
                                    <td>
                                        <input type="text" name="" id="" class="form-control form-control-sm">
                                    </td>
                                    <td>
                                        <input type="text" name="" id="" class="form-control form-control-sm">
                                    </td>
                                    <td>
                                        <select name="" id="" class="form-control form-control-sm"></select>
                                    </td>
                                    <td>
                                        <input type="text" name="" id="" class="form-control form-control-sm">
                                    </td>
                                    <td>
                                        <select name="" id="" class="form-control form-control-sm"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">2</td>
                                    <td>
                                        <input type="text" name="" id="" class="form-control form-control-sm">
                                    </td>
                                    <td>
                                        <input type="text" name="" id="" class="form-control form-control-sm">
                                    </td>
                                    <td>
                                        <select name="" id="" class="form-control form-control-sm"></select>
                                    </td>
                                    <td>
                                        <input type="text" name="" id="" class="form-control form-control-sm">
                                    </td>
                                    <td>
                                        <select name="" id="" class="form-control form-control-sm"></select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="card card-outline-success">
    <div class="card-header">
        <h4 class="card-title m-b-0 text-white">ตรวจรับของกลาง</h4>
    </div>
    <div class="card-body">

        <form class="form-horizontal">
            <div class="row">
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="checkbox" name="" id="" class="form-control form-control-sm"> ตรวจรับของกลาง
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="checkbox" name="" id="" class="form-control form-control-sm"> ตรวจพิสูจน์นอกสถานที่ทำการ
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">ทะเบียนตรวจพิสูจน์ :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="text" name="" id="" class="form-control form-control-sm">/2560
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">เขียนที่ :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="text" name="" id="" class="form-control form-control-sm">
                    </div>
                </div>
                <label for="" class="col-lg-2 col-md-4 control-label">วันที่ตรวจรับ :
                </label>
                <div class="form-group input-group  col-lg-4 col-md-7">
                    <input type="date" class="form-control form-control-sm" id="" placeholder="วว/ดด/ปปปป" appDatepicker>

                    <label for="" class="">&nbsp; เวลา : &nbsp;</label>
                    <input type="text" name="" id="" class="form-control form-control-sm">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">หนังสือนำส่งเลขที่ :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="text" name="" id="" class="form-control form-control-sm">
                    </div>
                </div>
                <label for="" class="col-lg-2 col-md-4 control-label">วันที่นำส่ง :
                </label>
                <div class="form-group input-group  col-lg-4 col-md-7">
                    <input type="date" class="form-control form-control-sm" id="" placeholder="วว/ดด/ปปปป" appDatepicker>

                    <label for="" class="">&nbsp; เวลา : &nbsp;</label>
                    <input type="text" name="" id="" class="form-control form-control-sm">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">หน่วยงานนำส่ง :</label>
                <div class="form-group col-lg-4 col-md-7">
                    <input type="text" class="form-control form-control-sm">
                </div>
                <label for="" class="col-lg-2 col-md-4 control-label">ผู้ตรวจรับ :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">ตำแหน่ง :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-md-4 control-label">หน่วยงาน :</label>
                <div class="form-group col-lg-4 col-md-7">
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>
        </form>

    </div>
</div>

<div class="card card-outline-success">
    <div class="card-header">
        <h4 class="card-title m-b-0 text-white">พิสูจน์ของกลาง</h4>
    </div>
    <div class="card-body">

        <form class="form-horizontal">
            <div class="row">
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="checkbox" name="" id="" class="form-control form-control-sm"> มีของกลางต้องนำส่งตรวจวิเคราห์ทางเคมีหรือวิทยาศาสตร์
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">เลขที่หนังสือนำส่ง :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="text" name="" id="" class="form-control form-control-sm">
                    </div>
                </div>
                <label for="" class="col-lg-2 col-md-4 control-label">วันที่นำส่ง :
                </label>
                <div class="form-group input-group  col-lg-4 col-md-7">
                    <input type="date" class="form-control form-control-sm" id="" placeholder="วว/ดด/ปปปป" appDatepicker>

                    <label for="" class="">&nbsp; เวลา : &nbsp;</label>
                    <input type="text" name="" id="" class="form-control form-control-sm">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">เลขที่คำขอ :</label>
                <div class="form-group col-lg-4 col-md-7">
                    <input type="text" class="form-control form-control-sm">
                </div>
                <label for="" class="col-lg-2 col-md-4 control-label">เลขที่รายงานผล :</label>
                <div class="col-lg-4 col-md-7">
                    <div class="form-group ">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">วันที่พิสูจน์ :
                </label>
                <div class="form-group input-group  col-lg-4 col-md-7">
                    <input type="date" class="form-control form-control-sm" id="" placeholder="วว/ดด/ปปปป" appDatepicker>

                    <label for="" class="">&nbsp; เวลา : &nbsp;</label>
                    <input type="text" name="" id="" class="form-control form-control-sm">
                </div>

                <label for="" class="col-lg-2 col-md-4 control-label">ผู้ตรวจพิสูจน์ :</label>
                <div class="form-group col-lg-4 col-md-7">
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">ตำแหน่ง :</label>
                <div class="form-group col-lg-4 col-md-7">
                    <input type="text" class="form-control form-control-sm">
                </div>

                <label for="" class="col-lg-2 col-md-4 control-label">หน่วยงาน :</label>
                <div class="col-lg-4 col-md-7 form-group ">
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-md-4 control-label">คำสั่ง :</label>
                <div class="col-lg-4 col-md-12 form-group ">
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="dataTable table table-sm table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th style="text-align: center">ลำดับ</th>
                                    <th>ของกลาง</th>
                                    <th style="text-align: center">ตามปริมาณ</th>
                                    <th style="text-align: center">ตามมูลค่า</th>
                                    <th>พิสูจน์ทางเคมีหรือวิทยาศาสตร์</th>
                                    <th>มูลค่าภาษีพิสูจน์</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center">1</td>
                                    <td>สุรา/สุราแช่/ชนิดเบียร์/Hoegaarden/Witbier/330 L</td>
                                    <td style="text-align: center">/</td>
                                    <td style="text-align: center">/</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a href="javaScript:void(0);" class="text-danger">
                                            <i class="fa fa-edit fa-xl"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">2</td>
                                    <td>สุรา/สุราแช่/ชนิดอื่นๆ/Black Label/Blended Wrisk</td>
                                    <td style="text-align: center">/</td>
                                    <td style="text-align: center">X</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a href="javaScript:void(0);" class="text-danger">
                                            <i class="fa fa-edit fa-xl"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="card card-outline-success">
    <div class="card-header">
        <h4 class="card-title m-b-0 text-white">เอกสารแนบภายใน</h4>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <div class="col-10"></div>
            <div class="col-2">
                <button class="btn btn-block btn-info">เพิ่มเอกสารแนบ</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="dataTable table table-sm table-striped table-hover ">
                        <thead>
                            <tr>
                                <th style="text-align: center">ลำดับ</th>
                                <th>ชื่อเอกสารแนบ</th>
                                <th>ที่อยู่เอกสารแนบ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center">1</td>
                                <td>
                                    <input type="text" name="" id="" class="form-control form-control-sm">
                                </td>
                                <td>
                                    <input type="text" name="" id="" class="form-control form-control-sm">
                                </td>
                                <td>
                                    <a href="javaScript:void(0);" class="text-danger">
                                        <i class="fa fa-trash-o fa-xl"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>