<div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-collapse></app-card-actions-collapse>
        <h4 class="card-title m-b-0">สัดส่วนการแบ่งเงินรางวัล</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <label for="" class="col-lg-2 col-sm-4 control-label">รหัสส่วนแบ่งเงินรางวัล :</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="ArrestCode" [(ngModel)]="ArrestCode" class="form-control " disabled>
                </div>
            </div>

            <label for="" class="col-lg-2 col-md-4 control-label">สัดส่วนเงินส่วนแรก :</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="Accuser" [(ngModel)]="Accuser" class="form-control " readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <label for="" class="col-lg-2 col-md-4 control-label">สัดส่วนเงินส่วนหลัง :</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="Accuser" [(ngModel)]="Accuser" class="form-control " readonly>
                </div>
            </div>

            <label for="" class="col-lg-2 col-md-4 control-label">สัดส่วนทั้งหมด :</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="Accuser" [(ngModel)]="Accuser" class="form-control " readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <label for="" class="col-lg-2 col-md-4 control-label">วันที่เริ่มใช้งาน :</label>
            <div class="col-lg-4 col-md-7">
                <div class="input-group ">
                    <my-date-picker-th name="ReturnDate" [(ngModel)]="ReturnDate" [ngClass]="{'ng-touched':isRequired}" [disabled]="showEditField"
                        class="form-control  unset-form-control" required></my-date-picker-th>
                </div>
            </div>
        </div>
    </div>
</div>