// .app-search {
//     position: relative;
//     right: -120px;

    .srh-btn {
        position: absolute;
        top: 5px;
        right: 25px;
    }
// }

.adv-search {
    position: relative;
    right: -50px;
}

.close {
    font-size: 1rem;
}

