<div class="modal-header bg-theme">
    <div class="row">
        <div class="col-lg-5">
            <h4 class="modal-title text-white">เพิ่มผู้ต้องสงสัย
                <a href="javaScript:void(0);" class="btn btn-ghost" (click)="dismiss('Cross click')" [routerLink]="['/arrest/lawbreaker/c/new']">
                    <i class="ti-plus"></i>
                    สร้างข้อมูล
                </a>
            </h4>
        </div>
        <div class="col-lg-5 col-8">
            <form class="app-search">
                <input type="search" name="" id="" class="form-control form-control-sm">
                <a class="srh-btn">
                    <i class="ti-search"></i>
                </a>
            </form>
        </div>
        <div class="col-lg-2 col-4 p-0">
            <a href="javaScript:void(0);" class="text-white" (click)="toggle()">ค้นหาขั้นสูง</a>
        </div>

        <a href="javaScript:void(0);" class="close text-white font-14" aria-label="Close" (click)="dismiss('Cross click')">
            <span aria-hidden="true">
                <i class=" ti-close"></i>
            </span>
        </a>
    </div>
</div>
<div class="modal-body font-14">
    <div *ngIf="advSearch">
        <div class="card card-outline-bluish unset-radius">
            <div class="card-header unset-radius">
                <div class="card-actions">
                    <a class="" (click)="toggle()">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <h4 class="card-title m-b-0">ค้นหาขั้นสูง</h4>
            </div>
            <div class="card-body">
                <form class="form-horizontal">
                    <div class="row">
                        <label for="" class="col-lg-2 col-sm-4">ประเภทผู้ต้องหา :</label>
                        <div class="col-lg-4 col-sm-8 form-group">
                            <select name="EntityType" ngModel class="form-control form-control-sm">
                                <option value="" selected disabled></option>
                                <option *ngFor="let item of entityType" [value]="item.value">{{item.text}}</option>
                            </select>
                        </div>

                        <label for="" class="col-lg-2 col-sm-4">ประเภทบุคคล :</label>
                        <div class="col-lg-4 col-sm-8 form-group">
                            <select name="LawbreakerType" ngModel class="form-control form-control-sm">
                                <option value="" selected disabled></option>
                                <option *ngFor="let item of lawbreakerType" [value]="item.value">{{item.text}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label for="" class="col-lg-2 col-sm-4">เลขบัตรประชาชน :</label>
                        <div class="col-lg-4 col-sm-8 form-group">
                            <input type="text" name="IDCard" ngModel class="form-control form-control-sm">
                        </div>
                        <label for="" class="col-lg-2 col-sm-4">เลขหนังสือเดินทาง :</label>
                        <div class="col-lg-4 col-sm-8 form-group">
                            <input type="text" name="PassportNo" ngModel class="form-control form-control-sm">
                        </div>
                    </div>

                    <div class="row">
                        <label for="" class="col-lg-2 col-sm-4">เลขนิติบุคคล :</label>
                        <div class="col-lg-4 col-sm-8 form-group">
                            <input type="text" name="CompanyRegistrationNo" ngModel class="form-control form-control-sm">
                        </div>
                        <label for="" class="col-lg-2 col-sm-4">ชื่อสถานประกอบการ :</label>
                        <div class="col-lg-4 col-sm-8 form-group">
                            <input type="text" name="CompanyName" ngModel class="form-control form-control-sm">
                        </div>
                    </div>

                    <div class="row">
                        <label for="" class="col-lg-2 col-sm-4">ชื่อผู้ต้องสงสัย :</label>
                        <div class="col-lg-4 col-sm-8 form-group">
                            <input type="text" name="" class="form-control form-control-sm">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-10 col-sm-8"></div>
                        <div class="col-lg-2 col-sm-4">
                            <button type="submit" class="btn btn-block btn-themecolor">ค้นข้อมูล</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card unset-radius">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table id="suspectModal" #suspectModal class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <input type="checkbox" id="th" class="filled-in chk-col-indigo" (change)="checkAll()" [checked]="isCheckAll">
                                <label for="th" class="m-0"></label>
                            </th>
                            <th>ลำดับ</th>
                            <th>ประเภทผู้ต้องสงสัย</th>
                            <th>ประเภทบุคคล</th>
                            <th>หมายเลขอ้างอิง</th>
                            <th>ชื่อผู้ต้องสงสัย</th>
                            <th>จำนวนครั้งการกระทำความผิด</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" id="td_1" class="filled-in chk-col-indigo" [checked]="isCheckAll">
                                <label for="td_1" class="m-0"></label>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center">
                                <a href="javaScript:void(0);" class="text-center text-secondary">
                                    <i class="fa fa-eye fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer card-footer-unset">
            <app-pagination-table 
                [TotalItems]="paginage.TotalItems" 
                [CurrentPage]="paginage.CurrentPage" 
                [PageSize]="paginage.PageSize"
                [RowsPerPageOptions]="paginage.RowsPerPageOptions" 
                (onPageChange)="pageChanges($event)">
            </app-pagination-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-lg-2 col-sm-4">
        <button type="button" class="btn btn-block btn-themecolor" (click)="close('Save click')">บันทึก</button>
    </div>
</div>