

.srh-btn {
    position: absolute;
    top: 5px;
    right: 25px;
}

.close {
    font-size: 1rem;
    position: absolute;
    right: 10px;
    top: 22px;
}

.modal-header {
    justify-content: unset;
    display: block;
}