<div class="card card-outline-bluish unset-radius">
    <div class="card-header  unset-radius">
        <app-card-actions-collapse></app-card-actions-collapse>
        <h4 class="card-title m-b-0">คดีที่สืบสวน</h4>
    </div>
    <div class="card-body">
        <form class="form-horizontal">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">เลขที่สืบสวน :
                </label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="text" class="form-control form-control-sm" readonly>
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">คดีสืบสวนที่ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" class="form-control form-control-sm" [disabled]="showEditField">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">วันที่เริ่มสืบสวน :
                </label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="date" class="form-control form-control-sm" [disabled]="showEditField">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">วันที่สิ้นสุดสืบสวน :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="date" class="form-control form-control-sm" [disabled]="showEditField">
                </div>
            </div>


            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">หัวข้อการสืบสวน :
                </label>
                <div class="col-lg-10 col-sm-8">
                    <div class="form-group ">
                        <input type="text" class="form-control form-control-sm" [disabled]="showEditField">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card card-outline-bluish unset-radius">
    <div class="card-header  unset-radius">
        <app-card-actions-collapse></app-card-actions-collapse>
        <h4 class="card-title m-b-0">ทีมสืบสวน</h4>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <div class="col-lg-10 col-md-9 col-sm-8"></div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField">เพิ่มผู้สืบสวน</button>
            </div>
        </div>

        <form class="form-horizontal">
            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>ชื่อผู้สืบสวน</th>
                        <th>ตำแหน่ง</th>
                        <th>หน่วยงาน</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            1
                        </td>
                        <td>
                            <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
                        </td>
                        <td>
                            <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
                        </td>
                        <td>
                            <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
                        </td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-danger" *ngIf="!showEditField">
                                <i class="fa fa-trash-o fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<div class="card card-outline-bluish unset-radius">
    <div class="card-header  unset-radius">
        <app-card-actions-collapse></app-card-actions-collapse>
        <h4 class="card-title m-b-0">รายงานการสืบสวน</h4>
    </div>
    <div class="card-body">
        <form class="form-horizontal">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField">เพิ่มรายงาน</button>
                </div>
            </div>

            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>ชื่อผู้สืบสวน</th>
                        <th>วันที่สืบสวน</th>
                        <th>วันที่สิ้นสุดการสืบสวน</th>
                        <th>ผู้ดูแลการสืบสวน</th>
                        <th>ผู้สั่งการ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-secondary" [routerLink]="['/investigation/detail-manage/v/xxx-xxx']">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>