<!-- <app-horizontal-timeline></app-horizontal-timeline> -->

<div *ngIf="advSearch | async" class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-close></app-card-actions-close>
        <h4 class="card-title m-b-0">ค้นหา</h4>
    </div>

    <div class="card-body">
        <form class="form-horizontal">
            <div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่ใบงาน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่คดีรับคำกล่าวโทษ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ทะเบียนตรวจพิสูจน์ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">วันที่ตรวจรับ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group input-group form-line">
                            <input type="date" id="" class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">

                            <label for="">&nbsp; ถึง &nbsp;</label>

                            <input type="date" id="" class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ชื่อผู้ตรวจรับ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">วันที่ตรวจพิสูจน์ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group input-group form-line">
                            <input type="date" id="" class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">

                            <label for="">&nbsp; ถึง &nbsp;</label>

                            <input type="date" id="" class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ชื่อผู้ตรวจพิสูจน์ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-sm-3 control-label">หน่วยงาน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table class="dataTable table table-sm table-striped table-hover ">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>เลขที่ใบงาน</th>
                        <th>เลขที่คดีรับคำกล่าวโทษ</th>
                        <th>ทะเบียนตรวจพิสูจน์</th>
                        <th>ผู้ตรวจรับ</th>
                        <th>วันที่ตรวจรับ</th>
                        <th>ผู้ตรวจพิสูจน์</th>
                        <th>วันที่ตรวจพิสูจน์</th>
                        <th>หน่วยงาน</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TN90806026000002</td>
                        <td>001/2561</td>
                        <td>001/2561</td>
                        <td>นายธวัชชัย</td>
                        <td>10-ม.ค.-2560</td>
                        <td>นายธวัชชัย</td>
                        <td>10-ม.ค.-2560</td>
                        <td>สสท.ระนอง สาขาเมือง</td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-secondary" [routerLink]="['/proof/manage/v/xxx-xxx-xxx']">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>TN90806026000002</td>
                        <td>น.001/2561</td>
                        <td>น.001/2561</td>
                        <td>นายธวัชชัย</td>
                        <td>19-มี.ค.-2560</td>
                        <td>นายธวัชชัย</td>
                        <td>19-มี.ค.-2560</td>
                        <td>สสท.ระนอง สาขาเมือง</td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-secondary" [routerLink]="['/proof/manage/v/xxx-xxx-xxx']">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>TN90806026000002</td>
                        <td>002/2561</td>
                        <td>002/2561</td>
                        <td>นายธวัชชัย</td>
                        <td>22-ต.ค.-2560</td>
                        <td>นายธวัชชัย</td>
                        <td>22-ต.ค.-2560</td>
                        <td>สสท.ระนอง สาขาเมือง</td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-secondary" [routerLink]="['/proof/manage/v/xxx-xxx-xxx']">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>TN90806026000002</td>
                        <td>003/2561</td>
                        <td>003/2561</td>
                        <td>นายธวัชชัย</td>
                        <td>11-ธ.ค.-2560</td>
                        <td>นายธวัชชัย</td>
                        <td>11-ธ.ค.-2560</td>
                        <td>สสท.ระนอง สาขาเมือง</td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-secondary" [routerLink]="['/proof/manage/v/xxx-xxx-xxx']">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>TN90806026000002</td>
                        <td>004/2561</td>
                        <td>004/2561</td>
                        <td>นายธวัชชัย</td>
                        <td>3-มี.ค.-2560</td>
                        <td>นายธวัชชัย</td>
                        <td>3-มี.ค.-2560</td>
                        <td>สสท.ระนอง สาขาเมือง</td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-secondary" [routerLink]="['/proof/manage/v/xxx-xxx-xxx']">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer card-footer-unset">
        <div class="row justify-content-between m-l-5">
            <div clas="col">
                <a class="icn-pagination text-secondary" href="javaScript:void(0)"> |
                    << </a>
                        <label> หน้าที่
                            <select>
                                <option value="1">1</option>
                            </select> จาก 1 หน้า</label>
                        <a class="icn-pagination m-r-10 text-secondary" href="javaScript:void(0)"> >>| </a>
                        รายการที่ 1 - 1 จาก 1 รายการ
            </div>
            <div class="col col-lg-3 text-right">
                <label>แสดง
                    <select>
                        <option (click)="numPage = 5">5</option>
                        <option (click)="numPage = 10">10</option>
                        <option (click)="numPage = 15">15</option>
                        <option (click)="numPage = 20">20</option>
                    </select> รายการ</label>
            </div>
        </div>
    </div>
</div>