<ng-template #printDocModal let-c="close" let-d="dismiss">
  <app-print-doc-modal (c)="modal.close()" (d)="modal.dismiss()" ></app-print-doc-modal>
</ng-template>

<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h5 class="card-title m-b-0">รายละเอียดคดี</h5>
  </div>
  <div class="card-body">
    <div class="form-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">เลขที่ใบงาน : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.ArrestCode" name="ArrestCode" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">วันที่จับกุม : </label>
            <div class="form-group input-group col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.ArrestDate" name="LawsuitDate" disabled>
              <label class="col-form-label text-right col-md-2">เวลา</label>
              <input class="form-control" type="text" [(ngModel)]="detailData.ArrestTime" name="LawsuitTime" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">ผู้กล่าวหา : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.CompareName" name="" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">ตำแหน่ง : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.AdjustArrestStaff[0].PositionName" name="PositionlawName" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">หน่วยงาน : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.AdjustCompareStaff[0].OfficeName" name="DepartmentlawName" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">สถานที่จับกุม : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.LocationlawName" name="LocationlawName" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">เลขที่คดีรับคำกล่าวโทษ : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.LawsuitNo" name="LawsuitNo" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">วันที่รับคดี : </label>
            <div class="form-group input-group col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.LawsuitDate" name="LawsuitDate" disabled>
              <label class="col-form-label text-right col-md-2">เวลา</label>
              <input class="form-control" type="text" [(ngModel)]="detailData.LawsuitTime" name="LawsuitTime" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">ฐานความผิดมาตรา : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.SubSectionType" name="FaultNo" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">ฐานความผิด : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.GuiltBaseName" name="FaultSubject" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">บทกำหนดโทษ : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.SectionNo" name="FaultNo" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">อัตราโทษ : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.PenaltyDesc" name="Penalty" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">เลขที่คดีเปรียบเทียบ : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.CompareCode" name="LawsuitNo" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">วันที่เปรียบเทียบ : </label>
            <div class="form-group input-group col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.CompareDate[0]" name="LawsuitDate" disabled>
              <label class="col-form-label text-right col-md-2">เวลา</label>
              <input class="form-control" type="text" [(ngModel)]="detailData.CompareDate[1]" name="LawsuitTime" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">ผู้เปรียบเทียบ : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.CompareName" name="" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">ตำแหน่ง : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.AdjustArrestStaff[0].PositionName" name="PositionlawName" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">หน่วยงาน : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="detailData.AdjustCompareStaff[0].OfficeName" name="DepartmentlawName" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h5 class="card-title m-b-0">รายละเอียดการปรับเพิ่มหรือปรับลด</h5>
  </div>
  <div class="card-body">
    <div class="text-right m-b-10">
      <button [ngClass]="{disabled : showField}" class="btn waves-effect waves-light btn-navy" [disabled]="showField" (click)="editData()">
        ปรับเพิ่ม-ลด 
      </button>
    </div>
    <!-- ปรับเพิ่ม-ลด dialog -->
    <!-- <ng-template #reductionList let-c="close" let-d="dismiss">
      <app-reduction-model-list [listData]="adjustDetailData" [id]="compareID" (d)="dialog.dismiss()" (result)="result($event)"></app-reduction-model-list>
    </ng-template> -->
    <!-- print dialog -->
    <ng-template #printList let-c="close" let-d="dismiss">
      <app-print-document [listData]="documentMailgetAll" [id]="compareID" (d)="print_dialog.dismiss()" (result)="printResult($event)"></app-print-document>
    </ng-template>

    <div class="table-responsive table-striped no-wrap">
      <table class="table">
        <thead>
          <tr>
            <th class="footable-sortable">ลำดับ</th>
            <th class="footable-sortable">ชื่อผู้ต้องหา</th>
            <th class="footable-sortable">ค่าปรับเดิม</th>
            <th class="footable-sortable">ค่าปรับใหม่</th>
            <th class="footable-sortable">วันที่ชำระค่าปรับ</th>
            <th class="footable-sortable">ช่องทางชำระ</th>
            <th class="footable-sortable">ใบเสร็จเล่มที่</th>
            <th class="footable-sortable">ใบเสร็จเลขที่/เลขอ้างอิง</th>
            <th class="footable-sortable">สถานะคดี</th>
            <th class="footable-sortable"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="footable" *ngFor="let item of tableData; let i = index;">
            <td>{{i+1}}</td>
            <td>{{item.LawbreakerName}}</td>
            <td>{{ i == 0 ? tableData[i].TotalFine : tableData[i-1].TotalFine}}</td>
            <td>{{item.TotalFine}}</td>
            <td>{{item.ReceiptDate}}</td>
            <td>{{item.ReceiptChanel}}</td>
            <td>{{item.ReceiptBookNo}}</td>
            <td>{{item.ReceiptNo}}</td>
            <td>{{item.RevenueStatus === 1 ? 'นำส่งแล้ว' : 'ยังไม่ส่ง'}}</td>
            <td>
              <a href="javaScript:void(0);" class="text-secondary" (click)="viewData()">
                <i class="mdi mdi-eye fa-lg"></i>
              </a>
              <a href="javaScript:void(0);" class="text-secondary m-l-10" (click)="editData()" [hidden]="showField || item.RevenueStatus === 1">
                <i class="ti-pencil-alt btn-action"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="reductionPopup" tabindex="-1" role="dialog" #reductionPopup>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header top-navbar text-white">
        เลือกรายการที่ต้องการปรับเพิ่ม-ลดค่าปรับเปรียบเทียบคดี
        <div class="card-actions">
          <a data-toggle="modal" data-target="#reductionPopup">
            <i class="ti-close"></i>
          </a>
        </div>
      </div>
      <div class="modal-body">
        <div class="text-right"> ILG60-09-02-01-00 </div>
        <div class="table-responsive table-striped no-wrap table-bordered m-t-10">
          <table class="table table-sm">
            <thead>
              <tr>
                <th class="footable-sortable text-center">
                  <div class="custom-control custom-checkbox">
                    <input id="checkbox_checkAll" [(ngModel)]="selectAll" type="checkbox" class="col-form-label filled-in chk-col-indigo">
                    <label for="checkbox_checkAll"></label>
                  </div>
                </th>
                <th class="footable-sortable">ลำดับ</th>
                <th class="footable-sortable">ชื่อผู้ต้องหา</th>
                <th class="footable-sortable">ลักษณะคดี </th>
                <th class="footable-sortable">เลขที่ดคีเปรียบเทียบ/คำพิพากษาฎีกาที่ </th>
                <th class="footable-sortable">วันที่ชำระเงิน </th>
                <th class="footable-sortable">งวดชำระ </th>
              </tr>
            </thead>
            <tbody>
              <tr class="footable" *ngFor="let item of tableData; let i = index;">
                <td class="text-center">
                  <div class="custom-control custom-checkbox">
                    <input id="checkbox_{{i}}" [checked]="selectAll" type="checkbox" class="col-form-label filled-in chk-col-indigo">
                    <label for="checkbox_{{i}}"></label>
                  </div>
                </td>
                <td>{{i+1}}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.typeCase}}</td>
                <td>{{item.receiptRef}}</td>
                <td>{{item.dateFine}}</td>
                <td>{{item.period}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn waves-effect waves-light btn-navy" data-toggle="modal" data-target="#reductionPopup">ถัดไป</button>
      </div>
    </div>
  </div>
</div> -->
