.btn-navy {
  background: rgb(0, 94, 141);
  color: white;
}

.btn-action {
  color: red;
  font-size: 20px;
}

.top-navbar {
  background: linear-gradient(45deg, rgb(0, 94, 141), rgb(53, 57, 147));
}
