<div class="row">

  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-form-label col-md-4">เงินรางวัลที่ขอรับแล้ว<span class="pull-right">:</span></label>
      <div class="col-md-8">
        <input class="form-control form-control-sm" type="text" [value]="sumRewardTotal | currency: ' '" disabled>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="text-right pb-3">
      <!-- RequestBribeRewardID: {{ (RequestBribeRewardID$ | async) }} 
        IndictmentID: {{ (IndictmentID$ | async)}} -->
      <button class="btn waves-effect waves-light btn-navy" [routerLink]="['/reward/reward/C', (RequestBribeRewardID$ | async) , (IndictmentID$ | async)]" [disabled]="ILG60_08_02_00_00E14_BUTTON_DISABLED">
        ขอรับเงินรางวัล
      </button>
    </div>
  </div>
  <div class="col-md-12">

    <!-- {{tableData | json}} -->
    <app-table-data [columns]="columnsTableDefault" [data]="dataBinding" [options]="TableDataOptions"></app-table-data>
  </div>
</div>
