<ng-template #printDocModal let-c="close" let-d="dismiss">
    <app-printdoc-modal [investCode]="" [investDetailId]="invesDetailId" (c)="modal.close()" (d)="modal.dismiss()"></app-printdoc-modal>
</ng-template>

<form class="form-horizontal" [formGroup]="investigateFG">

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <div class="card-actions">
                <a class="" (click)="card1 = !card1">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card1, 'fa-chevron-up': !card1}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">รายงานการสืบสวน</h4>
        </div>
        <div class="card-body" *ngIf="card1">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ครั้งที่สืบสวน : </label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="text" formControlName="InvestigateSeq" class="form-control form-control-sm"
                            readonly>
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">วันที่เริ่มสืบสวน :</label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group input-group">
                        <my-date-picker-th class="form-control form-control-sm unset-form-control" formControlName="InvestigateDateStart"
                            [disabled]="showEditField" [options]="myDatePickerOptions" (dateChanged)="onSDateChange($event)" [(ngModel)]="SysdateStrat"
                            ngModel [required]="true"></my-date-picker-th>

                        <label for="DateEnd">&nbsp;ถึง&nbsp;</label>

                        <my-date-picker-th class="form-control form-control-sm unset-form-control" id="DateEnd" [(ngModel)]="SysdateEnd"
                            [disabled]="showEditField" formControlName="InvestigateDateEnd" [options]="myDatePickerOptions"
                            (dateChanged)="onEDateChange($event)"></my-date-picker-th>
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">มาตรความเชื่อมั่น :
                </label>
                <div class="col-lg-10 col-sm-8">
                    <div class="form-group ">
                        <select formControlName="ValueOfNews" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}"
                            required [attr.disabled]="showEditField ? '' : null">
                            <option value="" selected disabled></option>
                            <option *ngFor="let item of valueofNews; let i=index;" [value]="item.value" [disabled]="showEditField">{{item.text}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ค่าของเนื้อข่าว :
                </label>
                <div class="col-lg-10 col-sm-8">
                    <div class="form-group ">
                        <select formControlName="ConfidenceOfNews" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}"
                            required [attr.disabled]="showEditField ? '' : null">
                            <option value="" selected disabled></option>
                            <option *ngFor="let item of costofNews; let i=index;" [value]="item.value" [disabled]="showEditField">{{item.text}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <div class="card-actions">
                <a class="" (click)="card2 = !card2">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card2, 'fa-chevron-up': !card2}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">ผู้ร่วมทำการสืบสวน</h4>
        </div>
        <div class="card-body" *ngIf="card2">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="addStaff()">เพิ่มผู้ร่วมจับกุม</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-striped table-set-border">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th>ชื่อผู้สืบสวน</th>
                            <th>ตำแหน่ง</th>
                            <th>หน่วยงาน</th>
                            <th>ฐานะ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="InvestigateDetailStaff">
                        <tr *ngFor="let item of InvestigateDetailStaff.controls; let i = index;" [formGroupName]="i">
                            <ng-container *ngIf="item.get('IsModify').value != 'd'">
                                <td class="text-center">
                                    {{item.get('RowId').value}}
                                </td>
                                <td>
                                    <ng-template #rt let-r="result" let-t="term">
                                        {{ r.TitleName == null ? '' : r.TitleName }}
                                        {{r.FirstName == null ? '' : r.FirstName}}
                                        {{r.LastName == null ? '' : r.LastName}}
                                    </ng-template>

                                    <input type="text" class="form-control form-control-sm" [ngbTypeahead]="searchStaff"
                                        [resultTemplate]="rt" [readonly]="showEditField" 
                                        [inputFormatter]="formatterStaff"
                                        (selectItem)="selectItemStaff($event, i)" 
                                        value="{{item.value.StaffFullName}}"
                                        [ngClass]="{'is-invalid': item.get('StaffFullName').invalid && isRequired}" />
                                    <input type="text" formControlName="StaffFullName" [required]="item.value.IsModify != 'd'" style="display: none;">
                                </td>
                                <td>
                                    <input type="text" formControlName="PositionName" class="form-control form-control-sm"
                                        readonly>
                                </td>
                                <td>
                                    <input type="text" formControlName="OfficeName" style="display: none;" readonly>
                                    <input type="text" formControlName="OfficeShortName" class="form-control form-control-sm"
                                        readonly>
                                </td>
                                <td>
                                    <select (change)="onChangeContributer($event, i)" formControlName="ContributorID" class="form-control form-control-sm"
                                        [attr.disabled]="showEditField ? '' : null" [required]="item.value.IsModify != 'd'" [ngClass]="{'ng-touched':isRequired}">
                                        <option value="" disabled selected></option>
                                        <option *ngFor="let c of contributorInvestType;" [value]="c.value">{{c.text}}</option>
                                    </select>
                                </td>
                                <td>
                                    <a class="text-warning" href="javaScript:void(0);" *ngIf="!showEditField" (click)="deleteStaff(i)">
                                        <i class="fa fa-trash-o fa-lg"></i>
                                    </a>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <div class="card-actions">
                <a class="" (click)="card3 = !card3">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card3, 'fa-chevron-up': !card3}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">ผู้ต้องสงสัย</h4>
        </div>
        <div class="card-body" *ngIf="card3">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" (click)="openModal(suspect)" [disabled]="showEditField">เพิ่มผู้ต้องสงสัย</button>
                </div>

                <ng-template #suspect let-c="close" let-d="dismiss">
                    <app-suspect-modal (c)="modal.close()" (d)="modal.dismiss()" (OutputSuspect)="addSuspect($event)"></app-suspect-modal>
                </ng-template>
            </div>

            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>ประเภทผู้ต้องสงสัย</th>
                        <th>ประเภทบุคคล</th>
                        <th>เลขประจำตัว</th>
                        <th>ชื่อ - สกุล</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody formArrayName="InvestigateDetailSuspect">
                    <tr *ngFor="let item of InvestigateDetailSuspect.controls; let i = index;" [formGroupName]="i">
                        <ng-container *ngIf="item.get('IsModify').value != 'd'">
                            <td class="text-center">{{item.get('RowId').value}}</td>
                            <td>{{item.get('SuspectTypeName').value}}</td>
                            <td>{{item.get('EntityTypeName').value}}</td>
                            <td>{{item.get('ReferenceID').value}}</td>
                            <td>
                                {{item.get('SuspectTitleName').value}}
                                {{item.get('SuspectFirstName').value}}
                                {{item.get('SuspectLastName').value}}
                            </td>
                            <td colspan="2" class="text-center">
                                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteSuspect(i)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <div class="card-actions">
                <a class="" (click)="card4 = !card4">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card4, 'fa-chevron-up': !card4}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">สถานที่ทำการสืบสวน</h4>
        </div>
        <div class="card-body" *ngIf="card4">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" (click)="addLocal()" [disabled]="showEditField">เพิ่มสถานที่</button>
                </div>
            </div>

            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th style="width: 100px">เลขที่</th>
                        <th style="width: 60px">หมู่ที่</th>
                        <th>อาคาร</th>
                        <th style="width: 100px">ห้อง</th>
                        <!-- <th style="width: 60px">ชั้น</th> -->
                        <th>ตรอก/ซอย</th>
                        <th>ถนน</th>
                        <th style="width: 300px">ตำบล/อำเภอ/จังหวัด</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="InvestigateDetailLocal">
                    <tr *ngFor="let item of InvestigateDetailLocal.controls; let i = index;" [formGroupName]="i">
                        <ng-container *ngIf="item.get('IsModify').value != 'd'">
                            <td class="text-center">{{item.get('RowId').value}}</td>
                            <td>
                                <input type="text" formControlName="Address" class="form-control form-control-sm"
                                    [readonly]="showEditField">
                            </td>
                            <td>
                                <input type="text" formControlName="Village" class="form-control form-control-sm"
                                    [readonly]="showEditField">
                            </td>
                            <td>
                                <input type="text" formControlName="Building" class="form-control form-control-sm"
                                    [readonly]="showEditField">
                            </td>
                            <td>
                                <input type="text" formControlName="Room" class="form-control form-control-sm"
                                    [readonly]="showEditField">
                            </td>
                            <td>
                                <input type="text" formControlName="Alley" class="form-control form-control-sm"
                                    [readonly]="showEditField">
                            </td>
                            <td>
                                <input type="text" formControlName="Road" class="form-control form-control-sm"
                                    [readonly]="showEditField">
                            </td>
                            <td>
                                <ng-template #rt let-r="result" let-t="term">
                                    {{ r.SubdistrictNameTH }} {{r.DistrictNameTH}} {{r.ProvinceNameTH}}
                                </ng-template>

                                <input type="text" class="form-control form-control-sm" [ngbTypeahead]="searchRegion"
                                    [resultTemplate]="rt" [readOnly]="showEditField" 
                                    [inputFormatter]="formatterRegion"
                                    (selectItem)="selectItemLocaleRegion($event, i)" 
                                    value="{{item.value.Region}}"
                                    [ngClass]="{'is-invalid': item.get('Region').invalid && isRequired}" />
                                <input type="text" formControlName="Region" [required]="item.value.IsModify != 'd'" style="display: none;">
                            </td>
                            <td>
                                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteLocal(i)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <div class="card-actions">
                <a class="" (click)="card5 = !card5">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card5, 'fa-chevron-up': !card5}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">สินค้าต้องสงสัย</h4>
        </div>
        <div class="card-body" *ngIf="card5">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" (click)="addProduct()" [disabled]="showEditField">เพิ่มสินค้า</button>
                </div>
            </div>

            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>สินค้า</th>
                        <th>จำนวน</th>
                        <th>หน่วย</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody formArrayName="InvestigateDetailProduct">
                    <tr *ngFor="let item of InvestigateDetailProduct.controls; let i = index;" [formGroupName]="i">
                        <ng-container *ngIf="item.get('IsModify').value != 'd'">
                            <td class="text-center">{{item.get('RowId').value}}</td>
                            <td style="width: 700px;">
                                <ng-template #rt let-r="result" let-t="term">
                                    {{ r.ProductDesc }}
                                </ng-template>
                                <input type="text" class="form-control form-control-sm" [readonly]="showEditField"
                                    [ngbTypeahead]="searchProduct" [resultTemplate]="rt" [inputFormatter]="formatterProduct"
                                    (selectItem)="selectItemProductItem($event, i)"
                                    (change)="onChangeProductDesc($event, i)" 
                                    [value]="item.value.ProductDesc"
                                    [ngClass]="{'is-invalid': isRequired}" />
                                <input style="display: none" type="text" formControlName="ProductDesc">
                            </td>
                            <td>
                                <input type="number" formControlName="Qty" class="form-control form-control-sm" [readonly]="showEditField"
                                    min="0" step="0.01" [ngClass]="{'ng-touched':isRequired}">
                            </td>
                            <td>
                                <ng-template #qtyUnit let-r="result" let-t="term">
                                    {{ r.DutyCode }}
                                </ng-template>
                                <input type="text" class="form-control form-control-sm" [readonly]="showEditField"
                                    [ngbTypeahead]="searchUnit" [resultTemplate]="qtyUnit" [inputFormatter]="formatterUnit"
                                    (selectItem)="selectItemQtyUnit($event, i)"  
                                    [value]="item.value.QtyUnit"
                                    [ngClass]="{'is-invalid': isRequired}" 
                                    (change)="changeItemQtyUnit($event, i)" />
                                <input style="display: none" type="text" formControlName="QtyUnit">
                            </td>
                            <td class="text-center">
                                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteProduct(i)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <div class="card-actions">
                <a class="" (click)="card6 = !card6">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card6, 'fa-chevron-up': !card6}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">รายละเอียดที่เกิดเหตุในการสืบสวน</h4>
        </div>
        <div class="card-body" *ngIf="card6">

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">รายละเอียด :
                </label>
                <div class="col-lg-10 col-sm-8">
                    <div class="form-group ">
                        <textarea formControlName="InvestigateDetail" cols="30" rows="5" class="form-control form-control-sm"
                            [readOnly]="showEditField" required 
                            [ngClass]="{'ng-touched': investigateFG.get('InvestigateDetail').invalid && isRequired}"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <div class="card-actions">
                <a class="" (click)="card7 = !card7">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card7, 'fa-chevron-up': !card7}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">เอกสารแนบภายใน</h4>
        </div>
        <div class="card-body" *ngIf="card7">

            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" (click)="addDocument()" [disabled]="showEditField">เพิ่มเอกสาร</button>
                </div>
            </div>

            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>ชื่อเอกสารแนบ</th>
                        <th>ที่อยู่เอกสารแนบ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="InvestigateDocument">
                    <tr *ngFor="let item of InvestigateDocument.controls; let i=index;" [formGroupName]="i">
                        <ng-container *ngIf="item.get('IsModify').value != 'd'">
                            <td class="text-center">{{item.get('RowId').value}}</td>
                            <td>
                                <input type="text" formControlName="DataSource" class="form-control form-control-sm"
                                    [readonly]="showEditField">
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" formControlName="FilePath"
                                        style="border-right: 0;" [readonly]="showEditField">
                                    <div class="input-group-append">
                                        <input [id]="'arrestAttach'+i" type="file" (change)="changeArrestDoc($event, i)"
                                            hidden [attr.disabled]="showEditField ? '' : null">
                                        <label [for]="'arrestAttach'+i" class="input-group-text custom-file-upload text-secondary">
                                            <i class="ti-more-alt"></i>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteDocument(i)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</form>