<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h5 class="card-title m-b-0">รายละเอียดคดี</h5>
  </div>
  <div class="card-body">
    <div class="form-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">เลขที่ใบงาน : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.ArrestCode" name="arrestCode" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">วันที่จับกุม : </label>
            <div class="form-group input-group col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.OccurrenceDate" name="lawsuitDate" disabled>
              <label class="col-form-label text-right col-md-2">เวลา</label>
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.OccurrenceTime" name="lawsuitTime" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">ผู้กล่าวหา : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.CompareName" name="" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">ตำแหน่ง : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.ComparePositionName" name="positionlawName" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">หน่วยงาน : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.CompareOfficeShortName" name="departmentlawName" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">สถานที่จับกุม : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.LocationlawName" name="locationlawName" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">เลขที่คดีรับคำกล่าวโทษ : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.LawsuitNo" name="lawsuitNo" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">วันที่รับคดี : </label>
            <div class="form-group input-group col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.OccurrenceDate" name="lawsuitDate" disabled>
              <label class="col-form-label text-right col-md-2">เวลา</label>
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.OccurrenceTime" name="lawsuitTime" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">ฐานความผิดมาตรา : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.Behaviour" name="faultNo" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">ฐานความผิด : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.Testimony" name="faultSubject" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">บทกำหนดโทษ : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.Prompt" name="faultNo" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">อัตราโทษ : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.IsMatchNotice" name="penalty" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">เลขที่คดีเปรียบเทียบ : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.CompareCode" name="lawsuitNo" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">วันที่เปรียบเทียบ : </label>
            <div class="form-group input-group col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.CompareDate" name="lawsuitDate" disabled>
              <label class="col-form-label text-right col-md-2">เวลา</label>
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.CompareTime" name="lawsuitTime" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">ผู้เปรียบเทียบ : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.CompareName" name="" disabled>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-right col-md-4">ตำแหน่ง : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.ComparePositionName" name="positionlawName" disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label text-left col-md-4">หน่วยงาน : </label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="adjustArrest.CompareOfficeShortName" name="departmentlawName" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h5 class="card-title m-b-0">รายละเอียดการปรับเพิ่มหรือปรับลด</h5>
  </div>
  <div class="card-body">
    <div class="form-group row">
      <label class="col-form-label text-left col-md-2">เหตุผลในการปรับ : </label>
      <div class="col-md-10">
        <textarea class="form-control" type="text" rows="5" [(ngModel)]="adjustFine[0].CompareReason" name="positionLawName" [disabled]="showField"></textarea>
      </div>
    </div>
    <div class="table-responsive table-striped no-wrap">
      <table class="table" *ngIf="!errorShow">
        <thead>
          <tr>
            <th class="footable-sortable">ชื่อผู้ต้องหา</th>
            <th class="footable-sortable">ของกลาง</th>
            <th class="footable-sortable">ค่าปรับเดิม</th>
            <th class="footable-sortable">ค่าปรับใหม่</th>
            <th class="footable-sortable">ผลต่าง</th>
            <th class="footable-sortable">สถานะ</th>
            <th class="footable-sortable">สินบน</th>
            <th class="footable-sortable">รางวัล</th>
            <th class="footable-sortable">ส่งคลัง</th>
          </tr>
        </thead>
        <tbody>
          <tr class="footable" *ngFor="let item of adjustFine; let i = index;">
            <td>{{item.LawbreakerName}}</td>
            <td>{{item.ProductDesc}}</td>
            <td>{{item.ProductFine}}</td>
            <td>
              <input type="text" [(ngModel)]="item.CompareFine" name="CompareFine" class="form-control" [disabled]="showField">
            </td>
            <td>{{item.CompareFineDiff}}</td>
            <td class="status-increase" *ngIf="item.CompareFineStatus">ปรับเพิ่ม</td>
            <td class="status-decrease" *ngIf="!item.CompareFineStatus">ปรับลด</td>
            <td>{{item.CompareFineTreasuryMoney }}</td>
            <td>{{item.CompareFineBribeMoney}}</td>
            <td>{{item.CompareFineRewardMoney}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h5 class="card-title m-b-0">การชำระค่าปรับ</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive table-striped no-wrap">
      <table class="table" *ngIf="!errorShow">
        <thead>
          <tr>
            <th class="footable-sortable text-center">ลำดับ</th>
            <th class="footable-sortable">ชื่อผู้ต้องหา</th>
            <th class="footable-sortable">วันที่ชำระค่าปรับ</th>
            <!-- <th class="footable-sortable">ผู้รับชำระค่าปรับ</th> -->
            <th class="footable-sortable">ช่องทางชำระ</th>
            <th class="footable-sortable">ใบเสร็จเล่มที่</th>
            <th class="footable-sortable">ใบเสร็จเลขที่/เลขอ้างอิง</th>
            <th class="footable-sortable">สถานะคดี</th>
            <th class="footable-sortable" [hidden]="true"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="footable" *ngFor="let item of adjustReceipt; let i = index;">
            <td class="text-center">{{i+1}}</td>
            <td>{{item.LawbreakerName}}</td>
            <td>{{item.PaymentDate}}</td>
            <!-- <td>Missing ผู้รับชำระ</td> -->
            <td>{{item.ReceiptChanel}}</td>
            <td>{{item.ReceiptBookNo}}</td>
            <td>{{item.ReceiptNo}}</td>
            <td>{{item.IsLawsuitComplete}}</td>
            <td [hidden]="true">
              <a href="javaScript:void(0);" class="text-secondary" (click)="viewData()" data-toggle="modal" data-target="#finePopup">
                <i class="mdi mdi-eye fa-lg"></i>
              </a>
              <a href="javaScript:void(0);" class="text-secondary m-l-10" (click)="editData()" [hidden]="showField" data-toggle="modal" data-target="#finePopup">
                <i class="ti-pencil-alt btn-action"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="finePopup" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header top-navbar text-white">
        ชำระค่าปรับ
        <div class="card-actions">
          <a data-toggle="modal" data-target="#finePopup">
            <i class="ti-close"></i>
          </a>
        </div>
      </div>
      <div class="modal-body">
        <div class="text-right"> ILG60-09-03-01-00 </div>
        <div class="form-body m-t-15">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label text-left col-md-4">ชื่อผู้ต้องหา : </label>
                <div class="col-md-8">
                  <input class="form-control" type="text" [(ngModel)]="fullName" name="fullName" disabled>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label text-left col-md-5">ยอดชำระค่าปรับ : </label>
                <div class="col-md-7">
                  <input class="form-control" type="text" [(ngModel)]="adjustArrest.arrestCode" name="" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label text-left col-md-4">วันที่ชำระค่าปรับ : </label>
                <div class="form-group input-group col-md-8">
                  <input class="form-control" type="text" [(ngModel)]="adjustArrest.lawsuitDate" name="" [disabled]="viewMode">
                  <label class="col-form-label text-center col-md-3"> เวลา </label>
                  <input class="form-control" type="text" [(ngModel)]="adjustArrest.lawsuitTime" name="" [disabled]="viewMode">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label text-left col-md-5">เขียนที่ : </label>
                <div class="col-md-7">
                  <input class="form-control" type="text" [(ngModel)]="adjustArrest.arrestCode" name="" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-left col-md-4">ผู้รับชำระค่าปรับ : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="adjustArrest.arrestCode" name="" [disabled]="viewMode">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-left col-md-5">ตำแหน่ง : </label>
              <div class="col-md-7">
                <input class="form-control" type="text" [(ngModel)]="adjustArrest.arrestCode" name="" [disabled]="viewMode">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-left col-md-4">หน่วยงาน : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="adjustArrest.arrestCode" name="" [disabled]="viewMode">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-left col-md-5">ช่องทางชำระค่าปรับ : </label>
              <div class="col-md-7">
                <select class="custom-select col-12" [disabled]="viewMode">
                  <option selected="">เงินสด</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-left col-md-4">ใบเสร็จเล่มที่ : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="adjustArrest.arrestCode" name="" [disabled]="viewMode">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-left col-md-5">ใบเสร็จเลขที่ : </label>
              <div class="col-md-7">
                <input class="form-control" type="text" [(ngModel)]="adjustArrest.arrestCode" name="" [disabled]="viewMode">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-left col-md-4">หมายเลขอ้างอิง : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="adjustArrest.arrestCode" name="" [disabled]="viewMode">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn waves-effect waves-light btn-orange m-r-10" data-toggle="modal" data-target="#finePopup">ยกเลิกใบเสร็จ</button>
        <button type="submit" class="btn waves-effect waves-light btn-navy" data-toggle="modal" data-target="#finePopup">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h5 class="card-title m-b-0">รายงานขออนุมัติการเปรียบเทียบคดีและแบบอนุมัติ</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive table-striped no-wrap">
      <table class="table" *ngIf="!errorShow">
        <thead>
          <tr>
            <th class="footable-sortable text-center">ลำดับ</th>
            <th class="footable-sortable col-3">ชื่อผู้ต้องหา</th>
            <th class="footable-sortable">วันที่จัดทำรายงานฯ</th>
            <th class="footable-sortable col-6">แบบอนุมัติ</th>
            <th class="footable-sortable" [hidden]="true"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="footable" *ngFor="let item of adjustDetail; let i = index;">
            <td class="text-center">{{i+1}}</td>
            <td>{{item.LawbreakerName  }}</td>
            <td>{{item.ApproveReportDate}}</td>
            <td>{{item.ApproveReportType}}</td>
            <td [hidden]="true">
              <a href="javaScript:void(0);" class="text-secondary" (click)="viewData()" data-toggle="modal" data-target="#approvePopup">
                <i class="mdi mdi-eye fa-lg"></i>
              </a>
              <a href="javaScript:void(0);" class="text-secondary m-l-10" (click)="editData()" [hidden]="showField" data-toggle="modal" data-target="#approvePopup">
                <i class="ti-pencil-alt btn-action"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="approvePopup" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header top-navbar text-white">
        รายงานขออนุมัติการเปรียบเทียบคดีและแบบอนุมัติ
        <div class="card-actions">
          <a data-toggle="modal" data-target="#approvePopup">
            <i class="ti-close"></i>
          </a>
        </div>
      </div>
      <div class="modal-body">
        <div class="text-right"> ILG60-09-03-02-00 </div>
        <div class="form-body m-t-10">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ชื่อผู้ต้องหา : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="fullName" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">วันที่ชำระค่าปรับ : </label>
                <div class="col-md-3">
                  <input class="form-control" type="text" name="payDate" disabled>
                </div>
                <label class="col-form-label text-center col-md-2">เวลา</label>
                <div class="col-md-3">
                  <input class="form-control" type="text" name="payTime" disabled>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ค่าปรับคดีรวม : </label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="payAmount" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">เขียนที่ : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="fullName" [disabled]="viewMode">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">วันที่จัดทำรายงานฯ : </label>
                <div class="col-md-8">
                  <input class="form-control" type="text" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-form-label col-md-2">แบบอนุมัติ : </label>
                <div class="custom-control custom-radio col-form-label col-md-8">
                  <input name="approveRadio" id="typeOne" class="col-form-label with-gap radio-col-indigo" type="radio">
                  <label for="typeOne" class="col-4">แบบอนุมัติ 1</label>
                  <input name="approveRadio" id="typeTwo" class="col-form-label with-gap radio-col-indigo" type="radio">
                  <label for="typeTwo" class="col-4">แบบอนุมัติ 2</label>
                  <input name="approveRadio" id="typeThree" class="col-form-label with-gap radio-col-indigo" type="radio">
                  <label for="typeThree" class="col-4">แบบอนุมัติ 3</label>
                  <input name="approveRadio" id="typeFour" class="col-form-label with-gap radio-col-indigo" type="radio">
                  <label for="typeFour" class="col-4">แบบอนุมัติ 4</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ผู้เสนอพิจารณาเห็นชอบ : </label>
                <div class="col-md-8">
                  <input class="form-control" type="text" [disabled]="viewMode">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ตำแหน่ง : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="postion" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">หน่วยงาน : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="deparment" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ผู้พิจารณาเห็นชอบ : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="reviewer" [disabled]="viewMode">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ตำแหน่ง : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="rank" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">หน่วยงาน : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="deparment" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ผู้มีอำนาจอนุมัติ : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="approver" [disabled]="viewMode">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ตำแหน่ง : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="rank" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">หน่วยงาน : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="department" disabled>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">คำสั่งกรมฯ ที่ : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="departOrder" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">วันที่ออกคำสั่ง : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="dateOfIssue" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ข้อเท็จจริงเกี่ยวกับความผิดโดยละเอียด : </label>
                <div class="col-md-8">
                  <textarea class="form-control" [disabled]="viewMode" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-form-label col-md-4">เหตุผลที่ควรเปรียบเทียบคดีและ/หรือจัดการของกลาง :</label>
                <div class="col-md-8">
                  <textarea class="form-control" [disabled]="viewMode" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn waves-effect waves-light btn-navy" data-toggle="modal" data-target="approvePopup">บันทึก</button>
      </div>
    </div>
  </div>
</div>


<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h5 class="card-title m-b-0">เอกสารแนบภายใน</h5>
  </div>
  <div class="card-body">
    <div class="text-right">
      <input type="file" id="btn-browse" [disabled]="showField" (change)="attachFile(file.files)" #file>
      <label for="btn-browse" class="btn waves-effect waves-light btn-navy"> เพิ่มเอกสารแนบ </label>
    </div>
    <div class="table-responsive table-striped no-wrap">
      <table class="table">
        <thead>
          <tr class="row">
            <th class="footable-sortable text-center col-md-1">ลำดับ</th>
            <th class="footable-sortable col-md-5">ชื่อเอกสารแนบ</th>
            <th class="footable-sortable col-me-5">ที่อยู่เอกสารแนบ</th>
          </tr>
        </thead>
        <tbody>
          <tr class="footable row" *ngFor="let item of fileItem; let i = index;">
            <td class="text-center col-md-1">{{i+1}}</td>
            <td class="col-md-5">
              <input class="form-control" type="text" nmae="fileName" [(ngModel)]="item.DocumentName" [disabled]="showField">
            </td>
            <td class="col-md-5">
              <input class="form-control" type="text" name="filePath" [(ngModel)]="item.FilePath" [disabled]="showField">
            </td>
            <td class="col-md-1">
              <a href="javaScript:void(0);" class="text-secondary" [hidden]="showField">
                <i class="ti-trash btn-action"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
