.lawbreaker-detail {
    padding: .4rem;
    border: 1px solid #d4dfe3;

    .lawbreaker-detail-head {
        .action {
            float: right;
        }
        .action a {
            cursor: pointer;
            opacity: 0.7;
            padding-left: 7px;
        }
        .title {    
            text-decoration: underline;
        }

    }
}