<div class="card">
  <div class="card-body">
    <div class="table-responsive table-striped no-wrap">
        <table #rewardTable class="table table-striped table-hover">
          <thead>
            <tr>
              <th *ngIf="showIndex">ลำดับ</th>
              <ng-container *ngFor="let column of (columns$ | async);trackBy: column?.field">
                <ng-container *ngIf="column?.inputType !== 'hidden'">
                  <th [class]="column?.class" [width]="column?.width">{{column?.title}}</th>
                </ng-container>
              </ng-container>
              <th *ngIf="options?.action === 'VIEW'"></th>
            </tr>
          </thead>
          <tbody *ngIf="pagedItems?.length > 0" >
            <ng-container *ngFor="let item of pagedItems; let i = index;" >
              <tr>
                <td *ngIf="showIndex">{{i + 1}}</td>
                <ng-container *ngFor="let column of (columns$ | async); trackBy: column?.field">
                  <ng-container *ngIf="column?.inputType !== 'hidden'">
                    <td>

                      <ng-container *ngIf="column?.showInput; else showDefault;">
                        <input class="form-control text-center" [type]="column?.inputType || 'text'" [value]="item[column?.field]">
                      </ng-container>
                      <ng-template #showDefault>
                        {{ item[column?.field] || '-' }}

                        <input type="hidden" [name]="column?.field + i">
                      </ng-template>
                    </td>
                  </ng-container>

                </ng-container>

                <td *ngIf="options?.action === 'VIEW'">
                  <a href="javaScript:void(0);" class="text-secondary" [routerLink]="customRouteFor(options?.actionUrl,item, options?.actionFieldParams)">
                    <i class="mdi mdi-eye fa-lg"></i>
                  </a>
                </td>
              </tr>
            </ng-container>

          </tbody>
          <tfoot *ngIf="options?.isSumFooter">
            <tr>
              <th *ngIf="showIndex"></th>
              <ng-container *ngFor="let column of (columns$ | async);trackBy: column?.field;let last=last">
                <ng-container *ngIf="column?.inputType !== 'hidden'">
                  <th class="text-right">

                    <ng-container *ngIf="column?.showInput; else showDefault;">
                      <input class="form-control text-center" type="text" width="50" disabled >
                    </ng-container>
                    <ng-template #showDefault>
                      <span *ngIf="last">
                        รวม :
                      </span>
                    </ng-template>
                  </th>

                </ng-container>
              </ng-container>

              <th *ngIf="options?.action === 'VIEW'">

              </th>
            </tr>
          </tfoot>
        </table>
    </div>
  </div>
  <div class="card-footer card-footer-unset">
    <app-pagination-table [TotalItems]="pager?.totalItems" [CurrentPage]="paginage.CurrentPage" [PageSize]="paginage.PageSize"
      [RowsPerPageOptions]="paginage.RowsPerPageOptions" (onPageChange)="pageChanges($event)">
    </app-pagination-table>
  </div>
</div>
