


<div class="card ">
  <div class="card-header  unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">รายละเอียดคดี</h4>
  </div>
  <div class="card-body">
    <app-request-arrest-lawsuit-get-by-indictment-id [IndictmentID]="IndictmentID"></app-request-arrest-lawsuit-get-by-indictment-id>
  </div>
</div>

<div class="card ">
  <div class="card-header  unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">คำสั่งกรมฯ กรณีที่มีผู้แจ้งความนำจับหลายคน</h4>
  </div>
  <div class="card-body"></div>
</div>

<div class="card ">
  <div class="card-header unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">คำร้องขอรับเงินสินบน</h4>
  </div>
  <div class="card-body"></div>
</div>

<div class="card ">
  <div class="card-header  unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">คำร้องขอรับเงินรางวัล</h4>
  </div>

  <div class="card-body">
      
  </div>
</div>