<!-- <app-horizontal-timeline></app-horizontal-timeline> -->

<div *ngIf="advSearch | async" class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-close></app-card-actions-close>
        <h4 class="card-title m-b-0">ค้นหา</h4>
    </div>

    <div class="card-body">
        <form class="form-horizontal" #advForm="ngForm" (ngSubmit)="onAdvSearch(advForm)">
            <div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่ใบงาน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="ArrestCode" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่คดีรับคำกล่าวโทษ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="LawsuitNo" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ทะเบียนตรวจพิสูจน์ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="ProveReportNo" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">วันที่ตรวจรับ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group input-group form-line">
                            <input type="date" [(ngModel)]="DeliveryDateFrom" name="DeliveryDateFrom" class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">

                            <label for="">&nbsp; ถึง &nbsp;</label>

                            <input type="date" [(ngModel)]="DeliveryDateTo" name="DeliveryDateTo" class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">
                        </div>
                    </div>
                </div>

                <input type="hidden" name="DeliveryProgramCode" ngModel>
                <input type="hidden" name="DeliveryProcessCode" ngModel>
                <input type="hidden" name="ProveProgramCode" ngModel>
                <input type="hidden" name="ProveProcessCode" ngModel>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ชื่อผู้ตรวจรับ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="DeliveryName" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">วันที่ตรวจพิสูจน์ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group input-group form-line">
                            <input type="date" [(ngModel)]="ProveDateFrom" name="ProveDateFrom" ngModel class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">

                            <label for="">&nbsp; ถึง &nbsp;</label>

                            <input type="date" [(ngModel)]="ProveDateTo" name="ProveDateTo" ngModel class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">
                        </div>
                    </div>
                </div>



                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ชื่อผู้ตรวจพิสูจน์ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="ProveName" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-sm-3 control-label">หน่วยงาน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="DeliveryDepartmentName" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
          
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-block btn-themecolor">ค้นข้อมูล</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="card">
    <div class="card-body">

        <div class="table-responsive table-striped ">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>เลขที่ใบงาน</th>
                        <th>เลขที่คดีรับคำกล่าวโทษ</th>
                        <th>ทะเบียนตรวจพิสูจน์</th>
                        <th>ผู้ตรวจรับ</th>
                        <th>วันที่ตรวจรับ</th>
                        <th>ผู้ตรวจพิสูจน์</th>
                        <th>วันที่ตรวจพิสูจน์</th>
                        <th>หน่วยงาน</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ListProve; let i=index;">
                        <td class="text-center">{{i + 1}}</td>
                        <td>{{item.ArrestCode}}</td>
                        <td>{{item.LawsuitNo}}</td>
                        <td>{{item.ProveReportNo}}</td>
                        <td>
                            <div *ngFor="let staff of item.ProveStaff;">{{staff.TitleName}}{{staff.FirstName}} {{staff.LastName}}</div>
                        </td>
                        <td>{{item.DeliveryDate | date:'dd-MM-yyyy'}}</td>
                        <td>
                            <div *ngFor="let staff of item.ProveStaff;">{{staff.TitleName}}{{staff.FirstName}} {{staff.LastName}}</div>
                        </td>
                        <td>{{item.ProveDate | date:'dd-MM-yyyy'}}</td>
                        <td>
                            <div *ngFor="let staff of item.ProveStaff;">{{staff.DepartmentName}}</div>
                        </td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-secondary" (click)="clickView(item.LawsuitID,item.ArrestCode,item.ProveID)">
                                <i class="mdi mdi-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer card-footer-unset">
            <app-pagination-table [TotalItems]="paginage.TotalItems" [CurrentPage]="paginage.CurrentPage" [PageSize]="paginage.PageSize"
                [RowsPerPageOptions]="paginage.RowsPerPageOptions" (onPageChange)="pageChanges($event)">
            </app-pagination-table>
        </div>
    </div>
</div>