<div class="row m-t-10">
  <div class="col-12">
    <div class="card card-outline-bluish unset-radius" *ngIf="advSearch | async">
      <div class="card-header unset-radius">
        ค้นหาขั้นสูง
        <div class="card-actions">
          <a (click)="closeAdvSearch()">
            <i class="ti-close"></i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <form class="form-horizontal">
          <div class="form-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-form-label padding-adv-search col-md-4">เลขที่ใบงาน : </label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" [(ngModel)]="arrestCode" name="arrestCode">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-danger row">
                  <label class="col-form-label padding-adv-search col-md-4">เลขที่คดีรับคำกล่าวโทษ : </label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" [(ngModel)]="lawsuitNo" name="lawsuitNo">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-form-label padding-adv-search col-md-4">ทะเบียนตรวจพิสูจน์ : </label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" [(ngModel)]="proofNo" name="proofNo">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-danger row">
                  <label class="col-form-label padding-adv-search col-md-4">เลขที่เปรียบเทียบคดี : </label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" [(ngModel)]="caseNumber" name="caseNumber">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-form-label padding-adv-search col-md-4">วันที่เปรียบเทียบคดี : </label>
                  <div class="form-group input-group col-md-8">
                    <!-- <input class="form-control" type="date" [(ngModel)]="lawsuitDateStart" name="lawsuitDateStart"> -->
                    <div style="width:45%">
                      <my-date-picker name="lawsuitDateStart" locale="th" [(ngModel)]="lawsuitDateStart"></my-date-picker>
                    </div>
                    <label class="col-form-label text-center col-md-2">ถึง</label>
                    <div style="width:45%">
                      <!-- <input class="form-control" type="date" [(ngModel)]="lawsuitDateEnd" name="lawsuitDateEnd"> -->
                      <my-date-picker name="lawsuitDateEnd" locale="th" [(ngModel)]="lawsuitDateEnd"></my-date-picker>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-form-label padding-adv-search col-md-4">ผู้เปรียบเทียบคดี : </label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" [(ngModel)]="lawName" name="lawName">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-form-label padding-adv-search col-md-4">หน่วยงาน : </label>
                  <div class="col-md-8">
                    <input class="form-control" type="text" [(ngModel)]="departmentlawName" name="departmentlawName">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-right">
            <button type="submit" class="btn waves-effect waves-light text-white btn-search" (click)="onAdvSearch()">ค้นข้อมูล</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="table-responsive table-striped no-wrap">
          <table class="table">
            <thead>
              <tr>
                <th class="footable-sortable">ลำดับ</th>
                <th class="footable-sortable">เลขที่ใบงาน</th>
                <th class="footable-sortable">เลขที่คดีรับคำกล่าวโทษ</th>
                <th class="footable-sortable">ทะเบียนตรวจพิสูจน์</th>
                <th class="footable-sortable">เลขที่เปรียบเทียบคดี</th>
                <th class="footable-sortable">ผู้เปรียบเทียบคดี</th>
                <th class="footable-sortable">วันที่เปรียบเทียบคดี</th>
                <th class="footable-sortable">หน่วยงาน</th>
                <th class="footable-sortable"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="footable" *ngFor="let item of listData | slice:0:numberPage; let i = index;">
                <td>{{i + (startPage == 0 ? 1 : startPage)}}</td>
                <td>{{item.ArrestCode}}</td>
                <td>{{item.IsOutside === 1 ? 'น ' + item.LawsuitNo: item.LawsuitNo }}</td>
                <td>{{item.ProveReportNo}}</td>
                <td>{{item.IsOutside === 1 ? 'น ' + item.CompareCode: item.CompareCode}}</td>
                <td>
                  {{(item.AdjustCompareStaff[0]) ? item.AdjustCompareStaff[0].TitleName : ''}}{{(item.AdjustCompareStaff[0]) ? item.AdjustCompareStaff[0].FirstName : ''}} 
                  {{(item.AdjustCompareStaff[0]) ? item.AdjustCompareStaff[0].LastName : ''}}
                </td>
                <td>{{formatDate(item.CompareDate, 'DD MMM YYYY')}}</td>
                <td>{{(item.AdjustCompareStaff[0]) ? item.AdjustCompareStaff[0].OfficeShortName : ''}}</td>
                <td>
                  <a href="javaScript:void(0);" class="text-secondary" (click)="viewData(item.CompareID, item.IndictmentID)">
                    <i class="mdi mdi-eye fa-lg"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-transparent">
          <div class="row justify-content-between">
            <div clas="col">
              <a class="icn-pagination"> |&lt;&lt; </a>
              <label> หน้าที่
                <select (change)="changePage($event.target.value)">
                  <option *ngFor="let number of numberSelectPage;">{{number}}</option>
                </select> จาก {{allPageCount}} หน้า</label>
              <a class="icn-pagination m-r-10"> &gt;&gt;| </a>
              รายการที่ {{startPage}} - {{endPage}} จาก {{listRealData.length}} รายการ
            </div>
            <div class="col col-lg-3 text-right">
              <label>แสดง
                <select (change)="changeNumPage($event.target.value)">
                  <option>5</option>
                  <option>10</option>
                  <option>15</option>
                  <option>20</option>
                </select> รายการ</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
