.mydp * {
}

.mydp input, .mydp table * {
    font-family: 'Kanit', sans-serif;
}

.mydp input {
    width: 95%;
}

.unset-form-control {
    padding: unset !important;
    border: unset !important;
}