<<<<<<< HEAD

.mat-dialog-container {
    padding: 0px !important;

}
=======
.scollbar{
    margin: auto;
    position: auto;
    max-height: 600px;
    overflow-y: auto;
}
>>>>>>> 5703754fb4653b88f069d160f27183e90de927df
