
<div class="card card-outline-bluish unset-radius">
  
  <div class="card-header unset-radius">
    <h5 class="card-title m-b-0">คำพิพากษาของศาล</h5>
    <a (click)="closePopup()" style="float:right">
        <i class="ti-close"></i>
      </a>
  </div>
  <form [formGroup]="lawsuitArrestFormDialog">
    <div class="card-body">
      <div class="form-body">
        <div class="row">
          <div class="col-md-6">

            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">ชื่อผู้ต้องหา : </label>
              <div class="col-md-9">
                <input class="form-control" formControlName="arrestName" type="text" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">ชื่อศาล: </label>
              <div class="col-md-9">
                <input class="form-control" (input)="onChangeCourtName($event.target.value)" type="text"
                 [attr.disabled]="disabled ? '' : null" formControlName="CourtName">
                <div class="list-group" *ngIf="MasCourtListsuggestions.length">
                    <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="onChangeCourtNameResult(s)" 
                      *ngFor="let s of MasCourtListsuggestions">{{s.CourtName}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">หมายเลขคดีดำ : </label>
              <div class="col-md-9">
                <input class="form-control" type="text" [attr.disabled]="disabled ? '' : null" formControlName="UndecidedCaseNo">
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">หมายเลขคดีแดง: </label>
              <div class="col-md-9">
                <input class="form-control" type="text" [attr.disabled]="disabled ? '' : null" formControlName="DecidedCaseNo">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">คำพิพากษาฎีกาที่ : </label>
              <div class="col-md-9">
                <input class="form-control" type="text" [attr.disabled]="disabled ? '' : null" formControlName="JudgementNo">
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">วันที่อ่านคดีพิพากษา: </label>
              <div class="col-md-9">
                
                <input class="form-control" type="text" [attr.disabled]="disabled ? '' : null" formControlName="JudgementDate">
              </div>
            </div>
          </div>
        </div>

        <h5 class="card-title m-b-0">คำพิพากษาของศาล</h5>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="row form-group">
              <div class="col">
                <div class="form-check">
                  <input (change) = "onChangeFine()" formControlName="IsFine" class="form-check-input" type="checkbox" id="IsFine" name="IsFine">
                  <label class="form-check-label" for="IsFine">สั่งปรับเป็นจำนวนเงิน (บาท)</label>
                </div>
              </div>
              <div class="col-8">
                <input class="form-control" type="text" formControlName="CourtFine" class="form-check-input" id="CourtFine"
                  required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row form-group">
              <div class="col">
                <div class="form-check">
                  <input (change) = "onChangeImprison()"  formControlName="IsImprison" class="form-check-input"  type="checkbox" id="IsImprison" name="IsImprison">
                  <label class="form-check-label" for="IsImprison">สั่งจำคุกเป็นเวลา</label>
                </div>
              </div>
              <div class="col-8">
                <input class="form-control" type="text" formControlName="ImprisonTime" class="form-check-input" id="ImprisonTime"
                  required>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">หน่วย: </label>
              <div class="col-md-9">
                <input class="form-control" type="text" formControlName="ImprisonUnit" name="ImprisonUnit">
              </div>
            </div>
          </div>
        </div>

        <h5 class="card-title m-b-0">คำพิพากษาของศาล</h5>
        <br>

        <div class="row">
          <div class="col-md-12">
            <div class="row form-group">
              <div class="col">
                <div class="form-check">
                  <input formControlName="IsPayOnce" class="form-check-input" type="radio" id="IsPayOnce" name="IsPayOnce"
                    (change)="onChangePayOnce(1)" [value]="1">
                  <label class="form-check-label" for="IsPayOnce">ชำระครั้งเดียว</label>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="IsPayOnce == 1">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-form-label text-right col-md-3">วันที่กำหนดชำระ: </label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" formControlName="PaymentDate" name="PaymentDate">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row form-group">
              <div class="col">
                <div class="form-check">
                  <input formControlName="IsPayPeroid" class="form-check-input" type="radio" id="IsPayPeroid" name="IsPayPeroid"
                    (change)="onChangePayOnce(0)" [value]="1">
                  <label class="form-check-label" for="IsPayPeroid">แบ่งชำระป็นงวด</label>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="IsPayOnce == 0">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-form-label text-right col-md-3">จำนวนงาด: </label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" formControlName="PaymentPeroid">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-form-label text-right col-md-3">วันที่เริ่มชำระค่าปรับ: </label>
                  <div class="col-md-9">
                    <input class="form-control" type="text" formControlName="PaymentPeroidStartDate">
                  </div>
                </div>
              </div>
            </div>

            
          </div>
          
        </div>
        
      </div>
      <div  style="float:right">
          <button class="btn btn-primary" (click)="OnSave()"> บันทึก </button>
      </div>
    </div>
  </form>
  
</div>
