<ng-template #printDocModal let-c="close" let-d="dismiss">
  <app-print-lawsuit-modal (c)="modal.close()" (d)="modal.dismiss()" [IndictmentID]="IndictmentID"></app-print-lawsuit-modal>
</ng-template>

<ng-template #indicmetModal let-c="close" let-d="dismiss">
  <app-indicment-modal (c)="modal.close()" (d)="modal.dismiss()" [IndictmentID]="IndictmentID" [ArrestCode]="ArrestCode"></app-indicment-modal>
</ng-template>

<form [formGroup]="lawsuitArrestForm">
  <div class="wizard-content">
    <div class="wizard-circle wizard clearfix clearfix">
      <div class="steps tab-wizard">
        <ul role="tablist">
          <li role="tab" class="current" aria-disabled="false" aria-selected="true">
            <a>
              <span class="current-info audible">current step: </span>
              <span class="step"></span> 1. ใบแจ้งความนำจับ</a>
          </li>
          <li role="tab" class="current" aria-disabled="true">
            <a>
              <span class="step"></span> 2. งานจับกุม </a>
          </li>
          <li role="tab" class="current" aria-disabled="true">
            <a>
              <span class="step"></span> 3. รับคำกล่าวโทษ </a>
          </li>
          <li role="tab" class="disabled last" aria-disabled="true">
            <a>
              <span class="step"></span> 4. งานตรวจรับและพิสูจน์ของกลาง </a>
          </li>
          <li role="tab" class="disabled last" aria-disabled="true">
            <a>
              <span class="step"></span> 5. งานเปรียบเทียบและชำระค่าปรับ </a>
          </li>
          <li role="tab" class="disabled last" aria-disabled="true">
            <a>
              <span class="step"></span> 6. นำส่งเงินรายได้ </a>
          </li>
          <li role="tab" class="disabled last" aria-disabled="true">
            <a>
              <span class="step"></span> 7. คำร้องขอรับเงินสินบนรางวัล </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h5 class="card-title m-b-0">ข้อมูลการจับกุม</h5>
    </div>
    <div class="card-body">
      <div class="form-body">
        <div class="row">
          <div class="col-md-6">

            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">เลขที่ใบงาน : </label>
              <div class="col-md-9">
                <input class="form-control" type="text" [attr.disabled]="disabled ? '' : null" formControlName="ArrestCode">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">วันที่จับกุม : </label>
              <div class="col-md-4">
                <input class="form-control" type="text" [attr.disabled]="disabled ? '' : null" formControlName="OccurrenceDate">
              </div>
              <label class="col-form-label text-center col-md-2">เวลา</label>
              <div class="col-md-3">
                <input class="form-control" type="text" [attr.disabled]="disabled ? '' : null" formControlName="OccurrenceTime">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">เขียนที่ : </label>
              <div class="col-md-9">
                <input class="form-control" type="text" [attr.disabled]="disabled ? '' : null" formControlName="ArrestStation">
              </div>
            </div>
          </div>
        </div>
        <div formArrayName="LawsuitArrestStaff">
          <div class="row" *ngFor="let item of LawsuitArrestStaff.controls; let i=index;" [formGroupName]="i">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label text-right col-md-3">ผู้กล่าวหา : </label>
                <div class="col-md-9">
                  <input class="form-control" type="text" formControlName="FullName" [attr.disabled]="disabled ? '' : null">
                </div>

              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label text-right col-md-3">ตำแหน่ง : </label>
                <div class="col-md-9">
                  <input class="form-control" type="text" formControlName="PositionName" [attr.disabled]="disabled ? '' : null">
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label text-right col-md-3">หน่วยงาน : </label>
                <div class="col-md-9">
                  <input class="form-control" type="text" formControlName="DepartmentName" [attr.disabled]="disabled ? '' : null">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">ฐานความผิดมาตรา : </label>
              <div class="col-md-9">
                <input class="form-control" type="text" formControlName="SubSectionType" [attr.disabled]="disabled ? '' : null">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">ฐานความผิด : </label>
              <div class="col-md-9">
                <input class="form-control" type="text" formControlName="GuiltBaseName" [attr.disabled]="disabled ? '' : null">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">บทกำหนดโทษ : </label>
              <div class="col-md-9">
                <input class="form-control" type="text" formControlName="SectionNo" [attr.disabled]="disabled ? '' : null">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">อัตราโทษ : </label>
              <div class="col-md-9">
                <input class="form-control" type="text" formControlName="PenaltyDesc" [attr.disabled]="disabled ? '' : null">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive table-striped" *ngIf="LawsuitArrestIndictmentProductTableListShow">
        <table class="table" *ngIf="!errorShow">
          <thead>
            <tr>
              <th class="footable-sortable text-center">ลำดับ</th>
              <th class="footable-sortable">ของกลาง</th>
              <th class="footable-sortable">จำนวน</th>
              <th class="footable-sortable">หน่วย</th>
              <th class="footable-sortable">ปริมาณสุทธิ</th>
              <th class="footable-sortable">หน่วย</th>
            </tr>
          </thead>
          <tbody>
            <tr class="footable" *ngFor="let item of LawsuitArrestIndictmentProduct; let i=index;">
              <td class="text-center">{{i+1}}</td>
              <td>{{item.ProductProductDesc}}</td>
              <td>{{item.IndictmentProductQty}}</td>
              <td>{{item.IndictmentProductQtyUnit}}</td>
              <td>{{item.IndictmentProductVolume}}</td>
              <td>{{item.IndictmentProductVolumeUnit}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</form>
<form [formGroup]="lawsuitForm" novalidate *ngIf="lawsuitFormNoData">
  <div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h5 class="card-title m-b-0">รับคำกล่าวโทษ</h5>
    </div>
    <div class="card-body">
      <div class="form-body">
        <div class="row">
          <div class="col-md-12">

            <div class="row form-group">
              <div class="col">
                <input [attr.disabled]="showEditField ? '' : null" formControlName="IsLawsuitCheck" type="checkbox" id="IsLawsuit"
                  class="filled-in chk-col-indigo" [readonly]="showEditField" (change)="isLawsuitCheckReq()">
                <label for="IsLawsuit">ไม่รับคดีเป็นเพราะ</label>
              </div>
              <div class="col-md-10">
                <input class="form-control" name="ReasonDontLawsuit" type="text" formControlName="ReasonDontLawsuit"
                  [readonly]="showEditField" [ngClass]="{'ng-touched':isRequired}" [required]="this.lawsuitForm.controls['IsLawsuitCheck'].value"
                  [attr.disabled]="!this.lawsuitForm.controls['IsLawsuitCheck'].value ? '' : null">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row form-group">
              <div class="col">
                <input [attr.disabled]="showEditField || IsLawsuitComplete == 1 ? '' : null" formControlName="IsOutsideCheck"
                  name="IsOutsideCheck" type="checkbox" id="IsOutSide" class="filled-in chk-col-indigo" (change)="IsOutsideCheckReq()"
                  [readonly]="showEditField">
                <label for="IsOutSide">คดีรับคำกล่าวโทษนอกสถานที่</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">เลขที่คดีรับคำกล่าวโทษ : </label>
              <div class="col-md-4">
                <input class="form-control" type="text" formControlName="LawsuitNo" [readonly]="showEditField"
                  [ngClass]="{'ng-touched':isRequired}" [attr.disabled]="IsLawsuitComplete == 1 ? '' : null" required>
              </div>
              <label class="col-form-label text-center col-md-2">/</label>
              <div class="col-md-3">
                <input class="form-control" type="text" formControlName="LawsuitNoSub" [readonly]="showEditField"
                  [ngClass]="{'ng-touched':isRequired}" [attr.disabled]="IsLawsuitComplete == 1 ? '' : null" required>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">วันที่รับคดี : </label>
              <div class="col-md-4">
                <my-date-picker-th name="LawsuitDate" formControlName="LawsuitDate" placeholder="" locale="th"
                  [disabled]="showEditField" [options]="LawsuitDateOptions" required></my-date-picker-th>
                <!-- <input class="form-control" type="date" formControlName="LawsuitDate" [readonly]="showEditField"
                  [ngClass]="{'ng-touched':isRequired}" required> -->
              </div>
              <label class="col-form-label text-center col-md-2">เวลา</label>
              <div class="col-md-3">
                <input class="form-control" type="text" formControlName="LawsuitTime" [readonly]="showEditField"
                  [ngClass]="{'ng-touched':isRequired}" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-4">ผู้รับคดี : </label>
              <div class="col-md-8">
                <input class="form-control" [ngClass]="{'ng-touched':isRequired}" [matAutocomplete]="auto2"
                  formControlName="FullName" type="text" [readonly]="showEditField" (input)="onChangeFullname($event.target.value)"
                  name="FullName" required>
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option *ngFor="let sOption of suggestions" [value]="sOption" (onSelectionChange)="onChangeFullnameReslut(sOption)">
                    {{ sOption.FullName }}
                  </mat-option>
                </mat-autocomplete>
                <!-- <div class="list-group" *ngIf="suggestions.length">
                  <a class="list-group-item list-group-item-action" style="cursor: pointer;" (click)="onChangeFullnameReslut(s)" 
                    *ngFor="let s of suggestions">{{s.FullName}}</a>
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-3">ตำแหน่ง : </label>
              <div class="col-md-9">
                <input class="form-control" type="text" formControlName="PositionName" disabled>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-4">หน่วยงาน : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" formControlName="DepartmentName" disabled>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-4">เขียนที่ : </label>
              <div class="col-md-8">
                <input class="form-control" [matAutocomplete]="auto3" name="LawsuitStation" type="text" formControlName="LawsuitStation"
                  [readonly]="showEditField" [ngClass]="{'ng-touched':isRequired}" (input)="onChangeStation($event.target.value)" required>
                <mat-autocomplete #auto3="matAutocomplete">
                  <mat-option *ngFor="let sOption of suggestionsStation" [value]="sOption" (onSelectionChange)="onChangeStationReslut(sOption)">
                    {{ sOption.OfficeName }}
                  </mat-option>
                </mat-autocomplete>
                <!-- <div class="list-group" *ngIf="suggestionsStation.length">
                  <a class="list-group-item list-group-item-action" (click)="onChangeStationReslut(s)" style="cursor: pointer;"
                    *ngFor="let s of suggestionsStation">{{s.OfficeName}}</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-form-label text-right col-md-2">คำให้การของผู้กล่าวโทษ : </label>
              <div class="col-md-10">
                <textarea class="form-control" rows="5" [readonly]="showEditField" formControlName="AccuserTestimony"
                  [ngClass]="{'ng-touched':isRequired}" required></textarea>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="table-responsive table-striped" *ngIf="LawsuitTableListShow">
        <table class="table" *ngIf="!errorShow">
          <thead>
            <tr>
              <th class="footable-sortable text-center">ลำดับ</th>
              <th class="footable-sortable">ประเภทผู้ต้องหา</th>
              <th class="footable-sortable">ประเภทบุคคล</th>
              <th class="footable-sortable">หมายเลขอ้างอิง</th>
              <th class="footable-sortable">ชื่อผู้ต้องหา</th>
              <th class="footable-sortable">ลักษณะคดี</th>
              <th class="footable-sortable">คดีสิ้นสุดชั้น</th>
              <th class="footable-sortable"></th>
            </tr>
          </thead>
          <tbody formArrayName="LawsuitTableList">
            <tr class="footable" *ngFor="let item of LawsuitTableList.controls; let i=index;" [formGroupName]="i">
              <td class="text-center">{{i+1}}</td>
              <td>{{item.controls['EntityType'].value}}</td>
              <td>{{item.controls['LawbreakerType'].value}}</td>
              <td>{{item.controls['LawsuitNoRef'].value}}</td>
              <td>{{item.controls['LawBrakerFullName'].value}}</td>
              <td>
                <select formControlName="LawsuitType" class="form-control form-control-sm" [attr.disabled]="showEditField ? '' : null" (input)="changeLawsuitEnd($event.target.value, i)">
                  <option [value]="type.id" *ngFor="let type of lstype; let i=index">{{type.name}}</option>
                </select>
              </td>
              <td>
                <select formControlName="LawsuitEnd" class="form-control form-control-sm" disabled>
                  <option [value]="end.id" *ngFor="let end of lsend">{{end.name}}</option>
                </select>
              </td>
              <td>
                <!-- <a href="javaScript:void(0);" class="text-danger" (click)="editTable(item, i)">
                  <i class="fa fa-edit fa-lg"></i>
                </a> -->
                <a href="javaScript:void(0);" class="text-danger" *ngIf="!showEditField && item.controls['LawsuitType'].value == 0"
                  (click)="editTable(item.value, i)">
                  <i class="fa fa-edit fa-lg"></i>
                </a>
                <!-- <a href="javaScript:void(0);" class="text-secondary" (click)="viewData(item)" *ngIf="item.controls['LawsuitType'].value == 0">
                  <i class="mdi mdi-eye fa-lg"></i>
                </a> -->
                <!-- <a href="javaScript:void(0);" class="text-secondary" (click)="viewData(item)" *ngIf="!showEditField && item.value.LawsuitEnd == 1" >
                  <i class="mdi mdi-eye fa-lg"></i>
                </a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div class="card card-outline-bluish unset-radius">
    <div class="card-header  unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">เอกสารแนบภายใน</h4>
    </div>
    <div class="card-body">
      <div class="row form-group">
        <div class="col-lg-10 col-md-9 col-sm-8"></div>
        <div class="col-lg-2 col-md-3 col-sm-4">
          <button class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="addDocument()">เพิ่มเอกสารแนบ</button>
        </div>
      </div>
      <table class="table table-sm table-striped table-set-border">
        <thead>
          <tr>
            <th class="text-center">ลำดับ</th>
            <th>ชื่อเอกสารแนบ</th>
            <th>ที่อยู่เอกสารแนบ</th>
            <th></th>
          </tr>
        </thead>
        <tbody formArrayName="LawsuitDocument">
          <tr *ngFor="let item of LawsuitDocument.controls; let j=index;" [formGroupName]="j">
            <td class="text-center">{{j+1}}</td>
            <td>
              <input type="text" formControlName="DocumentName" class="form-control form-control-sm" [readonly]="showEditField">
            </td>
            <td>
              <div class="input-group">
                <input type="text" class="form-control form-control-sm" formControlName="FilePath" style="border-right: 0;"
                  [readonly]="showEditField" disabled>
                <div class="input-group-append">
                  <input [id]="'lawsuitAttach'+j" type="file" (input)="changeNoticeDoc($event, j)" hidden
                    [attr.disabled]="showEditField ? '' : null">
                  <label [for]="'lawsuitAttach'+j" class="input-group-text custom-file-upload text-secondary">
                    <i class="ti-more-alt"></i>
                  </label>
                </div>
              </div>
            </td>
            <td class="text-right">
              <a href="javaScript:void(0);" class="text-danger" *ngIf="!showEditField" (click)="onDeleteDocument(j)">
                <i class="fa fa-trash-o fa-lg"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>