.viewOffense {
    position: absolute;
    right: 20px;
    top: 2px;
}

label.find-img {
    cursor: pointer;
    span {
        position: absolute;
        left: 65px;
        bottom: 5px;
        z-index: 2;
        color: #fff;
    }
    
}

label.find-img::after {
    content: '';
    position: absolute;
    width: 180px;
    height: 35px;
    background-color: rgb(13, 83, 151);
    left: 15px;
    bottom: 0px;
}