<div class="container" style="margin-left: -80px;">
        <div class="solid"></div>
        <div class="solid1"></div>
    <ul class="progbar">
        <div class="row" style="margin-bottom: 60px; width: 830px;">
            <span style=" margin-left: 52px;margin-top: -22px;  font-size: 48px; font-weight: normal;">ประกาศ</span>
        </div>
        <div class="row" style="margin-bottom: 35px; width: 830px;">
            <li class="active"></li><br>
            <span style="margin-left: -100px; font-size: 17px;font-weight: bold;">วันที่ 21 มกราคม 2562</span>
            <h2 style="margin-left: 200px;float:left; font-size: 13px;">***ให้กรอกข้อมูล ค่าปรับรายสินค้า (หน่วย:บาท)
                ต่อรายการ
                ได้ที่เมนู 5.1 รายงานบัญชีสิ่งของ ส.ส 2/4***</h2><br>
            <h2 style="margin-left: 200px;float:left; font-size: 13px;"> ***ตั้งแต่ วันที่ 1 ตุลาคม 2561 เป็นต้นไป ***</h2>
        </div>
        <div class="row" style="margin-bottom: 35px; width: 830px;">
            <li></li><br>
            <span style="margin-left: -100px; font-size: 17px; font-weight: bold;">วันที่ 22 มกราคม 2562</span>
            <h2 style="margin-left: 200px;float:left; font-size: 13px;">*** หากต้องการเพิ่มข้อมูล (ชนิดสินค้า ,
                ชนิดยี่ห้อ, อื่นๆ)
                ติดต่อเจ้าหน้าที่ผู้ดูแลระบบ Tel: 64404, 64409, 64419
            </h2><br>
            <h2 style="margin-left: 200px;float:left; font-size: 13px;"> Helpdesk Tel: 02-241-5600 ต่อ 61601-08 ***</h2>
        </div>
        <div class="row" style="margin-bottom: 80px; width: 830px;">
            <li></li>
            <span style="margin-left: -100px;  font-size: 17px; margin-right: 118px; font-weight: bold;">วันที่ 23
                มกราคม 2562</span>
            <h1> </h1>
            <a href="http://192.168.3.134/XCS_Report_Law/UM_2560/UM_2560.pdf" target="_blank" style="margin-left: 200px;float:left; font-size: 13px;">Link=>>
                ดาวน์โหลดคู่มือใช้งานบันทึกค่าปรับรายสินค้า </a>
        </div>
        <div class="row" style="margin-bottom: 80px; width: 830px;">
            <li></li>
            <span style="margin-left: -100px;  font-size: 17px; margin-right: 129px; font-weight: bold;">วันที่ 24
                มกราคม 2562</span>
            <a href="http://192.168.3.134/XCS_Report_Law/UM_60/um_60.pdf" target="_blank" style="margin-left: 200px;float:left; font-size: 13px;">Link=>>
                ดาวน์โหลดคู่มือใช้งานบันทึกเป้าปราบปราม</a>
        </div>
        <div class="row" style="margin-bottom: 80px; width: 830px;">
            <li></li>
            <span style="margin-left: -100px; font-weight: bold;">วันที่ 24 มกราคม 2562</span>
            <a href="http://illegal.excise.go.th/XCS_illegal_old/" target="_blank" style="margin-left: 200px;float:left; font-size: 13px;">Link=>>
                เข้าสู่ระบบงานผู้กระทำผิดกฎหมายสรรพสามิต (พ.ร.บ. สุรา,ยาสูบ และภาษีสรรพสามิต 2527)</a>
        </div>
    </ul>
</div>
<!-- <div class="wizard-content1" style="margin-bottom: 10px;">
    <div class="wizard-circle wizard clearfix clearfix">
        <div class="steps tab-wizard">
            <ul role="tablist">
                <li class="current" aria-disabled="false" aria-selected="true">
                    <a style="margin: 40px"> 
                        <span style="margin-left: -620px;" class="step"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="steps tab-wizard">
            <ul role="tablist">
                <li role="tab" class="current" aria-disabled="false" aria-selected="true">
                    <a style="margin: 40px">
                        <span style="margin-left: -620px;" class="step"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="steps tab-wizard">
            <ul role="tablist">
                <li role="tab" class="current" aria-disabled="false" aria-selected="true">
                    <a style="margin: 40px">
                        <span style="margin-left: -620px;;" class="step"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="steps tab-wizard">
            <ul role="tablist">
                <li role="tab" class="current" aria-disabled="false" aria-selected="true">
                    <a style="margin: 40px">
                        <span style="margin-left: -620px;;" class="step"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div> -->


<!-- <mat-vertical-stepper [linear]="isLinear" #stepper>
    
    <mat-step>
        <form>
            <ng-template matStepLabel>วันที่ 21 มกราคม 2562</ng-template>
            <div>
                <a style="font-size: 13px" href="https://material.angular.io/components/stepper/overview?fbclid=IwAR2TTQXrTtyd7X6b9T0k-ab1Lrxm2nRBuoDCUC1jB0zYoNLMkLnOe-XwKvA">link
                    test</a>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>วันที่ 21 มกราคม 2562</ng-template>
            <div>
                <a style="font-size: 13px" href="https://material.angular.io/components/stepper/overview?fbclid=IwAR2TTQXrTtyd7X6b9T0k-ab1Lrxm2nRBuoDCUC1jB0zYoNLMkLnOe-XwKvA">link
                    test</a>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>วันที่ 21 มกราคม 2562</ng-template>
            <div>
                <a style="font-size: 13px" href="https://material.angular.io/components/stepper/overview?fbclid=IwAR2TTQXrTtyd7X6b9T0k-ab1Lrxm2nRBuoDCUC1jB0zYoNLMkLnOe-XwKvA">link
                    test</a>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>วันที่ 21 มกราคม 2562</ng-template>
            <div>
                <a style="font-size: 13px" href="https://material.angular.io/components/stepper/overview?fbclid=IwAR2TTQXrTtyd7X6b9T0k-ab1Lrxm2nRBuoDCUC1jB0zYoNLMkLnOe-XwKvA">link
                    test</a>
            </div>
        </form>
    </mat-step>
</mat-vertical-stepper> -->

<!-- <div class="container" style="margin-left: -80px;">
        <div class="solid">1</div>
        <ul class="progbar">
                
                <div class="row">
                        <li></li>
                        
                    </div>
                    <div class="row">
                            <li></li>
                       
                    </div>
                    <div class="row">
                            <li></li>
                        
                    </div>
        </ul>
</div> -->

<!-- <div class="container">
    <ul class="progbar">
        <li class="active"> step 1</li>
        <li >step 2</li>
        <li >step 3</li>
    </ul>
</div> -->