<!-- <div class="row">
  <div class="col-md-12">
    <app-form-group [columns]="columns" (outputChange)="formChange($event)"></app-form-group>
  </div>
</div> -->
<!-- {{
  formGroup.value | json
}} -->
<form [formGroup]="formGroup" (change)="formChange(formGroup)">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">เขียนที่ : </label>
        <div class="col-md-8">
          <input class="form-control" type="text" formControlName="StationOfPOA" [ngbTypeahead]="searchStationOfPOA">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">วันที่จัดทำ : </label>
        <div class="col-md-3">
          <my-date-picker formControlName="POADate" placeholder="dd/mm/yyyy" locale="th" [options]="myDatePickerOptions"></my-date-picker>
          <!-- <input class="form-control" type="text" formControlName="RequestDate"> -->
        </div>
        <label class="col-form-label text-center col-md-2">เวลา</label>
        <div class="col-md-3">
          <input class="form-control" type="text" formControlName="POATime">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">ผู้รับมอบอำนาจ : </label>
        <div class="col-md-8">
          <input class="form-control" formControlName="StaffMainName" [ngbTypeahead]="searchStaffMainName">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">ตำแหน่ง : </label>
        <div class="col-md-8">
          <input class="form-control" formControlName="PositionName" [attr.readonly]="true">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">หน่วยงาน : </label>
        <div class="col-md-8">
          <input class="form-control" formControlName="OfficeName" [attr.readonly]="true">
        </div>
      </div>
    </div>
  </div>

</form>
