<div class="form-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">เขียนที่ : </label>
        <div class="col-md-8">
          <input class="form-control" type="text" name="allegationCode" [disabled]="viewMode">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">วันที่จัดทำ : </label>
        <div class="col-md-3">
          <input class="form-control" type="text" name="lawsuitDate" [disabled]="viewMode">
        </div>
        <label class="col-form-label text-center col-md-2">เวลา</label>
        <div class="col-md-3">
          <input class="form-control" type="text" name="lawsuitTime" [disabled]="viewMode">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">ผู้กล่าวหา : </label>
        <div class="col-md-8">
          <input class="form-control" type="text" name="allegationCode" [disabled]="viewMode">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">ตำแหน่ง : </label>
        <div class="col-md-8">
          <input class="form-control" type="text" name="allegationCode" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-form-label col-md-4">หน่วยงาน : </label>
        <div class="col-md-8">
          <input class="form-control" type="text" name="allegationCode" disabled>
        </div>
      </div>
    </div>
  </div>
</div>
