<div class="card" *ngIf="advSearch | async">
  <div class="card-header card-navy">
    <h4 class="card-title m-b-0">ค้นหาขั้นสูง</h4>
  </div>
  <div class="card-body">
    <form class="form-horizontal">
      <div>
        <div class="row">
          <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่ใบงาน :</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่คดีรับคำกล่าวโทษ :</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control" placeholder="">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label for="" class="col-lg-2 col-sm-3 control-label">ทะเบียนตรวจพิสูจน์ :</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่เปรียบเทียบคดี :</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control" placeholder="">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label for="" class="col-lg-2 col-sm-3 control-label">วันที่เปรียบเทียบคดี :</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="form-group input-group form-line">
              <input type="date" id="" class="form-control" placeholder="วว/ดด/ปปปป">
              <label class="col-2 control-label m-t-5 text-center">ถึง</label>
              <input type="date" id="" class="form-control" placeholder="วว/ดด/ปปปป">
            </div>
          </div>
          <label for="" class="col-lg-2 col-sm-3 control-label">ผู้เปรียบเทียบคดี :</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control" placeholder="">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <label for="" class="col-lg-2 col-sm-3 control-label">หน่วยงาน :</label>
          <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="" class="form-control" placeholder="">
              </div>
            </div>
          </div>
        </div>

        <div class=" text-right">
          <button class="btn waves-effect waves-light btn-navy">ค้นข้อมูล</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="dataTable table table-sm table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center">ลำดับ</th>
                  <th>เลขที่ใบงาน</th>
                  <th>เลขที่คดีรับคำกล่าว</th>
                  <th>ทะเบียนตรวจพิสูจน์</th>
                  <th>เลขที่เปรียบเทียบคดี</th>
                  <th>ผู้เปรียบเทียบคดี</th>
                  <th>วันที่เปรียบเทียบคดี</th>
                  <th>หน่วยงาน</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of response">
                  <td class="text-center">{{item.no}}</td>
                  <td>{{item.work_no}}</td>
                  <td>{{item.case_no}}</td>
                  <td>{{item.checklist}}</td>
                  <td>{{item.compare_no}}</td>
                  <td>{{item.lawyer}}</td>
                  <td>{{item.compare_day}}</td>
                  <td>{{item.department}}</td>
                  <td>
                    <a href="javaScript:void(0);" class="text-secondary" (click)="viewData(item.work_no)">
                      <i class="mdi mdi-eye fa-lg"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row pages">
          <div class="col-9 ">
            <a href="#">|&lt;&lt;</a> หน้าที่
            <select class="custom-select">
              <option>
            </select> จาก 2 หน้า
            <a href="#">&gt;&gt;|</a> รายการที่ 1-5 จาก 13 รายการ
          </div>
          <div class="col-3 text-right">
            แสดง
            <select class="custom-select">
              <option (click)="numPage = 5">5</option>
              <option (click)="numPage = 10">10</option>
              <option (click)="numPage = 15">15</option>
            </select> รายการ
          </div>
        </div>
      </div>

    </div>
  </div>
</div>