<app-step-wizard [sectionId]="2"></app-step-wizard>
<form action="" [formGroup]="arrestIndictmentFG">
  <div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
      <div class="card-actions">
        <a class="">
          <i class="fa" [ngClass]="{'fa-chevron-down': card1, 'fa-chevron-up': !card1}"></i>
        </a>
      </div>
      <h4 class="card-title m-b-0">ฐานความผิด</h4>
    </div>
    <div *ngIf="card1" class="card-body">
      <div class="row">
        <label for="" class="col-lg-2 col-sm-4 control-label">ฐานความผิดมาตรา :</label>
        <div class="form-group col-lg-4 col-md-7 col-sm-8">
          <input formControlName="SubSectionType" type="text" class="form-control form-control-sm" required [readOnly]="showEditField">
          <a href="javaScript:void(0);" class="more text-secondary" (click)="!showEditField && openModal(allegation)">
            <i class="ti-more-alt" aria-hidden="true"></i>
          </a>
          <ng-template #allegation let-c="close" let-d="dismiss">
            <app-allegation-modal (c)="modal.close()" (d)="modal.dismiss()" (outputArrestLawGuiltbase)="setArrestLawGuiltbase($event)"></app-allegation-modal>
          </ng-template>
        </div>

        <label for="" class="col-lg-2 col-sm-4 control-label">ฐานความผิด :</label>
        <div class="form-group col-lg-4 col-md-7 col-sm-8">
          <input formControlName="GuiltBaseName" type="text" class="form-control form-control-sm" required readonly>
        </div>
      </div>
      <div class="row">
        <label for="" class="col-lg-2 col-sm-4 control-label">บทกำหนดโทษ :</label>
        <div class="form-group col-lg-4 col-md-7 col-sm-8">
          <input formControlName="SectionNo" type="text" class="form-control form-control-sm" required readonly>
        </div>

        <label for="" class="col-lg-2 col-sm-4 control-label">บทกำหนดโทษ :</label>
        <div class="form-group col-lg-4 col-md-7 col-sm-8">
          <input formControlName="PenaltyDesc" type="text" class="form-control form-control-sm" required readonly>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
      <div class="card-actions">
        <a class="" (click)="cardProduct = !cardProduct">
          <i class="fa" [ngClass]="{'fa-chevron-down': cardProduct, 'fa-chevron-up': !cardProduct}"></i>
        </a>
      </div>
      <h4 class="card-title m-b-0">ของกลาง</h4>
    </div>
    <div *ngIf="cardProduct" class="card-body">

      <div class="table-responsive">
        <table class="table table-sm table-striped table-set-border">
          <thead>
            <tr>
              <th class="text-center">
                <input type="checkbox" id="productTh" class="filled-in chk-col-indigo" (change)="productCheckAll()"
                  [checked]="isCheckAll">
                <label for="productTh" class="m-t-10 m-b-0"></label>
              </th>
              <th class="text-center">ลำดับ</th>
              <th>ของกลาง</th>
              <th>จำนวน</th>
              <th>หน่วย</th>
              <th>ปริมาณสุทธิ</th>
              <th>หน่วย</th>
              <th></th>
            </tr>
          </thead>
          <tbody formArrayName="ArrestProduct">
            <tr *ngFor="let item of ArrestProduct.controls; let i=index;" [formGroupName]="i">
              <td *ngIf="item.get('IsModify').value != 'd'" class="text-center">
                <input type="checkbox" formControlName="IsChecked" [id]="'productTd'+i" class="filled-in chk-col-indigo"
                  (change)="isCheckAll && isCheckAll = false">
                <label [for]="'productTd'+i" class="m-0"></label>
              </td>
              <td *ngIf="item.get('IsModify').value != 'd'" class="text-center">{{item.get('RowId').value}}</td>
              <td *ngIf="item.get('IsModify').value != 'd'" style="max-width: 200px;">
                {{item.get('ProductDesc').value}}
              </td>
              <td *ngIf="item.get('IsModify').value != 'd'" style="max-width: 50px;">
                <input type="number" min="0" formControlName="Qty" class="form-control form-control-sm" required
                  [attr.disabled]="showEditField ? '' : null">
              </td>
              <td *ngIf="item.get('IsModify').value != 'd'" style="max-width: 60px;">
                <ng-template #qtyUnit let-r="result" let-t="term">
                    {{ r.DutyCode }}
                </ng-template>
                <input type="text" class="form-control form-control-sm" 
                    [ngbTypeahead]="searchUnit" [resultTemplate]="qtyUnit" [inputFormatter]="formatterUnit"
                    (selectItem)="selectItemQtyUnit($event, i)" [value]="item.value.QtyUnit" />
            </td>
              <td *ngIf="item.get('IsModify').value != 'd'" style="max-width: 50px;">
                <input type="number" min="0" formControlName="NetVolume" class="form-control form-control-sm"
                  [attr.disabled]="showEditField ? '' : null">
              </td>
              <td *ngIf="item.get('IsModify').value != 'd'" style="max-width: 60px;">
                <ng-template #netVolumeUnit let-r="result" let-t="term">
                  {{ r.DutyCode }}
                </ng-template>
                <input type="text" class="form-control form-control-sm" [ngbTypeahead]="searchUnit"
                  [resultTemplate]="netVolumeUnit" [inputFormatter]="formatterUnit" (selectItem)="selectItemNetVolumeUnit($event, i)"
                  [value]="item.value.NetVolumeUnit" />
              </td>
              <td *ngIf="item.get('IsModify').value != 'd'">
                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteProduct(i)">
                  <i class="fa fa-trash-o fa-lg"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
      <div class="card-actions">
        <a class="" (click)="card2 = !card2">
          <i class="fa" [ngClass]="{'fa-chevron-down': card2, 'fa-chevron-up': !card2}"></i>
        </a>
      </div>
      <h4 class="card-title m-b-0">ผู้ต้องหา</h4>
    </div>
    <div *ngIf="card2" class="card-body">
      <div class="row form-group">
        <div class="col-lg-10 col-md-9 col-sm-8"></div>
        <div class="col-lg-2 col-md-3 col-sm-4">
          <button type="button" class="btn btn-block btn-themecolor" (click)="openModal(allegationDetail)" [disabled]="showEditField">เพิ่มรายการ</button>

          <ng-template #allegationDetail let-c="close" let-d="dismiss">
            <app-allegation-detail-modal (c)="modal.close()" (d)="modal.dismiss()" (OutputLawbreaker)="addArrestLawbreaker($event)"></app-allegation-detail-modal>
          </ng-template>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-sm table-striped table-set-border">
          <thead>
            <tr>
              <th class="text-center">ลำดับ</th>
              <th>ประเภทผู้ต้องสงสัย</th>
              <th>ประเภทบุคคล</th>
              <th>หมายเลขอ้างอิง</th>
              <th>ชื่อ</th>
              <th></th>
            </tr>
          </thead>
          <tbody formArrayName="ArrestLawbreaker">
            <tr *ngFor="let item of ArrestLawbreaker.controls; let i=index;" [formGroupName]="i">
              <td class="text-center">{{item.get('RowId').value}}</td>
              <td>{{item.get('LawbreakerTypeName').value}}</td>
              <td>{{item.get('EntityTypeName').value}}</td>
              <td>{{item.get('ReferenceID').value}}</td>
              <td>{{item.get('LawbreakerFullName').value}}</td>
              <td class="text-center">
                <a href="javaScript:void(0);" class="text-warning text-secondary" (click)="deleteLawbreaker(i)">
                  <i class="fa fa-trash-o fa-lg"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</form>