<app-step-wizard [sectionId]="2"></app-step-wizard>
<form action="">
  <div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
      <div class="card-actions">
        <a class="">
          <i class="fa" [ngClass]="{'fa-chevron-down': card1, 'fa-chevron-up': !card1}"></i>
        </a>
      </div>
      <h4 class="card-title m-b-0">ฐานความผิด</h4>
    </div>
    <div *ngIf="card1" class="card-body">
      <div class="row">
        <label for="" class="col-lg-2 col-sm-4 control-label">ฐานความผิดมาตรา :</label>
        <div class="form-group col-lg-4 col-md-7 col-sm-8" >
          <input type="text" class="form-control form-control-sm" [readOnly]="showEditField">
          <a href="javaScript:void(0);" class="more text-secondary" (click)="!showEditField && openModal(allegation)">
            <i class="ti-more-alt" aria-hidden="true"></i>
          </a>
          <ng-template #allegation let-c="close" let-d="dismiss">
            <app-allegation-modal (c)="modal.close()" (d)="modal.dismiss()"></app-allegation-modal>
          </ng-template>
        </div>

        <label for="" class="col-lg-2 col-sm-4 control-label">ฐานความผิด :</label>
        <div class="form-group col-lg-4 col-md-7 col-sm-8">
          <input type="text" class="form-control form-control-sm" readonly>
        </div>
      </div>
      <div class="row">
        <label for="" class="col-lg-2 col-sm-4 control-label">บทกำหนดโทษ :</label>
        <div class="form-group col-lg-4 col-md-7 col-sm-8">
          <input type="text" class="form-control form-control-sm" readonly>
        </div>

        <label for="" class="col-lg-2 col-sm-4 control-label">บทกำหนดโทษ :</label>
        <div class="form-group col-lg-4 col-md-7 col-sm-8">
          <input type="text" class="form-control form-control-sm" readonly>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
      <div class="card-actions">
        <a class="" (click)="card2 = !card2">
          <i class="fa" [ngClass]="{'fa-chevron-down': card2, 'fa-chevron-up': !card2}"></i>
        </a>
      </div>
      <h4 class="card-title m-b-0">รายละเอียดข้อกล่าวหา</h4>
    </div>
    <div *ngIf="card2" class="card-body">
      <div class="row form-group">
        <div class="col-lg-10 col-md-9 col-sm-8"></div>
        <div class="col-lg-2 col-md-3 col-sm-4">
          <button type="button" class="btn btn-block btn-themecolor" (click)="openModal(allegationDetail)" 
          [disabled]="showEditField">เพิ่มรายการ</button>

          <ng-template #allegationDetail let-c="close" let-d="dismiss">
            <app-allegation-detail-modal (c)="modal.close()" (d)="modal.dismiss()"></app-allegation-detail-modal>
          </ng-template>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-sm table-striped table-set-border">
          <thead>
            <tr>
              <th class="text-center">ลำดับ</th>
              <th>ประเภทผู้ต้องสงสัย</th>
              <th>ประเภทบุคคล</th>
              <th>หมายเลขอ้างอิง</th>
              <th>ชื่อ</th>
              <th>ของกลาง</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <th>
                <a class="text-danger" *ngIf="!showEditField" href="javaScript:void(0);">
                  <i class="fa fa-edit fa-lg"></i>
                </a>
              </th>
              <td>
                <a class="text-warning" *ngIf="!showEditField" href="javaScript:void(0);">
                  <i class="fa fa-trash-o fa-lg"></i>
                </a>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>

    </div>
  </div>
</form>