<form action="" #form="ngForm" (ngSubmit)="onPrint(form)">
    <div class="modal-header bg-theme">
        <div class="row">
            <div class="col-lg-5">
                <h4 class="modal-title text-white">พิมพ์เอกสาร</h4>
            </div>
            <a href="javaScript:void(0);" class="close text-white font-14" aria-label="Close" (click)="dismiss('Cross click')">
                <span aria-hidden="true">
                    <i class=" ti-close"></i>
                </span>
            </a>
        </div>
    </div>
    <h5 class="text-right mt-3 pr-3">ILG60-03-02-01-00</h5>
    <div class="modal-body font-14">

        <div class="table-responsive">
            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">ลำดับ</th>
                        <th>ชื่อเอกสาร</th>
                        <th [ngSwitch]="sort" style="cursor: pointer;" (click)="sort = (sort == 'asc' ? 'desc' : 'asc'); sortPrintDoc()">
                            ประเภทเอกสาร
                            <i *ngSwitchCase="'desc'" class="fa fa-sort-amount-desc"></i>
                            <i *ngSwitchCase="'asc'" class="fa fa-sort-amount-asc"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of printDoc; let i=index;">
                        <td class="text-center">
                            <input type="checkbox" [id]="'td'+i" name="ischeck" ngModel class="filled-in chk-col-indigo">
                            <label [for]="'td'+i" class="m-0"></label>
                        </td>
                        <td class="text-center">{{i+1}}</td>
                        <td>{{item.DocName}}</td>
                        <td>{{item.DocType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-lg-2 col-4">
            <button type="submit" class="btn btn-block btn-themecolor">พิมพ์</button>
        </div>
    </div>
</form>