<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">รายละเอียดคดี</h4>
  </div>
  <div class="card-body">
    <ILG60-08-02-00-00-E08 [IndictmentID]="IndictmentID"></ILG60-08-02-00-00-E08>
  </div>
</div>

<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">คำสั่งกรมฯ กรณีที่มีผู้แจ้งความนำจับหลายคน</h4>
  </div>
  <div class="card-body">
    <ILG60-08-02-00-00-E09 [IndictmentID]="IndictmentID" [ArrestCode]="ArrestCode"></ILG60-08-02-00-00-E09>
  </div>
</div>

<div class="card ">
  <div class="card-header unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">คำร้องขอรับเงินสินบน</h4>
  </div>
  <div class="card-body">
    <ILG60-08-02-00-00-E11 [IndictmentID]="IndictmentID" [ArrestCode]="ArrestCode"></ILG60-08-02-00-00-E11>
  </div>
</div>

<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">คำร้องขอรับเงินรางวัล</h4>
  </div>

  <div class="card-body">
    <ILG60-08-02-00-00-E14 [IndictmentID]="IndictmentID" [ArrestCode]="ArrestCode"></ILG60-08-02-00-00-E14>
  </div>
</div>
