<mat-accordion [multi]="true">
  <mat-expansion-panel [expanded]="ILG60_08_02_00_00E08_EXPANDED$ | async" [disabled]="ILG60_08_02_00_00E08_DISABLED$ | async"
    (opened)="ILG60_08_02_00_00E08_EXPANDED$.next(true)" (closed)="ILG60_08_02_00_00E08_EXPANDED$.next(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4 class="card-title m-b-0">รายละเอียดคดี</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="card-body">
        <ILG60-08-02-00-00-E08 [RequestArrestLawsuitgetByIndictmentID]="RequestArrestLawsuitgetByIndictmentID$ | async"></ILG60-08-02-00-00-E08>
      </div>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="ILG60_08_02_00_00E09_EXPANDED$ | async" [disabled]="ILG60_08_02_00_00E09_DISABLED$ | async"
    (opened)="ILG60_08_02_00_00E09_EXPANDED$.next(true)" (closed)="ILG60_08_02_00_00E09_EXPANDED$.next(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4 class="card-title m-b-0">คำสั่งกรมฯ กรณีที่มีผู้แจ้งความนำจับหลายคน</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="card-body">
        <ILG60-08-02-00-00-E09 [gridData]="ILG60_08_02_00_00E09_DATA$ | async"></ILG60-08-02-00-00-E09>
      </div>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="ILG60_08_02_00_00E11_EXPANDED$ | async" [disabled]="ILG60_08_02_00_00E11_DISABLED$ | async"
    (opened)="ILG60_08_02_00_00E11_EXPANDED$.next(true)" (closed)="ILG60_08_02_00_00E11_EXPANDED$.next(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4 class="card-title m-b-0">คำร้องขอรับเงินสินบน</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="card-body">
        <ILG60-08-02-00-00-E11 [IndictmentID]="IndictmentID" [ArrestCode]="ArrestCode" [mode]="mode$  | async"
          [gridData]="ILG60_08_02_00_00E11_DATA$ | async"></ILG60-08-02-00-00-E11>
      </div>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="ILG60_08_02_00_00E14_EXPANDED$ | async" [disabled]="ILG60_08_02_00_00E14_DISABLED$ | async"
    (opened)="ILG60_08_02_00_00E14_EXPANDED$.next(true)" (closed)="ILG60_08_02_00_00E14_EXPANDED$.next(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4 class="card-title m-b-0">คำร้องขอรับเงินรางวัล</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="card-body">
        <ILG60-08-02-00-00-E14 [IndictmentID]="IndictmentID" [ArrestCode]="ArrestCode" [mode]="mode$  | async"
          [gridData]="ILG60_08_02_00_00E14_DATA$ | async"></ILG60-08-02-00-00-E14>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
