<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">

        <!-- User profile -->

        <!-- <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">

            <div class="profile-img">
                <img src="assets/images/users/1.jpg" alt="user" /> </div>

            <div class="profile-text" style="margin-top: -32px; padding-bottom: 0px;">
                <a href="#" class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="true" style="padding: 10px;">
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu animated flipInY">
                    <a href="javascript:void(0)" class="dropdown-item">
                        <i class="ti-user"></i> My Profile</a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        <i class="ti-wallet"></i> My Balance</a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        <i class="ti-email"></i> Inbox</a>
                    <div class="dropdown-divider"></div>
                    <a href="javascript:void(0)" class="dropdown-item">
                        <i class="ti-settings"></i> Account Setting</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </div> -->
        
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li [ngClass]="{'active': activeRoute('suppression')}">
                    <a class="has-arrow" href="javascript:void(0)">
                        <strong>1</strong>
                        <span class="hide-menu">งานปราบปราม</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/suppression/investigation/list">
                                <span>1.1 รายงานการสืบสวน</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/notice/list']">
                                <!-- <i class="mdi mdi-account-alert"></i> -->
                                <span>1.2 ใบแจ้งความนำจับ</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li [ngClass]="{'active': activeRoute('arrest')}">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/arrest/list">
                        <strong>2</strong>
                        <span class="hide-menu">บันทึกการจับกุม(ส.ส. 2/39)</span>
                    </a>
                </li>
                <li [ngClass]="{'active': activeRoute('lawsuit')}">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/lawsuit/list">
                        <!-- <i class="mdi mdi-account-alert"></i> -->
                        <strong>3</strong>
                        <span class="hide-menu">รับคำกล่าวโทษ </span>
                    </a>
                </li>
                <li [ngClass]="{'active': activeRoute('prove')}">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/prove/list">
                        <!-- <i class="mdi mdi-account-alert"></i> -->
                        <strong>4</strong>
                        <span class="hide-menu">งานตรวจรับและพิสูจน์ของกลาง</span>
                    </a>
                </li>
                <li [ngClass]="{'active': activeRoute('fine')}">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/fine/list">
                        <!-- <i class="mdi mdi-account-alert"></i> -->
                        <strong>5</strong>
                        <span class="hide-menu">งานเปรียบเทียบและชำระค่าปรับ</span>
                    </a>
                </li>
                <li [ngClass]="{'active': activeRoute('income')}">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/income/list">
                        <!-- <i class="mdi mdi-account-alert"></i> -->
                        <strong>6</strong>
                        <span class="hide-menu">นำส่งเงินรายได้</span>
                    </a>
                </li>
                <li [ngClass]="{'active': activeRoute('reward')}">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/reward/list">
                        <!-- <i class="mdi mdi-account-alert"></i> -->
                        <strong>7</strong>
                        <span class="hide-menu">คำร้องขอรับเงินสินบนรางวัล</span>
                    </a>
                </li>
                <li [ngClass]="{'active': activeRoute('reduction')}">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/reduction/list">
                        <!-- <i class="mdi mdi-account-alert"></i> -->
                        <strong>8</strong>
                        <span class="hide-menu">รายการปรับเพิ่ม-ปรับลด </span>
                    </a>
                </li>

                <!-- <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/master">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu">ผู้ดูแลระบบ</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="religion/list">1.
                                ข้อมูลศาสนา</a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="relation/list">2.
                                ข้อมูลความสัมพันธ์</a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="arrest/list">3. ข้อมูลหมวดภาพถ่าย</a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="nationality/list">3.
                                ข้อมูลสัญชาติ</a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="race/list">4.
                                ข้อมูลเชื่อชาติ</a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="dutygroup/list">5.
                                ข้อมูลหมวดสินค้า</a>
                        </li>
                    </ul>
                </li>  -->
                <!-- <li [ngClass]="{'active': activeRoute('reward')}">
                    <ul>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/reward']">
                             
                                <span class="hide-menu">8. คำร้องขอรับเงินสินบนรางวัล</span>
                            </a>
                        </li>
                    </ul>
                </li> -->
<!-- 
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/">
                        
                        <strong>9</strong>
                        <span class="hide-menu">การจัดการของกลาง</span>
                    </a>
                </li> -->
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <strong>9</strong>
                        <span class="hide-menu">งานบริหารจัดการของกลาง</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/evidenceIn/list">
                                <span>9.1 ตรวจรับของกลางเพื่อเก็บรักษา</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/evidenceOut/list/11/']">
                                <span>9.2 คืนของกลาง</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/evidenceOut/list/12/']">
                                <span>9.3 จัดเก็บเข้าพิพิธภัณฑ์</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/evidenceOut/list/13/']">
                                <span>9.4 ขายทอดตลาด</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/evidenceOut/list/14/']">
                                <span>9.5 ทำลายของกลาง</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/evidenceOut/list/15/']">
                                <span>9.6 นำของกลางออกจากคลัง</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/evidenceOut/list/16/']">
                                <span>9.7 โอนย้ายของกลาง</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/evidenceStock/list/']">
                                <span>9.8 ทะเบียนบัญชีสินค้าและของกลาง</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <!-- <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/uac/list"> -->
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"> 
                    <!-- <i class="mdi mdi-account-alert"></i> -->
                        <strong>10</strong>
                        <span class="hide-menu">การจัดการสิทธิเข้าถึงข้อมูลระบบผู้กระทำผิด</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/uac/role/list">
                                <span>10.1 จัดการสิทธิ์ระดับบทบาท</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/uac/useraccount/list']">
                                <span>10.2 จัดการสิทธิ์ระดับผู้ใช้</span>
                            </a>
                        </li>
                        
                    </ul>
                </li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/report/list">              
                        <strong>11</strong>
                        <span class="hide-menu">รายงานส่วนคดี</span>
                    </a>
                </li>
                <a href="javascript:void(0)" class="dropdown-item" [routerLink]="['/logout']">
                    <i class="fa fa-power-off"></i>
                    <span class="hide-menu">Logout</span>
                </a>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
        <span class="link p-3">
            เวอร์ชั่น {{this.textVersion | async}}
        </span>
        <!-- item-->
        <!-- <a href="" class="link" data-toggle="tooltip" title="Email">
            <i class="mdi mdi-gmail"></i>
        </a> -->
        <!-- item-->
        <!-- <a href="" class="link" data-toggle="tooltip" title="Logout">
            <i class="mdi mdi-power"></i>
        </a> -->
    </div>
    <!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->