.sidebar-nav > ul > li > a strong {
    width: 27px;
    height: 27px;
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar-nav > ul > li > a strong{
    padding-left: 4px;
}