.btn-navy {
  background: rgb(0, 94, 141);
  color: white;
}

.top-navbar {
  background: linear-gradient(45deg, rgb(0, 94, 141), rgb(53, 57, 147));
}

.btn-action {
  color: red;
  font-size: 20px;
  cursor: pointer;
}

#btn-browse {
  opacity: 0;
}

.modal-lg {
  max-width: 1200px;
  margin-left: 170px;
}

.form-popup {
  margin-bottom: 0;
}

.col-form-label {
  color: black;
  font-weight: 400;
}
