<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/']">
                <!-- Logo icon -->
                <b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="assets/images/logo-excise.png" alt="homepage" class="dark-logo" style="height: 60px;" />
                    <!-- Light Logo icon -->
                    <img src="assets/images/logo-excise.png" alt="homepage" class="light-logo" style="height: 60px;" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span class="text-white heading">
                    กรมสรรพสามิต
                </span>
                <br>
                <span class="text-white sub-heading">THE EXCISE DEPARTMENT</span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0">
                <!-- This is  -->
                <li class="nav-item">
                    <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="mdi mdi-menu"></i>
                    </a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-menu"></i>
                    </a>
                </li> -->

                <li *ngIf="prevPageButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickPrevPage()">
                             {{prevPageTitle | async}}
                        </a>
                    </div>
                </li>

                <li *ngIf="newButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickNew()">
                            <i class="ti-plus"></i>
                            สร้างข้อมูล
                        </a>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- Manage -->
                <!-- ============================================================== -->
                <li *ngIf="printButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickPrint()">
                            <i class="ti-printer"></i>
                            พิมพ์
                        </a>
                    </div>
                </li>
                <li *ngIf="editButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickEdit()">
                            <i class="fa fa-edit"></i>
                            แก้ไข
                        </a>
                    </div>
                </li>
                <li *ngIf="deleteButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickDelete()" style="background-color: #f47023">
                            <i class="ti-trash"></i>
                            ลบ
                        </a>
                    </div>
                </li>
                <li *ngIf="saveButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickSave()">
                            <i class="ti-save"></i>
                            บันทึก
                        </a>
                    </div>
                </li>
                <li *ngIf="cancelButton | async" class="nav-item">
                    <div class="nav-link text-muted waves-effect waves-dark">
                        <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickCancel()">
                            <i class="ti-close"></i>
                            ยกเลิก
                        </a>
                    </div>
                </li>
            </ul>

            <!-- <div style="color: white; font-size: 17px;position: fixed;left: 33%;">ระบบงานผู้กระทำผิดกฎหมายภาษีสรรพสามิต พ.ร.บ.ภาษีสรรพสามิต พ.ศ.2560</div> -->

            <!-- <ul *ngIf="searchBar | async" class="navbar-nav my-lg-0">

            </ul> -->
            <!-- ============================================================== -->
            <!-- search -->
            <!-- ============================================================== -->
            <ul *ngIf="searchBar | async" class="navbar-nav my-lg-0">
                <li class="nav-item col-8">
                    <form autocomplete="off" class="app-search" #formSearch="ngForm" (ngSubmit)="clickSearch(formSearch)">
                        <input type="search" name="Textsearch" id="" ngModel class="form-control">
                        <a href="javaScript:void(0);" (click)="clickSearch(formSearch)" class="srh-btn">
                            <i class="ti-search"></i>
                        </a>
                    </form>
                </li>
                <li class="nav-item col-9">
                    <a href="javaScript:void(0);" class="btn text-white" (click)="clickAdvSearch()">
                        ค้นหาขั้นสูง
                    </a>
                </li>
            </ul>
            <div *ngIf="nextPageButton | async" class="navbar-nav my-lg-0">
                <div class="nav-link text-muted waves-effect waves-dark">
                    <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickNextPage()">
                        {{nextPageTitle | async}} >>
                    </a>
                </div>
            </div>
            <div *ngIf="sendInComeButton | async" class="navbar-nav my-lg-0">
                <div class="nav-link text-muted waves-effect waves-dark">
                    <a class="btn btn-ghost" href="javascript:void(0)" (click)="clickSendIncome()">
                        ส่งเงินรายได้ >>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
