.navbar-brand {
    font-size: unset;
    .heading{
        font-size: 1.53rem;
    }
    .sub-heading{
        font-size: smaller;
        position: absolute;
        top: 16px;
        left: 67px;
    }
}