<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <b>
          <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
          <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
        </b>
        <span>
          <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
          <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
        </span>
      </a>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <div class="m-l-10">
          <button *ngIf="printButton | async" type="button" class="btn waves-effect waves-light header-btn" data-toggle="modal" data-target="#printDocumentPopup">
            <i class="ti-printer m-r-5"></i> พิมพ์ </button>
          <button *ngIf="editButton | async" (click)="clickEdit()" type="button" class="btn waves-effect waves-light header-btn">
            <i class="ti-pencil-alt m-r-5"></i> แก้ไข </button>
          <button *ngIf="deleteButton | async" type="button" class="btn waves-effect waves-light header-btn btn-delete">
            <i class="ti-trash m-r-5"></i> ลบ </button>
          <button *ngIf="saveButton | async" (click)="clickSave()" type="button" class="btn waves-effect waves-light header-btn">
            <i class="ti-save m-r-5"></i> บันทึก </button>
          <button *ngIf="cancelButton | async" (click)="clickCancel()" type="button" class="btn waves-effect waves-light header-btn">
            <i class="ti-close m-r-5"></i> ยกเลิก </button>
        </div>


      </ul>
      <ul class="navbar-nav ml-auto mt-md-0" *ngIf="searchBar | async">
        <form class="form-inline my-2 my-lg-0 hidden-sm-down">
          <input class="form-control" type="text">
          <span class="icn-search">
            <a type="button">
              <i class="ti-search icn-search"></i>
            </a>
          </span>
        </form>
        <li class="nav-item">
          <a class="nav-link adv-search" (click)="clickAdvSearch()">ค้นหาขั้นสูง</a>
        </li>
      </ul>
      <div class="m-l-10" *ngIf="proofButton | async">
        <button type="button" class="btn waves-effect waves-light header-btn">
          งานพิสูจน์ >> </button>
      </div>
    </div>
  </nav>
</header>
<div class="modal fade" id="printDocumentPopup" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header top-navbar">
        <h5 class="modal-title text-white">พิมพ์เอกสาร</h5>
        <i class="ti-close text-white close-popup" data-dismiss="modal"></i>
      </div>
      <div class="modal-body">
        <div class="table-responsive table-striped no-wrap table-bordered">
          <table class="table table-sm" *ngIf="!errorShow">
            <thead>
              <tr>
                <th class="footable-sortable"></th>
                <th class="footable-sortable col-1">ลำดับ</th>
                <th class="footable-sortable col-7">ชื่อเอกสาร</th>
                <th class="footable-sortable col-3">ประเภทเอกสาร
                  <i class="mdi mdi-filter-variant icn-filter"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="footable" *ngFor="let item of testData; let i = index;">
                <td class="text-center">
                  <div class="custom-control custom-checkbox">
                    <input id="checkbox_{{i}}" type="checkbox" class="col-form-label filled-in chk-col-indigo">
                    <label for="checkbox_{{i}}"></label>
                  </div>
                </td>
                <td>{{i+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn waves-effect waves-light btn-print">พิมพ์</button>
      </div>
    </div>
  </div>
</div>
