<form action="" [formGroup]="SuspectFG">
    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ข้อมูลส่วนต้ว</h4>
        </div>
        <div class="card-body">

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ประเภทผู้ต้องสงสัย :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <select formControlName="SuspectType" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}" [attr.disabled]="showEditField ? '' : null" required>
                        <option value="" selected disabled></option>
                        <option *ngFor="let item of suspectTypes; let i=index;" [value]="item.value">{{item.text}}</option>
                    </select>
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">ประเภทบุคคล :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <select formControlName="EntityType" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}" [attr.disabled]="showEditField ? '' : null" required>
                        <option value="" selected disabled></option>
                        <option *ngFor="let item of entityTypes; let i=index;" [value]="item.value">{{item.text}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">เลขบัตรประชาชน :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="IDCard" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}" 
                        [readonly]="showEditField" maxlength="13" appNumuricOnly>
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">คำนำหน้าชื่อ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">

                    <!-- <ng-template #titleName let-r="result" let-t="term">
                        {{ r.TitleNameTH }}
                    </ng-template>
                    <input type="text" class="form-control form-control-sm"
                        [readonly]="showEditField"
                        [ngbTypeahead]="searchTitleName"
                        [resultTemplate]="titleName"
                        (selectItem)="selectItemTitleName($event)"
                        [inputFormatter]="formatterTitleName" 
                        value="{{SuspectFG.get('SuspectTitleName').value}}"
                        [ngClass]="{'ng-touched':isRequired}" required/> -->
                    <select formControlName="SuspectTitleCode" class="form-control form-control-sm" 
                        [ngClass]="{'ng-touched':isRequired}" [attr.disabled]="showEditField ? '' : null"
                        (change)="selectItemTitleName()">
                        <option value="" selected disabled></option>
                        <option *ngFor="let item of titleNames; let i=index;" [value]="item.TitleCode">{{item.TitleNameTH}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อจริง :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="SuspectFirstName" [ngClass]="{'ng-touched':isRequired}" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">นามสกุล :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="SuspectLastName" [ngClass]="{'ng-touched':isRequired}" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ชื่ออื่น :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="SuspectOtherName" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">วันเกิด :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <my-date-picker-th formControlName="BirthDate" [options]="myDatePickerOptions" [disabled]="showEditField"></my-date-picker-th>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">กรุ๊ปเลือด :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <select formControlName="BloodType" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}" [attr.disabled]="showEditField ? '' : null">
                        <option value="" selected disabled></option>
                        <option *ngFor="let item of bloodTypes; let i=index;" [value]="item.value">{{item.text}}</option>
                    </select>
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">สัญชาติ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <!-- <ng-template #nationality let-r="result" let-t="term">
                        {{ r.NationalityNameTh }}
                    </ng-template>
                    <input type="text" class="form-control form-control-sm"
                        [readonly]="showEditField"
                        [ngbTypeahead]="searchNationality"
                        [resultTemplate]="nationality"
                        (selectItem)="selectItemNationality($event)"
                        [inputFormatter]="formatterNationality" 
                        value="{{SuspectFG.get('NationalityNameTH').value}}"
                        [ngClass]="{'ng-touched':isRequired}" required/> -->
                    <select formControlName="NationalityCode" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}" 
                        [attr.disabled]="showEditField ? '' : null" (change)="selectItemNationality()">
                        <option value="" selected disabled></option>
                        <option *ngFor="let item of nationnalitys; let i=index;" [value]="item.NationalityCode">{{item.NationalityNameTh}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">เชื้อชาติ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <!-- <ng-template #race let-r="result" let-t="term">
                        {{ r.RaceNameTH }}
                    </ng-template>
                    <input type="text" class="form-control form-control-sm"
                        [readonly]="showEditField"
                        [ngbTypeahead]="searchRace"
                        [resultTemplate]="race"
                        (selectItem)="selectItemRace($event)"
                        [inputFormatter]="formatterRace" 
                        value="{{SuspectFG.get('RaceName').value}}"
                        [ngClass]="{'ng-touched':isRequired}" required/> -->

                    <select formControlName="RaceCode" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}" 
                        [attr.disabled]="showEditField ? '' : null" (change)="selectItemRace()">
                        <option value="" selected disabled></option>
                        <option *ngFor="let item of races; let i=index;" [value]="item.RaceCode">{{item.RaceNameTH}}</option>
                    </select>
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">ศาสนา :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <!-- <ng-template #religion let-r="result" let-t="term">
                            {{ r.ReligionNameTH }}
                        </ng-template>
                        <input type="text" class="form-control form-control-sm"
                            [readonly]="showEditField"
                            [ngbTypeahead]="searchReligion"
                            [resultTemplate]="religion"
                            (selectItem)="selectItemReligion($event)"
                            [inputFormatter]="formatterReligion" 
                            value="{{SuspectFG.get('ReligionName').value}}"
                            [ngClass]="{'ng-touched':isRequired}" required/> -->

                    <select formControlName="ReligionCode" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}" 
                        [attr.disabled]="showEditField ? '' : null" (change)="selectItemReligion()">
                        <option value="" selected disabled></option>
                        <option *ngFor="let item of religions; let i=index;" [value]="item.ReligionCode">{{item.ReligionNameTH}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">สถานะภาพ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <select formControlName="MaritalStatus" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}" [attr.disabled]="showEditField ? '' : null">
                        <option value="" selected disabled></option>
                        <option *ngFor="let item of materialStatus; let i=index;" [value]="item.value">{{item.text}}</option>
                    </select>
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">อาชีพ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="Career" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อบิดา :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="FatherName" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อมารดา :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="MotherName" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">เบอร์โทรศัพท์ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="TelephoneNo" class="form-control form-control-sm" [readonly]="showEditField" appNumuricOnly>
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">อีเมล :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="Email" class="form-control form-control-sm {{emailValid?'ng-invalid ng-touched':''}}" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">รูปถ่ายผู้ต้องสงสัย :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <label for="fileImg" class="find-img">
                        <img #imgNobody src="assets/images/users/nobody.jpg" alt="" height="180px" width="180px">
                        <span>เลือกรูปภาพ</span>
                    </label>
                    <input id='fileImg' (change)="changeImage($event, imgNobody)" type="file" formControlName="LinkPhoto" hidden [attr.disabled]="showEditField ? '' : null">
                </div>
                <!-- <label for="" class="col-lg-2 col-sm-4 control-label">จำนวนครั้งกระทำผิด :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="" class="form-control form-control-sm" readonly>
                    <a class="viewOffense text-secondary" href="javaScript:void(0);" (click)="openOffenseDetailModal(offens)">
                        <i class="fa fa-eye fa-lg"></i>
                    </a>

                    <ng-template #offens let-c="close" let-d="dismiss">
                        <app-modal-offense (c)="modal.close()" (d)="modal.dismiss()"></app-modal-offense>
                    </ng-template>
                </div> -->
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ที่อยู่/สถานที่ทำการ</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- <label for="" class="col-lg-2 col-sm-4 control-label">GPS :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="GPS" class="form-control form-control-sm" [readonly]="showEditField">
                </div> -->
                <label for="" class="col-lg-2 col-sm-4 control-label">ละติจูด :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="Latitude" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">ลองจิจูด :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="Longtitude" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">บ้านเลขที่ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="Address" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">หมู่ที่ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="Village" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">อาคาร/สถานที่ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="Building" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">ห้อง :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="Room" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ชั้น :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="Floor" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">ตรอก/ซอย :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="Alley" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ถนน :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="Road" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">ตำบล/อำเภอ/จังหวัด :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <ng-template #rt let-r="result" let-t="term">
                        {{ r.SubdistrictNameTH }} {{r.DistrictNameTH}} {{r.ProvinceNameTH}}
                    </ng-template>

                    <input type="text" #region class="form-control form-control-sm" 
                    [ngbTypeahead]="searchRegion" 
                    [resultTemplate]="rt" 
                    [readOnly]="showEditField"
                    [inputFormatter]="formatterRegion" 
                    (selectItem)="selectItemRegion($event)"
                    [value]="SuspectFG.get('Region').value"
                    (blur)="blurItemRegion(region)"
                    />

                    <!-- value="{{SuspectFG.get('Region').value}}" -->
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">รหัสไปรษณีย์ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="ZipCode" class="form-control form-control-sm" [readonly]="showEditField"
                    maxlength="5" appNumuricOnly>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ข้อมูลชาวต่างชาติ</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">เลขหนังสือเดินทาง :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="PassportNo" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">ประเทศที่ออกหนังสือเดินทาง :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="PassportCountryName" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">วันที่เข้าประเทศ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <my-date-picker-th formControlName="PassportDateIn" [options]="myDatePickerOptions" [disabled]="showEditField"></my-date-picker-th>
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">วันที่ออกประเทศ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <my-date-picker-th formControlName="PassportDateOut" [options]="myDatePickerOptions" [disabled]="showEditField"></my-date-picker-th>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ประเภทวีซ่า :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <select formControlName="VISAType" class="form-control form-control-sm" [attr.disabled]="showEditField ? '' : null">
                        <option value="" selected disabled></option>
                        <option *ngFor="let item of visaTypes; let i=index;" [value]="item.value">{{item.text}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ข้อมูลผู้ประกอบการ</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">เลขทะเบียนนิติบุคคล :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="CompanyRegistrationNo" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">เลขทะเบียนสรรพสามิต :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="ExciseRegNo" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อสถานที่ประกอบการ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="CompanyName" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
        </div>
    </div>
</form>

<swal
  #alertSwal
  text=""
  type=""
  [showConfirmButton]="false"
  [showCancelButton]="true"
  buttonsStyling="false"
  cancelButtonText="OK"
  cancelButtonClass="swal2-confirm"
  [focusCancel]="true">
</swal>