<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">ข้อมูลส่วนต้ว</h4>
  </div>
  <div class="card-body">
      <form action="">
          <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">ประเภทผู้ต้องสงสัย :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
              <label for="" class="col-lg-2 col-sm-4 control-label">ประเภทบุคคล :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
          </div>
          <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">เลขบัตรประชาชน :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
              <label for="" class="col-lg-2 col-sm-4 control-label">คำนำหน้าชื่อ :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
          </div>
          <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อจริง :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
              <label for="" class="col-lg-2 col-sm-4 control-label">นามสกุล :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
          </div>
          <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">ชื่ออื่น :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
              <label for="" class="col-lg-2 col-sm-4 control-label">วันเกิด :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
          </div>
          <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">กรุ๊ปเลือด :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
              <label for="" class="col-lg-2 col-sm-4 control-label">สัญชาติ :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
          </div>
          <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">เชื่อชาติ :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
              <label for="" class="col-lg-2 col-sm-4 control-label">ศาสนา :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
          </div>
          <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">สถานะภาพ :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
              <label for="" class="col-lg-2 col-sm-4 control-label">อาชีพ :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
          </div>
          <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อบิดา :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
              <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อมารดา :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
          </div>
          <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">เบอร์โทรศัพท์ :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
              <label for="" class="col-lg-2 col-sm-4 control-label">อีเมล์ :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
              </div>
          </div>
          <div class="row">
              <label for="" class="col-lg-2 col-sm-4 control-label">รูปถ่ายผู้ต้องสงสัย :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <a href="javaScript:void(0)" class="find-img">
                      <img src="assets/images/users/nobody.jpg" alt="" height="180px" width="180px">
                      <span>เลือกรูปภาพ</span>
                  </a>
              </div>
              <!-- <label for="" class="col-lg-2 col-sm-4 control-label">จำนวนครั้งกระทำผิด :</label>
              <div class="form-group col-lg-4 col-md-7 col-sm-8">
                  <input type="text" name="" id="" class="form-control form-control-sm" readonly>
                  <a class="viewOffense text-secondary" href="javaScript:void(0);" (click)="openOffenseDetailModal(offens)">
                      <i class="fa fa-eye fa-lg"></i>
                  </a>

                  <ng-template #offens let-c="close" let-d="dismiss">
                      <app-modal-offense (c)="modal.close()" (d)="modal.dismiss()"></app-modal-offense>
                  </ng-template>
              </div> -->
          </div>
      </form>
  </div>
</div>

<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">ที่อยู่/สถานที่ทำการ</h4>
  </div>
  <div class="card-body">
      <div class="row">
          <label for="" class="col-lg-2 col-sm-4 control-label">ละติจูด :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
          <label for="" class="col-lg-2 col-sm-4 control-label">ลองติจูด :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
      </div>
      <div class="row">
          <label for="" class="col-lg-2 col-sm-4 control-label">บ้านเลขที่ :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
          <label for="" class="col-lg-2 col-sm-4 control-label">หมู่ที่ :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
      </div>
      <div class="row">
          <label for="" class="col-lg-2 col-sm-4 control-label">อาคาร/สถานที่ :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
          <label for="" class="col-lg-2 col-sm-4 control-label">ห้อง :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
      </div>
      <div class="row">
          <label for="" class="col-lg-2 col-sm-4 control-label">ชั้น :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
          <label for="" class="col-lg-2 col-sm-4 control-label">ตรอก/ซอย :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
      </div>
      <div class="row">
          <label for="" class="col-lg-2 col-sm-4 control-label">ถนน :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
          <label for="" class="col-lg-2 col-sm-4 control-label">ต./อ./จ. :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
      </div>
      <div class="row">
          <label for="" class="col-lg-2 col-sm-4 control-label">รหัสไปรษณีย์ :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
      </div>
  </div>
</div>

<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">ข้อมูลชาวต่างชาติ</h4>
  </div>
  <div class="card-body">
      <div class="row">
          <label for="" class="col-lg-2 col-sm-4 control-label">เลขหนังสือเดินทาง :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
          <label for="" class="col-lg-2 col-sm-4 control-label">ประเทศที่ออกหนังสือเดินทาง :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
      </div>
      <div class="row">
          <label for="" class="col-lg-2 col-sm-4 control-label">วันที่เข้าประเทศ :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
          <label for="" class="col-lg-2 col-sm-4 control-label">วันที่ออกประเทศ :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
      </div>
      <div class="row">
          <label for="" class="col-lg-2 col-sm-4 control-label">ประเภทวีซ่า :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
      </div>
  </div>
</div>

<div class="card card-outline-bluish unset-radius">
  <div class="card-header unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">ข้อมูลผู้ประกอบการ</h4>
  </div>
  <div class="card-body">
      <div class="row">
          <label for="" class="col-lg-2 col-sm-4 control-label">เลขทะเบียนนิติบุคคล :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
          <label for="" class="col-lg-2 col-sm-4 control-label">เลขทะเบียนสรรพสามิต :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
      </div>
      <div class="row">
          <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อสถานที่ประกอบการ :</label>
          <div class="form-group col-lg-4 col-md-7 col-sm-8">
              <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
          </div>
      </div>
  </div>
</div>
