

<app-step-wizard [sectionId]="2"></app-step-wizard>

<ng-template #printDocModal let-c="close" let-d="dismiss">
    <app-print-doc-modal [ArrestCode]="arrestCode" (c)="modal.close()" (d)="modal.dismiss()"></app-print-doc-modal>
</ng-template>

<form action="" [formGroup]="arrestFG">
    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <div class="card-actions">
                <a class="" (click)="card1 = !card1">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card1, 'fa-chevron-up': !card1}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">ข้อมูลการจับกุม</h4>
        </div>
        <div *ngIf="card1" class="card-body">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ส.ส.2/27 :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="InvestigationCode" class="form-control form-control-sm" readonly>
                    <a href="javaScript:void(0);" class="more text-secondary">
                        <i class="ti-more-alt" aria-hidden="true"></i>
                    </a>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">หมายค้น :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="InvestigationSurveyDocument" class="form-control form-control-sm"
                        readonly>
                    <a href="javaScript:void(0);" class="more text-secondary">
                        <i class="ti-more-alt" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="row">

                <label for="" class="col-lg-2 col-sm-4 control-label">เลขที่ใบงาน :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="ArrestCode" class="form-control form-control-sm" readonly
                        [ngClass]="{'ng-touched':isRequired}" required>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">เขียนที่ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <ng-template #rt let-r="result" let-t="term">
                        {{ r.OfficeName }}
                    </ng-template>

                    <input type="text" class="form-control form-control-sm " [ngClass]="{'ng-touched':isRequired}"
                        required [ngbTypeahead]="serachOffice" [resultTemplate]="rt" [readOnly]="showEditField"
                        [inputFormatter]="formatterOffice" (selectItem)="selectItemOffice($event)" [value]="arrestFG.get('ArrestStation').value" />
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">วันที่เขียน :</label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group input-group">
                        <my-date-picker-th class="form-control form-control-sm unset-form-control" [options]="myDatePickerOptions"
                            [disabled]="showEditField" [ngClass]="{'ng-touched':isRequired}" required formControlName="ArrestDate"></my-date-picker-th>
                        <label for="">&nbsp;&nbsp;เวลา&nbsp;&nbsp;</label>
                        <input type="text" formControlName="ArrestTime" class="form-control form-control-sm" [readonly]="showEditField"
                            [ngClass]="{'ng-touched':isRequired}" required>
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">วันที่จับกุม :</label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group input-group" style="z-index: 1;">
                        <my-date-picker-th class="form-control form-control-sm unset-form-control" [options]="myDatePickerOptions"
                            [disabled]="showEditField" [ngClass]="{'ng-touched':isRequired}" required formControlName="OccurrenceDate"></my-date-picker-th>
                        <label for="">&nbsp;&nbsp;เวลา&nbsp;&nbsp;</label>
                        <input type="text" formControlName="OccurrenceTime" class="form-control form-control-sm"
                            [readonly]="showEditField" [ngClass]="{'ng-touched':isRequired}" required>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <div class="card-actions">
                <a class="" (click)="noticeCard = !noticeCard">
                    <i class="fa" [ngClass]="{'fa-chevron-down': noticeCard, 'fa-chevron-up': !noticeCard}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">ใบแจ้งความนำจับ</h4>
        </div>
        <div *ngIf="noticeCard" class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="openModal(noticelist)">เพิ่มใบแจ้งความ</button>
                    <ng-template #noticelist let-c="close" let-d="dismiss">
                        <app-modal-notice (c)="modal.close()" (d)="modal.dismiss()" (outputNotice)="setNoticeForm($event)"></app-modal-notice>
                    </ng-template>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped table-set-border">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th>เลขที่ใบแจ้งความนำจับ</th>
                            <th>วันที่แจ้งความ</th>
                            <th>ผู้รับแจ้งความ</th>
                            <th>หน่วยงาน</th>
                            <th>ผู้ต้องสงสัย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="ArrestNotice">
                        <tr *ngFor="let item of ArrestNotice.controls; let i=index" [formGroupName]="i" [ngSwitch]="item.get('IsModify').value">
                            <td *ngSwitchCase="'c','r'" class="text-center">{{item.get('RowId').value}}</td>
                            <td *ngSwitchCase="'c','r'">{{item.get('NoticeCode').value}}</td>
                            <td *ngSwitchCase="'c','r'">{{item.get('NoticeDateString').value}}</td>
                            <td *ngSwitchCase="'c','r'">
                                <div *ngFor="let staff of item.value.ArrestNoticeStaff;">{{staff.FullName}}</div>
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <div *ngFor="let staff of item.value.ArrestNoticeStaff;">{{staff.OfficeName}}</div>
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <div *ngFor="let staff of item.value.ArrestNoticeSuspect;">{{staff.FullName}}</div>
                            </td>
                            <td *ngSwitchCase="'c','r'" class="text-center">
                                <a *ngIf="!showEditField" href="javaScript:void(0);" class="text-warning" (click)="deleteNotice(i)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                            <!-- </ng-template> -->
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <div class="card-actions">
                <a class="" (click)="card2 = !card2">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card2, 'fa-chevron-up': !card2}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">ผู้จับกุม</h4>
        </div>
        <div *ngIf="card2" class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="addStaff()">เพิ่มผู้ร่วมจับกุม</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped table-set-border">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th>ชื่อผู้จับกุม</th>
                            <th>ตำแหน่ง</th>
                            <th>หน่วยงาน</th>
                            <th>ฐานะ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="ArrestStaff">
                        <tr *ngFor="let item of ArrestStaff.controls; let i = index;" [formGroupName]="i" [ngSwitch]="item.get('IsModify').value">
                            <td *ngSwitchCase="'c','r'" class="text-center">
                                {{item.get('RowId').value}}
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <ng-template #rt let-r="result" let-t="term">
                                    {{ r.TitleName == null ? '' : r.TitleName }}
                                    {{r.FirstName == null ? '' : r.FirstName}}
                                    {{r.LastName == null ? '' : r.LastName}}
                                </ng-template>

                                <input type="text" class="form-control form-control-sm" [ngbTypeahead]="searchStaff"
                                    [resultTemplate]="rt" [readOnly]="showEditField" [inputFormatter]="formatterStaff"
                                    (selectItem)="selectItemStaff($event, i)" value="{{item.value.FullName}}" />
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <input type="text" formControlName="PositionName" class="form-control form-control-sm"
                                    readonly>
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <input type="text" formControlName="OfficeName" class="form-control form-control-sm"
                                    readonly>
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <select formControlName="ContributorID" class="form-control form-control-sm"
                                    [attr.disabled]="showEditField ? '' : null">
                                    <option value="" disabled selected></option>
                                    <option *ngFor="let c of contributerType;" [value]="c.value">{{c.text}}</option>
                                </select>
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <a class="text-warning" href="javaScript:void(0);" *ngIf="!showEditField" (click)="deleteStaff(i)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <div class="card-actions">
                <a class="" (click)="card3 = !card3">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card3, 'fa-chevron-up': !card3}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">สถานที่เกิดเหตุ</h4>
        </div>
        <div *ngIf="card3" class="card-body" formArrayName="ArrestLocale">
            <div *ngFor="let item of ArrestLocale.controls; let i = index;" [formGroupName]="i">
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">บ้านเลขที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Address" class="form-control form-control-sm" [readonly]="showEditField"
                            [ngClass]="{'ng-touched':isRequired}" required>
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">หมู่ที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Village" class="form-control form-control-sm" [readonly]="showEditField"
                            [ngClass]="{'ng-touched':isRequired}" required>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">อาคาร/สถานที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Building" class="form-control form-control-sm" [readonly]="showEditField"
                            [ngClass]="{'ng-touched':isRequired}" required>
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">ห้อง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Room" class="form-control form-control-sm" [readonly]="showEditField"
                            [ngClass]="{'ng-touched':isRequired}" required>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">ชั้น :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Floor" class="form-control form-control-sm" [readonly]="showEditField"
                            [ngClass]="{'ng-touched':isRequired}" required>
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">ตรอก/ซอย :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Alley" class="form-control form-control-sm" [readonly]="showEditField"
                            [ngClass]="{'ng-touched':isRequired}" required>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">ถนน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Road" class="form-control form-control-sm" [readonly]="showEditField"
                            [ngClass]="{'ng-touched':isRequired}" required>
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">ตำบล/อำเภอ/จังหวัด :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <ng-template #rt let-r="result" let-t="term">
                            {{ r.SubdistrictNameTH }} {{r.DistrictNameTH}} {{r.ProvinceNameTH}}
                        </ng-template>

                        <input type="text" class="form-control form-control-sm" [ngbTypeahead]="searchRegion"
                            [resultTemplate]="rt" [readOnly]="showEditField" [inputFormatter]="formatterRegion"
                            (selectItem)="selectItemLocaleRegion($event)" value="{{item.value.Region}}" [ngClass]="{'ng-touched':isRequired}"
                            required />
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">รหัสไปรษณีย์ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="ZipCode" class="form-control form-control-sm" [readonly]="showEditField"
                            [ngClass]="{'ng-touched':isRequired}" required>
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">สน.ท้องที่เกิดเหตุ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Policestation" class="form-control form-control-sm"
                            [readonly]="showEditField" [ngClass]="{'ng-touched':isRequired}" required>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <div class="card-actions">
                <a class="" (click)="card7 = !card7">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card7, 'fa-chevron-up': !card7}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">รายละเอียดการจับกุม</h4>
        </div>
        <div *ngIf="card7" class="card-body">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">พฤติกรรมในการจับ :</label>
                <div class="col-lg-10 col-sm-8 form-group ">
                    <textarea formControlName="Behaviour" cols="" rows="3" class="form-control form-control-sm"
                        [readonly]="showEditField" [ngClass]="{'ng-touched':isRequired}" required></textarea>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">คำให้การของผู้ต้องหา :</label>
                <div class="col-lg-10 col-sm-8 form-group ">
                    <textarea formControlName="Testimony" cols="" rows="3" class="form-control form-control-sm"
                        [readonly]="showEditField" [ngClass]="{'ng-touched':isRequired}" required></textarea>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">การแจ้งสิทธิ :</label>
                <div class="col-lg-10 col-sm-8 form-group ">
                    <textarea formControlName="Prompt" cols="" rows="3" class="form-control form-control-sm" [readonly]="showEditField"
                        [ngClass]="{'ng-touched':isRequired}" required></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <div class="card-actions">
                <a class="" (click)="card5 = !card5">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card5, 'fa-chevron-up': !card5}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">ของกลาง</h4>
        </div>
        <div *ngIf="card5" class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="addProduct()">เพิ่มของกลาง</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped table-set-border">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th>ของกลาง</th>
                            <th>จำนวน</th>
                            <th>หน่วย</th>
                            <th>ปริมาณสุทธิ</th>
                            <th>หน่วย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="ArrestProduct">
                        <tr *ngFor="let item of ArrestProduct.controls; let i=index;" [formGroupName]="i" [ngSwitch]="item.get('IsModify').value">
                            <td *ngSwitchCase="'c','r'" class="text-center">{{item.get('RowId').value}}</td>
                            <td *ngSwitchCase="'c','r'" style="max-width: 200px;">
                                <ng-template #rt let-r="result" let-t="term">
                                    {{ r.ProductDesc }}
                                </ng-template>
                                <input type="text" class="form-control form-control-sm" [readonly]="showEditField"
                                    [ngbTypeahead]="searchProduct" [resultTemplate]="rt" [inputFormatter]="formatterProduct"
                                    (selectItem)="selectItemProductItem($event, i)" formControlName="ProductDesc"/>
                                    <!-- value="{{item.value.ProductDesc}}"  -->
                            </td>
                            <td *ngSwitchCase="'c','r'" style="max-width: 50px;">
                                <input type="number" min="0" formControlName="Qty" class="form-control form-control-sm"
                                    required [attr.disabled]="showEditField ? '' : null">
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <select formControlName="QtyUnit" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}"
                                    required [attr.disabled]="showEditField ? '' : null">
                                    <option value="" disabled selected></option>
                                    <option *ngFor="let item of typeheadProductUnit;" [value]="item.DutyUnitCode">{{item.DutyCode}}</option>
                                </select>
                            </td>
                            <td *ngSwitchCase="'c','r'" style="max-width: 50px;">
                                <input type="number" min="0" formControlName="NetVolume" class="form-control form-control-sm"
                                    [attr.disabled]="showEditField ? '' : null">
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <select formControlName="NetVolumeUnit" class="form-control form-control-sm" [ngClass]="{'ng-touched':isRequired}"
                                    [attr.disabled]="showEditField ? '' : null">
                                    <option value="" selected disabled></option>
                                    <option *ngFor="let item of typeheadProductUnit;" [value]="item.DutyUnitCode">{{item.DutyCode}}</option>
                                </select>
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteProduct(i)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <div class="card-actions">
                <a class="" (click)="card6 = !card6">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card6, 'fa-chevron-up': !card6}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">ข้อกล่าวหา</h4>
        </div>
        <div *ngIf="card6" class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="addAllegation()" >เพิ่มข้อกล่าวหา</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped table-set-border">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th>ฐานความผิดมาตรา</th>
                            <th>ฐานความผิด</th>
                            <th>ชื่อผู้กระทำผิด</th>
                            <th>รายละเอียดของกลาง</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="ArrestIndictment">
                        <tr *ngFor="let item of ArrestIndictment.controls; let i=index;" [formGroupName]="i" [ngSwitch]="item.get('IsModify').value">
                            <td *ngSwitchCase="'c','r'" class="text-center">{{item.get('RowId').value}}</td>
                            <td *ngSwitchCase="'c','r'">
                                <div *ngFor="let subSection of item.value.ArrestLawGuitbase.ArrestLawSubSectionRule;">
                                    {{subSection.SectionNo}}
                                </div>
                            </td>
                            <td *ngSwitchCase="'c','r'" style="max-width: 200px;">
                                {{item.value.ArrestLawGuitbase.GuiltBaseName}}
                            </td>
                            <td *ngSwitchCase="'c','r'">

                            </td>
                            <td *ngSwitchCase="'c','r'">

                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <a href="javaScript:void(0)" class="text-danger" *ngIf="!showEditField">
                                    <i class="fa fa-edit fa-lg"></i>
                                </a>
                            </td>
                            <td>
                                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteIndicment(i)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <div class="card-actions">
                <a class="" (click)="card8 = !card8">
                    <i class="fa" [ngClass]="{'fa-chevron-down': card8, 'fa-chevron-up': !card8}"></i>
                </a>
            </div>
            <h4 class="card-title m-b-0">เอกสารแนบภายใน</h4>
        </div>
        <div *ngIf="card8" class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="addDocument()">เพิ่มเอกสารแนบ</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped table-set-border">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th>ชื่อเอกสารแนบ</th>
                            <th>ที่อยู่เอกสารแนบ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="ArrestDocument">
                        <tr *ngFor="let item of ArrestDocument.controls; let i=index;" [formGroupName]="i" [ngSwitch]="item.get('IsModify').value">
                            <td *ngSwitchCase="'c','r'" class="text-center">{{item.get('RowId').value}}</td>
                            <td *ngSwitchCase="'c','r'">
                                <input type="text" formControlName="DataSource" class="form-control form-control-sm"
                                    [readonly]="showEditField">
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" formControlName="FilePath"
                                        style="border-right: 0;" [readonly]="showEditField">
                                    <div class="input-group-append">
                                        <input [id]="'arrestAttach'+i" type="file" (change)="changeArrestDoc($event, i)"
                                            hidden [attr.disabled]="showEditField ? '' : null">
                                        <label [for]="'arrestAttach'+i" class="input-group-text custom-file-upload text-secondary">
                                            <i class="ti-more-alt"></i>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td *ngSwitchCase="'c','r'">
                                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteDocument(i)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>