<!-- <app-horizontal-timeline></app-horizontal-timeline> -->
<div *ngIf="advSearch | async" class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-close></app-card-actions-close>
        <h4 class="card-title m-b-0">ค้นหาขั้นสูง</h4>
    </div>

    <div class="card-body">
        <form class="form-horizontal" #advForm="ngForm" (ngSubmit)="onAdvSearch(advForm)">
            <div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">กลุ่มสินค้า :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <select [(ngModel)]="GroupName" (ngModelChange)="getValueByIndex($event)" name="GroupName"  class="form-control form-control-sm">
                                    <!-- <option value="" selected disabled></option> -->
                                    <option *ngFor="let item of DutyGroup; let i = index" [ngValue]="item" >{{i+1}}. {{item.GroupName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-sm-3 control-label">ยี่ห้อหลัก :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <select [(ngModel)]="xxx" name="xxx" class="form-control form-control-sm">
                                    <option value="" selected disabled></option>
                                    <option *ngFor="let item of xxx" [value]="item.value">{{item.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ยี่ห้อรอง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <select [(ngModel)]="xxx" name="xxx" class="form-control form-control-sm">
                                    <option value="" selected disabled></option>
                                    <option *ngFor="let item of xxx" [value]="item.value">{{item.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-sm-3 control-label">รุ่น :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <select [(ngModel)]="xxx" name="xxx" class="form-control form-control-sm">
                                    <option value="" selected disabled></option>
                                    <option *ngFor="let item of xxx" [value]="item.value">{{item.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-block btn-themecolor">ค้นข้อมูล</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="card">
    <div class="card-body">

        <div class="table-responsive table-striped ">
            <table #revenueTable class="table">
                <thead>
                    <tr>
                        <th style="text-align: center;width:5%">ลำดับ</th>
                        <th style="width:15%">รหัสของกลาง</th>
                        <th style="width:10%">กลุ่มสินค้า</th>
                        <th style="width:10%">ยี่ห้อหลัก</th>
                        <th style="width:10%">ยี่ห้อรอง</th>
                        <th style="width:10%">รุ่น</th>
                        <th style="width:10%" class="text-left">ขนาด</th>
                        <th style="width:20%" class="text-left">ปริมาณแอลกอฮอล์</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of xxx; let i=index;">
                        <td style="text-align: center;">{{i + 1}}</td>
                        <td>{{item.RevenueCode}}</td>
                        <td>{{item.RevenueDate}}</td>
                        <td>{{item.RevenueOneStaff}}</td>
                        <td>{{item.RevenueOneStaffDept}}</td>
                        <td style="text-align: center">{{item.ResultCount}}
                        </td>
                        <td class="text-center;">
                            {{item.RevenueStatusStr}}</td>
                        <td class="text-center;">
                            <a href="javaScript:void(0);" class="text-secondary" (click)="clickView(item.RevenueID)">
                                <i class="mdi mdi-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="card-footer card-footer-unset">
            <app-pagination-table [TotalItems]="paginage.TotalItems" [CurrentPage]="paginage.CurrentPage"
                [PageSize]="paginage.PageSize" [RowsPerPageOptions]="paginage.RowsPerPageOptions"
                (onPageChange)="pageChanges($event)">
            </app-pagination-table>
        </div>
    </div>
</div>