<!-- <app-horizontal-timeline></app-horizontal-timeline> -->
<div *ngIf="advSearch | async" class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-close></app-card-actions-close>
        <h4 class="card-title m-b-0">ค้นหาขั้นสูง</h4>
    </div>

    <div class="card-body">
        <form class="form-horizontal" #advForm="ngForm" (ngSubmit)="onAdvSearch(advForm.value)">
           
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">กลุ่มสินค้า :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                                <!-- <input type="text" class="form-control form-control-sm" 
                                placeholder=""
                                aria-label="Number" 
                                matInput [matAutocomplete]="auto1" 
                                [ngClass]="{'ng-touched':isRequired}"
                                (focus)="onAutoFocus($event.target.value)" 
                                (input)="onAutoChange($event.target.value)"
                                [disabled]="showEditField"
                                >
                            <mat-autocomplete  #auto1="matAutocomplete">
                                <mat-option *ngFor="let item of options" [value]="item.GroupName" 
                                (click)="onAutoSelecteWord(item)" 
                                (onSelectionChange)="onAutoSelecteWord(item)">
                                    {{ item.GroupName }}
                                </mat-option>
                            </mat-autocomplete> -->

                            <!-- <select class="form-control form-control-sm" 
                            name="dutyGroup" ngModel
                            [ngClass]="{'ng-touched':isRequired}" 
                            [disabled]="showEditField"
                            (input)="onAutoChange($event.target.value)">
                            <option value="" selected disabled></option>
                            <option *ngFor="let item of DutyGroup; let i=index;" [value]="item.GroupName">{{item.GroupName}}</option>
                        </select> -->
                        <input class="form-control form-control-sm" type="search" name="dutyGroup" ngModel >
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-sm-3 control-label">ยี่ห้อหลัก :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <!-- <input type="text" class="form-control form-control-sm" 
                            placeholder=""
                            aria-label="Number" 
                            matInput [matAutocomplete]="auto2" 
                            [ngClass]="{'ng-touched':isRequired}"
                            (focus)="BrandMainonAutoFocus($event.target.value)" 
                            (input)="BrandMainonAutoChange($event.target.value)"
                            [disabled]="showEditField"
                            >
                            <mat-autocomplete  #auto2="matAutocomplete">
                                <mat-option *ngFor="let items of BrandMainoptions" [value]="items.BrandMainENG"
                                (click)="BrandMainonAutoSelecteWord(items)" 
                                (onSelectionChange)="BrandMainonAutoSelecteWord(items)">
                                    {{items.BrandMainENG }} {{items.BrandMainThai}}
                                </mat-option>
                            </mat-autocomplete> -->
                            <input class="form-control form-control-sm" type="search" name="BrandMain" ngModel>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ยี่ห้อรอง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                                <!-- <input type="text" class="form-control form-control-sm" 
                                placeholder=""
                                aria-label="Number" 
                                matInput [matAutocomplete]="auto3" 
                                [ngClass]="{'ng-touched':isRequired}"
                                (focus)="BrandSecondonAutoFocus($event.target.value)" 
                                (input)="BrandSecondonAutoChange($event.target.value)"
                                [disabled]="showEditField"
                                >
                                <mat-autocomplete  #auto3="matAutocomplete">
                                    <mat-option *ngFor="let items of BrandSecondoptions" [value]="items.GroupName"
                                    (click)="BrandSecondonAutoSelecteWord(items)" 
                                    (onSelectionChange)="BrandSecondonAutoSelecteWord(items)">
                                        {{items.GroupName }}
                                    </mat-option>
                                </mat-autocomplete> -->
                                <input class="form-control form-control-sm" type="search" name="BrandSecond" ngModel>
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-sm-3 control-label">รุ่น :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                                <div class="form-line">
                                        <input type="search" class="form-control form-control-sm" name="mpdel" ngModel>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-block btn-themecolor">ค้นข้อมูล</button>
                    </div>
                </div>
            
        </form>
    </div>

</div>

<div class="card">
    <div class="card-body">

        <div class="table-responsive table-striped ">
            <table #revenueTable class="table">
                <thead>
                    <tr>
                        <th style="text-align: center;width:5%">ลำดับ</th>
                        <th style="width:15%">รหัสของกลาง</th>
                        <th style="width:10%">กลุ่มสินค้า</th>
                        <th style="width:15%">ยี่ห้อหลัก</th>
                        <th style="width:15%">ยี่ห้อรอง</th>
                        <th style="width:16%">รุ่น</th>
                        <th style="width:10%" class="text-left">ขนาด</th>
                        <th style="width:20%" class="text-left">ปริมาณแอลกอฮอล์</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of listOfsreach; let i=index;">
                        <td style="text-align: center;">{{i + 1}}</td>
                        <td>{{item.prodCode}}</td>
                        <td>{{item.GroupName}}</td>
                        <td>{{item.BrandMain}}</td>
                        <td>{{item.BrandSecond}}</td>
                        <td>{{item.model}}</td>
                        <td>{{item.size}}</td>
                        <td>{{item.Alcohol}}</td>
                        <td class="text-center;">
                            <a href="javaScript:void(0);" class="text-secondary" (click)="clickView(item.ProductID)">
                                <i class="mdi mdi-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="card-footer card-footer-unset">
            <app-pagination-table [TotalItems]="paginage.TotalItems" [CurrentPage]="paginage.CurrentPage"
                [PageSize]="paginage.PageSize" [RowsPerPageOptions]="paginage.RowsPerPageOptions"
                (onPageChange)="pageChanges($event)">
            </app-pagination-table>
        </div>
    </div>
</div>