<app-preloader *ngIf="isPreloader | async"></app-preloader>

<!-- <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
             -->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss-->
<!-- ============================================================== -->
<div id="main-wrapper">
  <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <ma-navigation></ma-navigation>
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <ma-sidebar></ma-sidebar>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <breadcrumb></breadcrumb>
          <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <router-outlet></router-outlet>

            <!-- ============================================================== -->
            <!-- End Start Page Content -->
            <!-- ============================================================== -->





            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <ma-rightsidebar></ma-rightsidebar>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"style="padding-bottom: 5px; padding-top: 7px;">
            <div style=" float:left; font-size: 17px;left: 33%;">ระบบงานผู้กระทำผิดกฎหมายภาษีสรรพสามิต พ.ร.บ.ภาษีสรรพสามิต พ.ศ.2560</div>
            
            <div style="position: relative; float:right;">
              {{fName}}
              <div style="font-size: 13px;">ตำแหน่ง {{opName}}</div><br>
              <div style="margin-top: -25px; font-size: 13px;">หน่วยงาน {{offName}}</div>
            </div>
            <div style="margin-top: 24px; margin-left: -530px; font-size: 13px; float: left;">เวอร์ชั่น 0.0.2.91</div>
            <!-- {{this.textVersion | async}} -->
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
