.btn-action {
  color: red;
  font-size: 20px;
  cursor: pointer;
}

#btn-browse {
  opacity: 0;
}

.modal-lg {
  max-width: 1200px;
  margin-left: 170px;
}

.form-popup {
  margin-bottom: 0;
}

.col-form-label {
  color: black;
  font-weight: 400;
}
