.card-header {
    background: #ccdeea;
    border-color: #ccdeea;
}

#btn-browse {
    opacity: 0;
  }

  .btn-navy {
    background: rgb(0, 94, 141);
    color: white;
  }

  .btn-action {
    color: red;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
  }

  th, td{
      padding: .2rem;
  }

  .padding-adv-label {
    padding-right: 0px;
    // padding-left: 5px;
  }

  .padding-none {
    padding: 0;
  }