<ng-template #EvidenceTypeModel let-c="close" let-d="dismiss">
    <app-evidencetype-modal (c)="modal.close()" (d)="modal.dismiss()" [RevenueID]="RevenueID"></app-evidencetype-modal>
</ng-template>

<!-- <app-horizontal-timeline></app-horizontal-timeline> -->
<div *ngIf="advSearch | async" class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-close></app-card-actions-close>
        <h4 class="card-title m-b-0">ค้นหา</h4>
    </div>

    <div class="card-body">
        <form class="form-horizontal" #advForm="ngForm" (ngSubmit)="onAdvSearch(advForm)">
            <div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่รับ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="EvidenceInCode" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">วันที่รับ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group input-group form-line">
                            <div style="width:45%">
                                <my-date-picker-th name="EvidenceInDateStart" [options]="myDatePickerOptions" (dateChanged)="onSRecvDateChange($event)" [(ngModel)]="EvidenceInDateStart"></my-date-picker-th>
                            </div>

                            <div style="margin:10px;">
                                <label for="">&nbsp;ถึง&nbsp;</label>
                            </div>

                            <div style="width:45%">
                                <my-date-picker-th name="EvidenceInDateTo" [options]="myDatePickerOptions" (dateChanged)="onERecvDateChange($event)" [(ngModel)]="EvidenceInDateTo"></my-date-picker-th>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ผู้ตรวจรับ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="ReceiverName" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">หน่วยงานตรวจรับ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" ngModel name="ReceiverOfficeName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ประเภทรายการรับ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <select ngModel name="EvidenceInType" class="form-control form-control-sm" [disabled]="showEditField">
                                    <option value="">ไม่เลือกประเภทรายการรับ</option>
                                    <option value="0">ตรวจรับของกลางจากหน่วยงานภายใน</option>
                                    <option value="1">ตรวจรับของกลางจากหน่วยงานภายนอก</option>
                                    <option value="2">ตรวจรับของกลางที่ถูกนำออกไปใช้ในกิจกรรมของทางราชการ</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">เลขหนังสือนำส่ง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="DeliveryNo" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">วันที่นำส่ง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group input-group form-line">
                            <div style="width:45%">
                                <my-date-picker-th name="DeliveryDateStart" [options]="myDatePickerOptions" (dateChanged)="onSSendDateChange($event)" [(ngModel)]="DeliveryDateStart"></my-date-picker-th>
                            </div>

                            <div style="margin:10px;">
                                <label for="">&nbsp;ถึง&nbsp;</label>
                            </div>

                            <div style="width:45%">
                                <my-date-picker-th name="DeliveryDateTo" [options]="myDatePickerOptions" (dateChanged)="onESendDateChange($event)" [(ngModel)]="DeliveryDateTo"></my-date-picker-th>
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">ผู้นำส่ง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="DeliverName" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">หน่วยงานนำส่ง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" ngModel name="DeliverOfficeName">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-3">
                        <div class="row form-group">
                            <div class="col">
                                <input type="checkbox" id="md_checkbox_1" ngModel name="chk1" class="filled-in chk-col-indigo">
                                <label for="md_checkbox_1">รายการที่ตรวจรับแล้ว</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="row form-group">
                            <div class="col">
                                <input type="checkbox" id="md_checkbox_2" ngModel name="chk2" class="filled-in chk-col-indigo">
                                <label for="md_checkbox_2">รายการที่ยังไม่ได้ตรวจรับ</label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="IsReceive" ngModel/>
                </div>

                <div class="row form-group">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-block btn-themecolor">ค้นข้อมูล</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="card">
    <div class="card-body">

        <div class="table-responsive table-striped ">
            <table #EvidenceTable class="table">
                <thead>
                    <tr>
                        <th style="text-align: center;width:5%">ลำดับ</th>
                        <th>เลขที่รับ</th>
                        <th>วันที่รับ</th>
                        <th>หน่วยงานตรวจรับ</th>
                        <th>เลขที่หนังสือนำส่ง</th>
                        <th>วันที่นำส่ง</th>
                        <th>หน่วยงานนำส่ง</th>
                        <th>ประเภทรายการ</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of EvidenceInList; let i=index;">
                        <td style="text-align: center;">{{i + 1}}</td>
                        <td>{{item.EvidenceInCode}}</td>
                        <td>{{item.EvidenceInDate}}</td>
                        <td>{{item.DeptNameRecv}}</td>
                        <td>{{item.DeliveryNo}}</td>
                        <td>{{item.DeliveryDate}}</td>
                        <td>{{item.DeptNameSent}}</td>
                        <td>{{item.EvidenceInTypeName}}</td>
                        <td class="text-center;">
                            <a href="javaScript:void(0);" class="text-secondary" (click)="clickView(item.EvidenceInID, item.EvidenceInType, item.ProveID)">
                                <i class="mdi mdi-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="card-footer card-footer-unset">
            <app-pagination-table [TotalItems]="paginage.TotalItems" [CurrentPage]="paginage.CurrentPage" [PageSize]="paginage.PageSize"
                [RowsPerPageOptions]="paginage.RowsPerPageOptions" (onPageChange)="pageChanges($event)">
            </app-pagination-table>
        </div>
    </div>
</div>