<form class="form-horizontal" [formGroup]="noticeForm">
    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ผู้รับแจ้ง</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">เลขที่บันทึกแจ้งความ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="text" formControlName="NoticeCode" id="" class="form-control form-control-sm" readonly>
                    </div>
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">วันที่รับแจ้งความ :
                </label>
                <div class="form-group input-group  col-lg-4 col-md-7 col-sm-8">
                    <input type="date" class="form-control form-control-sm" formControlName="NoticeDate" placeholder="วว/ดด/ปปปป" [disabled]="showEditField">

                    <label for="" class="">&nbsp; เวลา : &nbsp;</label>
                    <input type="text" formControlName="NoticeTime" class="form-control form-control-sm" [disabled]="showEditField">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ใช้ได้ภายในกำหนด(วัน) :</label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="text" formControlName="NoticeDue" class="form-control form-control-sm" [disabled]="showEditField">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">สิ้นสุดวันที่ :</label>
                <div class="form-group input-group  col-lg-4 col-md-7 col-sm-8">
                    <input type="date" class="form-control form-control-sm" formControlName="NoticeDueDate" placeholder="วว/ดด/ปปปป" readonly>

                    <label for="" class="">&nbsp; เวลา : &nbsp;</label>
                    <input type="text" name="" class="form-control form-control-sm" readonly>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">เขียนที่ :
                </label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="text" formControlName="NoticeStation" class="form-control form-control-sm" [disabled]="showEditField">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">ผู้รับแจ้งความ :
                </label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="StaffFullName" class="form-control form-control-sm" [disabled]="showEditField">
                </div>
            </div>

            <div formArrayName="NoticeStaff">
                <div class="row" *ngFor="let item of NoticeStaff.controls; let i=index;" [formGroupName]="i">

                    <label for="" class="col-lg-2 col-sm-4 control-label">ผู้รับแจ้งความ :
                    </label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" formControlName="StaffFullName" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>

                    <label for="" class="col-lg-2 col-sm-4 control-label">หน่วยงาน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="form-group ">
                            <input type="text" formControlName="DepartmentName" class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">ตำแหน่ง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="form-group ">
                            <input type="text" formControlName="PositionName" class="form-control form-control-sm" readonly>
                        </div>
                    </div>

                    <input type="hidden" formControlName="StaffID">
                    <input type="hidden" formControlName="ProgramCode">
                    <input type="hidden" formControlName="ProcessCode">
                    <input type="hidden" formControlName="NoticeCode">
                    <input type="hidden" formControlName="StaffCode">
                    <input type="hidden" formControlName="TitleName">
                    <input type="hidden" formControlName="FirstName">
                    <input type="hidden" formControlName="LastName">
                    <input type="hidden" formControlName="PositionCode">
                    <input type="hidden" formControlName="PosLevel">
                    <input type="hidden" formControlName="PosLevelName">
                    <input type="hidden" formControlName="DepartmentCode">
                    <input type="hidden" formControlName="DepartmentLevel">
                    <input type="hidden" formControlName="OfficeCode">
                    <input type="hidden" formControlName="OfficeName">
                    <input type="hidden" formControlName="OfficeShortName">
                    <input type="hidden" formControlName="ContributorCode">
                    <input type="hidden" formControlName="IsActive">
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius" formArrayName="Noticeinformer">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">รายละเอียดผู้แจ้งความ</h4>
        </div>
        <div class="card-body" formArrayName="NoticeInformer">
            <div *ngFor="let item of NoticeInformer.controls; let i=index;" [formGroupName]="i">

                <div class="row form-group">
                    <div class="col">
                        <input *ngIf="showEditField" type="checkbox" id="md_checkbox_25" formControlName="InformerType" class="filled-in chk-col-indigo"
                            disabled>
                        <input *ngIf="!showEditField" type="checkbox" id="md_checkbox_25" formControlName="InformerType" class="filled-in chk-col-indigo"
                            (change)="onChangeConceal()">
                        <label for="md_checkbox_25">สายลับขอปิดนาม</label>
                    </div>
                </div>

            <input type="hidden" formControlName="InformerID">
            <input type="hidden" formControlName="NoticeCode">
            <input type="hidden" formControlName="TitleCode">
            <input type="hidden" formControlName="TitleName">
            <input type="hidden" formControlName="FirstName">
            <input type="hidden" formControlName="LastName">
            <input type="hidden" formControlName="IDCard">
            <input type="hidden" formControlName="GenderType">
            <input type="hidden" formControlName="Location">
            <input type="hidden" formControlName="SubDistrictCode">
            <input type="hidden" formControlName="SubDistrict">
            <input type="hidden" formControlName="DistrictCode">
            <input type="hidden" formControlName="District">
            <input type="hidden" formControlName="ProvinceCode">
            <input type="hidden" formControlName="Province">
            <input type="hidden" formControlName="ZipCode">
            <input type="hidden" formControlName="TelephoneNo">
            <input type="hidden" formControlName="IsActive">

            <div class="row form-group">
                <div class="col">
                    <input type="checkbox" id="md_checkbox_25" formControlName="InformerType" class="filled-in chk-col-indigo" [disabled]="showEditField">
                    <label for="md_checkbox_25">สายลับขอปิดนาม</label>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อ(นามแฝง) ผู้แจ้ง :
                </label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="text" class="form-control form-control-sm" formControlName="FullName" [disabled]="showEditField">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">อายุผู้แจ้ง (ปี) :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" class="form-control form-control-sm" formControlName="Age" [disabled]="showEditField">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">บ้านเลขที่ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" class="form-control form-control-sm" formControlName="Address" [disabled]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">หมู่ที่ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="text" class="form-control form-control-sm" formControlName="Village" [disabled]="showEditField">
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">อาคาร/สถานที่ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="text" class="form-control form-control-sm" formControlName="Building" [disabled]="showEditField">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">ห้อง :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" class="form-control form-control-sm" formControlName="Room" [disabled]="showEditField">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ชั้น :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" class="form-control form-control-sm" formControlName="Floor" [disabled]="showEditField">
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">ตรอก/ซอย :</label>
                <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                    <input type="text" class="form-control form-control-sm" formControlName="Alley" [disabled]="showEditField">
                </div>
            </div>

                    <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                        <ng-template #rt let-r="result" let-t="term">
                            {{ r.SubDistrict }} {{r.District}} {{r.Province}}
                        </ng-template>

                        <input type="text" class="form-control form-control-sm"
                            [ngbTypeahead]="searchRegion"
                            [resultTemplate]="rt"
                            [readOnly]="isConceal"
                            [readOnly]="showEditField"
                            [inputFormatter]="formatterRegion" 
                            (selectItem)="selectItemInformmerRegion($event)"
                            />
                    </div>
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">ต./อ./จ. :</label>
                <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                    <select name="" id="" class="form-control form-control-sm" [disabled]="showEditField"></select>
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">รายละเอียดแจ้งความ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                    <textarea name="" id="" cols="" rows="5" class="form-control form-control-sm" formControlName="InformerInfo" [disabled]="showEditField"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">รายละเอียดการกระทำความผิด</h4>
        </div>
        <div class="card-body" formArrayName="NoticeLocale">

            <div *ngFor="let item of NoticeLocale.controls; let i=index;" [formGroupName]="i">

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">บ้านเลขที่ :</label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" class="form-control form-control-sm" formControlName="Address" [disabled]="showEditField">
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">หมู่ที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="form-group ">
                            <input type="text" class="form-control form-control-sm" [disabled]="showEditField">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">อาคาร/สถานที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="form-group ">
                            <input type="text" class="form-control form-control-sm" [disabled]="showEditField">
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-4 control-label">ห้อง :</label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" class="form-control form-control-sm" [disabled]="showEditField">
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">ชั้น :</label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" class="form-control form-control-sm" [disabled]="showEditField">
                    </div>

                    <label for="" class="col-lg-2 col-sm-4 control-label">ตรอก/ซอย :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                        <input type="text" class="form-control form-control-sm" [disabled]="showEditField">
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">ถนน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                        <input type="text" class="form-control form-control-sm" [disabled]="showEditField">
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">ต./อ./จ. :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group ">

                        <ng-template #rt let-r="result" let-t="term">
                            {{ r.SubDistrict }} {{r.District}} {{r.Province}}
                        </ng-template>
                        <input type="text" formControlName="Region" class="form-control form-control-sm"
                            [ngbTypeahead]="searchRegion"
                            [readOnly]="isConceal"
                            [readOnly]="showEditField"
                            [resultTemplate]="rt"
                            [inputFormatter]="formatterRegion" 
                            (selectItem)="selectItemLocaleRegion($event)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">สินค้าต้องสงสัย</h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button class="btn btn-block btn-themecolor" [disabled]="showEditField">เพิ่มสินค้า</button>
                </div>
            </div>
            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>สินค้า</th>
                        <th>จำนวน</th>
                        <th>หน่วย</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="NoticeProduct">
                    <tr *ngFor="let item of NoticeProduct.controls; let i=index;" [formGroupName]="i">
                        <td class="text-center">{{i+1}}</td>
                        <td>
                            <ng-template #rt let-r="result" let-t="term">
                                {{ r.BrandNameTH }} {{r.SubBrandNameTH}} {{r.ModelName}}
                            </ng-template>
                            <input type="text" class="form-control form-control-sm"
                                [readonly]="showEditField"
                                [ngbTypeahead]="searchProduct"
                                [resultTemplate]="rt"
                                [inputFormatter]="formatterProduct"
                                (selectItem)="selectItemProductItem($event, i)" />

                                <span *ngIf="searching">searching...</span>
                                <div class="form-control-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
                        </td>
                        <td>
                            <input type="text" name="" id="" class="form-control form-control-sm" [disabled]="showEditField">
                        </td>
                        <td>
                            <select formControlName="QtyUnit" class="form-control form-control-sm" [disabled]="showEditField">
                                <option value="" selected disabled></option>
                                <option *ngFor="let item of dutyUnitModel;" [value]="item.DutyUnitCode">{{item.DutyCode}}</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-danger" *ngIf="!showEditField">
                                <i class="fa fa-trash-o fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ผู้ต้องสงสัย</h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" (click)="openSuspect(suspect)" [disabled]="showEditField">เพิ่มผู้ต้องสงสัย</button>
                </div>

                <ng-template #suspect let-c="close" let-d="dismiss">
                    <app-lawbreaker-modal (c)="modal.close()" (d)="modal.dismiss()"></app-lawbreaker-modal>
                </ng-template>
            </div>
            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>ประเภทผู้ต้องสงสัย</th>
                        <th>ประเภทบุคคล</th>
                        <th>หมายเลขอ้างอิง</th>
                        <th>ชื่อ</th>
                        <th>จำนวนครั้งการกระทำผิด</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="NoticeSuspect">
                    <tr *ngFor="let item of NoticeSuspect.controls; let i=index;" [formGroupName]="i">
                        <td class="text-center">{{i+1}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-danger" *ngIf="!showEditField">
                                <i class="fa fa-trash-o fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">หลักฐานการแจ้งความ</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ช่องทางการรับแจ้งความ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                    <input type="text" class="form-control form-control-sm" [disabled]="showEditField">
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อเอกสารแนบ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                    <select name="" id="" class="form-control form-control-sm" [disabled]="showEditField"></select>
                </div>
            </div>
            <div class="row">

                <label for="" class="col-lg-2 col-sm-4 control-label">ที่อยู่เอกสารแนบ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                    <select name="" id="" class="form-control form-control-sm" [disabled]="showEditField"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">เอสารแนบภายใน</h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button class="btn btn-block btn-themecolor" [disabled]="showEditField">เพิ่มเอกสารแนบ</button>
                </div>
            </div>
            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>ชื่อเอกสารแนบ</th>
                        <th>ที่อยู่เอกสารแนบ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="NoticeDocument">
                    <tr *ngFor="let item of NoticeDocument.controls; let i=index;" [formGroupName]="i">
                        <td class="text-center">{{i+1}}</td>
                        <td>
                            <input type="text" formControlName="DataSource" class="form-control form-control-sm" [readonly]="showEditField">
                        </td>
                        <td>
                            <input type="file" formControlName="FilePath" [readonly]="showEditField">
                        </td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-danger" *ngIf="!showEditField">
                                <i class="fa fa-trash-o fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>