<form class="form-horizontal" [formGroup]="noticeForm">
    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ผู้รับแจ้ง</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">เลขที่บันทึกแจ้งความ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="text" formControlName="NoticeCode" class="form-control form-control-sm" readonly>
                    </div>
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">วันที่รับแจ้งความ :
                </label>
                <div class="form-group input-group  col-lg-4 col-md-7 col-sm-8">
                    <input type="date" formControlName="NoticeDate" class="form-control form-control-sm" [readonly]="showEditField">

                    <label for="" class="">&nbsp; เวลา : &nbsp;</label>
                    <input type="text" formControlName="NoticeTime" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ใช้ได้ภายในกำหนด(วัน) :</label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="text" formControlName="NoticeDue" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">สิ้นสุดวันที่ :</label>
                <div class="form-group input-group  col-lg-4 col-md-7 col-sm-8">
                    <input type="date" formControlName="NoticeDueDate" class="form-control form-control-sm">

                    <label for="" class="">&nbsp; เวลา : &nbsp;</label>
                    <input type="text" name="" class="form-control form-control-sm">
                </div>
            </div>

            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">เขียนที่ :
                </label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group ">
                        <input type="text" formControlName="NoticeStation" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                </div>

                <!-- <label for="" class="col-lg-2 col-sm-4 control-label">ผู้รับแจ้งความ :
                </label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="StaffFullName" class="form-control form-control-sm" [readonly]="showEditField">
                </div> -->
            </div>

            <div formArrayName="NoticeStaffForm">
                <div class="row" *ngFor="let item of NoticeStaffForm.controls; let i=index;" [formGroupName]="i">

                    <label for="" class="col-lg-2 col-sm-4 control-label">ผู้รับแจ้งความ :
                    </label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" formControlName="StaffFullName" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>

                    <label for="" class="col-lg-2 col-sm-4 control-label">หน่วยงาน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="form-group ">
                            <input type="text" formControlName="DepartmentName" class="form-control form-control-sm" [readonly]="showEditField">
                        </div>
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">ตำแหน่ง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="form-group ">
                            <input type="text" formControlName="PositionName" class="form-control form-control-sm" [readonly]="showEditField">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">

        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">รายละเอียดผู้แจ้งความ</h4>
        </div>
        <div class="card-body" formArrayName="NoticeInformerForm">
            <div *ngFor="let item of NoticeInformerForm.controls; let i=index;" [formGroupName]="i">

                <div class="row form-group">
                    <div class="col">
                        <input *ngIf="showEditField" type="checkbox" id="md_checkbox_25" formControlName="InformerType" class="filled-in chk-col-indigo"
                            disabled>
                        <input *ngIf="!showEditField" type="checkbox" id="md_checkbox_25" formControlName="InformerType" class="filled-in chk-col-indigo"
                            (change)="onChangeConceal()">
                        <label for="md_checkbox_25">สายลับขอปิดนาม</label>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อ(นามแฝง) ผู้แจ้ง :
                    </label>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="form-group ">
                            <input type="text" class="form-control form-control-sm" formControlName="FullName" [readOnly]="isConceal" [readonly]="showEditField">
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-4 control-label">อายุผู้แจ้ง (ปี) :</label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" class="form-control form-control-sm" formControlName="Age" [readOnly]="isConceal" [readonly]="showEditField">
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">บ้านเลขที่ :</label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" class="form-control form-control-sm" formControlName="Address" [readOnly]="isConceal" [readonly]="showEditField">
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">หมู่ที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="form-group ">
                            <input type="text" class="form-control form-control-sm" formControlName="Village" [readOnly]="isConceal" [readonly]="showEditField">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">อาคาร/สถานที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="form-group ">
                            <input type="text" class="form-control form-control-sm" formControlName="Building" [readOnly]="isConceal" [readonly]="showEditField">
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-4 control-label">ห้อง :</label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" class="form-control form-control-sm" formControlName="Room" [readOnly]="isConceal" [readonly]="showEditField">
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">ชั้น :</label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" class="form-control form-control-sm" formControlName="Floor" [readOnly]="isConceal" [readonly]="showEditField">
                    </div>

                    <label for="" class="col-lg-2 col-sm-4 control-label">ตรอก/ซอย :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                        <input type="text" class="form-control form-control-sm" formControlName="Alley" [readOnly]="isConceal" [readOnly]="showEditField">
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">ถนน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                        <input type="text" class="form-control form-control-sm" formControlName="Road" [readOnly]="isConceal" [readOnly]="showEditField">
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">ต./อ./จ. :</label>

                    <div class="col-lg-4 col-md-7 col-sm-8 form-group ">                        
                        <ng-template #informRegionResult let-r="result" let-t="term">
                                {{ r.SubDistrict }} {{r.District}} {{r.Province}}
                        </ng-template>

                        <input type="text" formControlName="Region" class="form-control form-control-sm"
                            [ngbTypeahead]="searchRegion"  
                            [readOnly]="isConceal"
                            [readOnly]="showEditField" 
                            [(ngModel)]="objInformmerRegion" 
                            [resultTemplate]="informRegionResult"
                            [inputFormatter]="formatterArray" />
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">รายละเอียดแจ้งความ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                        <textarea name="" id="" cols="" rows="5" class="form-control form-control-sm" formControlName="InformerInfo" [readOnly]="isConceal"
                            [readOnly]="showEditField"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">รายละเอียดการกระทำความผิด</h4>
        </div>
        <div class="card-body" formArrayName="NoticeLocaleForm">

            <div *ngFor="let item of NoticeLocaleForm.controls; let i=index;" [formGroupName]="i">

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">บ้านเลขที่ :</label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" class="form-control form-control-sm" formControlName="Address" [readonly]="showEditField">
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">หมู่ที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="form-group ">
                            <input type="text" formControlName="Village" class="form-control form-control-sm" [readonly]="showEditField">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">อาคาร/สถานที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="form-group ">
                            <input type="text" formControlName="Building" class="form-control form-control-sm" [readonly]="showEditField">
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-4 control-label">ห้อง :</label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" formControlName="Room" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">ชั้น :</label>
                    <div class="form-group col-lg-4 col-md-7 col-sm-8">
                        <input type="text" formControlName="Floor" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>

                    <label for="" class="col-lg-2 col-sm-4 control-label">ตรอก/ซอย :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                        <input type="text" formControlName="Alley" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                </div>

                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">ถนน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                        <input type="text" formControlName="Road" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>

                    <label for="" class="col-lg-2 col-sm-4 control-label">ต./อ./จ. :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                        

                        <!-- <input type="hidden" formControlName="SubDistrictCode" [(ngModel)]="objLocaleRegion.SubDistrictCode">
                        <input type="hidden" formControlName="SubDistrict" [(ngModel)]="objLocaleRegion.SubDistrict">
                        <input type="hidden" formControlName="DistrictCode" [(ngModel)]="objLocaleRegion.DistrictCode">
                        <input type="hidden" formControlName="District" [(ngModel)]="objLocaleRegion.District">
                        <input type="hidden" formControlName="ProvinceCode" [(ngModel)]="objLocaleRegion.ProvinceCode">
                        <input type="hidden" formControlName="Province" [(ngModel)]="objLocaleRegion.Province">
                        <input type="hidden" formControlName="ZipCode" [(ngModel)]="objLocaleRegion.ZipCode"> -->
                        <ng-template #localeRegionResult let-r="result" let-t="term">
                            {{ r.SubDistrict }} {{r.District}} {{r.Province}}
                        </ng-template>
                        <input type="text" formControlName="Region" class="form-control form-control-sm"
                            [ngbTypeahead]="searchRegion"  
                            [readOnly]="isConceal"
                            [readOnly]="showEditField" 
                            [(ngModel)]="objLocaleRegion" 
                            [resultTemplate]="localeRegionResult"
                            [inputFormatter]="formatterArray" />
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">สินค้าต้องสงสัย</h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="addProduct()">เพิ่มสินค้า</button>
                </div>
            </div>
            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>สินค้า</th>
                        <th>จำนวน</th>
                        <th>หน่วย</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="NoticeProductForm">
                    <tr *ngFor="let item of NoticeProductForm.controls; let i=index;" [formGroupName]="i">
                        <td class="text-center">{{i+1}}</td>
                        <td>
                            <input type="text" formControlName="BrandFullName" class="form-control form-control-sm" [readonly]="showEditField" 
                            >
                            <!-- [ngbTypeahead]="searchProduct" -->
                        </td>
                        <td>
                            <input type="text" formControlName="Qty" class="form-control form-control-sm" [readonly]="showEditField">
                        </td>
                        <td>
                            <select formControlName="QtyUnit" class="form-control form-control-sm" [disabled]="showEditField">
                                <option value=""></option>
                            </select>
                        </td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-danger" *ngIf="!showEditField" (click)="onDeleteProduct(item.get('ProductID').value, i)">
                                <i class="fa fa-trash-o fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ผู้ต้องสงสัย</h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" (click)="openSuspect(suspect)" [disabled]="showEditField">เพิ่มผู้ต้องสงสัย</button>
                </div>

                <ng-template #suspect let-c="close" let-d="dismiss">
                    <app-lawbreaker-modal (c)="modal.close()" (d)="modal.dismiss()"></app-lawbreaker-modal>
                </ng-template>
            </div>
            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>ประเภทผู้ต้องสงสัย</th>
                        <th>ประเภทบุคคล</th>
                        <th>หมายเลขอ้างอิง</th>
                        <th>ชื่อ</th>
                        <th>จำนวนครั้งการกระทำผิด</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="NoticeSuspectForm">
                    <tr *ngFor="let item of NoticeSuspectForm.controls; let i=index;" [formGroupName]="i">
                        <td class="text-center">{{i+1}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{item.get('SuspectFullName').value}}</td>
                        <td></td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-danger" *ngIf="!showEditField" (click)="onDeleteSuspect(item.get('SuspectID').value, i)">
                                <i class="fa fa-trash-o fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">หลักฐานการแจ้งความ</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ช่องทางการรับแจ้งความ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                    <select formControlName="CommunicationChanelID" class="form-control form-control-sm" [disabled]="showEditField">
                        <option *ngFor="let item of communicateModel; let i=index;" [value]="item.CommunicationChanelID">
                            {{item.CommunicationChanelName}}
                        </option>
                    </select>
                </div>
                <label for="" class="col-lg-2 col-sm-4 control-label">ชื่อเอกสารแนบ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                    <input type="text" formControlName="DataSource" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">

                <label for="" class="col-lg-2 col-sm-4 control-label">ที่อยู่เอกสารแนบ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8 form-group ">
                    <input type="file" formControlName="FilePath" [readonly]="showEditField">
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header  unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">เอสารแนบภายใน</h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="addDocument()">เพิ่มเอกสารแนบ</button>
                </div>
            </div>
            <table class="table table-sm table-striped table-set-border">
                <thead>
                    <tr>
                        <th class="text-center">ลำดับ</th>
                        <th>ชื่อเอกสารแนบ</th>
                        <th>ที่อยู่เอกสารแนบ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody formArrayName="NoticeDocumentForm">
                    <tr *ngFor="let item of NoticeDocumentForm.controls; let i=index;" [formGroupName]="i">
                        <td class="text-center">{{i+1}}</td>
                        <td>
                            <input type="text" formControlName="DataSource" class="form-control form-control-sm" [readonly]="showEditField">
                        </td>
                        <td>
                            <input type="file" formControlName="FilePath" [readonly]="showEditField">
                        </td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-danger" *ngIf="!showEditField" (click)="onDeleteDocument(item.get('DocumentID').value, i)">
                                <i class="fa fa-trash-o fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>