<ng-template #printDocModal let-c="close" let-d="dismiss">
  <app-printdoc-modal (c)="modal.close()" (d)="modal.dismiss()"></app-printdoc-modal>
</ng-template>
<input type="text" style="width:93%" [(ngModel)]="StationName" name="StationName" placeholder="Pick one" aria-label="Number"
                matInput [matAutocomplete]="auto" (input)="onAutoChange($event.target.value)" (focus)="onAutoFocus($event.target.value)">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option.OfficeCode">
                  {{ option.OfficeName }}
                </mat-option>
              </mat-autocomplete>

<div class="wizard-content">
  <div class="wizard-circle wizard clearfix clearfix">
    <div class="steps tab-wizard">
      <ul role="tablist">
        <li role="tab" class="current" aria-disabled="false" aria-selected="true">
          <a>
            <span class="current-info audible">current step: </span>
            <span class="step"></span> 1. ใบแจ้งความนำจับ</a>
        </li>
        <li role="tab" class="current" aria-disabled="true">
          <a>
            <span class="step"></span> 2. งานจับกุม </a>
        </li>
        <li role="tab" class="current" aria-disabled="true">
          <a>
            <span class="step"></span> 3. รับคำกล่าวโทษ </a>
        </li>
        <li role="tab" class="current" aria-disabled="true">
          <a>
            <span class="step"></span> 4. งานตรวจรับและพิสูจน์ของกลาง </a>
        </li>
        <li role="tab" class="current" aria-disabled="true">
          <a>
            <span class="step"></span> 5. งานเปรียบเทียบและชำระค่าปรับ </a>
        </li>
        <li role="tab" class="disabled" aria-disabled="true">
          <a>
            <span class="step"></span> 6. นำส่งเงินรายได้ </a>
        </li>
        <li role="tab" class="disabled" aria-disabled="true">
          <a>
            <span class="step"></span> 7. คำร้องขอรับเงินสินบนรางวัล </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- [formGroup]="CompareForm" -->
<form class="form-horizontal">
  <div class="card ">
    <div class="card-header  unset-radius">
      <app-card-actions-collapse></app-card-actions-collapse>
      <h4 class="card-title m-b-0">รายละเอียดข้อกล่าวหา</h4>
    </div>
    <div class="card-body">
      <div class="form-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">เลขที่ใบงาน : </label>
              <div class="col-md-8">
                <input class="form-control" [(ngModel)]="ArrestCode" type="text" name="ArrestCode" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">เลขที่คดีรับคำกล่าวโทษ : </label>
              <div class="col-md-8">
                <input class="form-control" [(ngModel)]="LawsuiltCode" type="text" name="LawsuiltCode" disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">ทะเบียนตรวจพิสูจน์ : </label>
              <div class="col-md-8">
                <input class="form-control" [(ngModel)]="ProveReportNo" type="text" name="ProveReportNo" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">วันที่รับทำคดี : </label>
              <div class="col-md-3">
                <input class="form-control" [(ngModel)]="LawsuiltDate" type="date" name="LawsuiltDate" disabled>
              </div>
              <label class="col-form-label text-center col-md-2">เวลา</label>
              <div class="col-md-3">
                <input class="form-control" [(ngModel)]="LawsuiltTime" type="date" name="LawsuiltTime" disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">ผู้กล่าวหา : </label>
              <div class="col-md-8">
                <input class="form-control" [(ngModel)]="ArrestStaffName" type="text" name="ArrestStaffName" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">ตำแหน่ง : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="PositionName" name="PositionName" disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">หน่วยงาน : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="DepartmentName" name="DepartmentName" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">สถานที่จับกุม : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="ArrestLocal" name="ArrestLocal" disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">ฐานความผิดมาตรา : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="SectionName" name="SectionName" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">ฐานความผิด : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="GuiltBaseName" name="GuiltBaseName" disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">บทกำหนดโทษ : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="SectionNo" name="SectionNo" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-form-label col-md-4">อัตราโทษ : </label>
              <div class="col-md-8">
                <input class="form-control" type="text" [(ngModel)]="PenaltyDesc" name="PenaltyDesc" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


<!-- เงินค่าปรับ -->
<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">รายละเอียดเงินค่าปรับ</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="dataTable table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th class="footable-sortable">ชื่อผู้ต้องหา</th>
            <th class="footable-sortable">จำนวนครั้ง</th>
            <th class="footable-sortable">ของกลาง</th>
            <th class="footable-sortable">จำนวนเท่า</th>
            <th class="footable-sortable">มูลค่าภาษี</th>
            <th class="footable-sortable">ค่าปรับสุทธิ</th>
            <th class="footable-sortable">ยอดชำระ</th>
            <th class="footable-sortable">สินบน</th>
            <th class="footable-sortable">รางวัล</th>
            <th class="footable-sortable">ส่งคลัง</th>
          </tr>
        </thead>
        <tbody>
          <tr class="footable">
            <td class="">นายธวัชชัย บิง</td>
            <td class="text-center">
              <b>
                <u>
                  <a (click)="viewData()">2</a>
                </u>
              </b>
            </td>
            <td>Hoegaarden/Wit</td>
            <td class="text-center">10</td>
            <td class="">80,000.00</td>
            <td class="">800,000.00</td>
            <td>
              <input class="form-control" type="text" [disabled]="viewMode" value="800,000.00">
            </td>
            <td class="">160,000.00</td>
            <td class="">160,000.00</td>
            <td class="">480,000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- คำให้การของผู้ต้องหา -->
<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">คำให้การของผู้ต้องหา</h4>
  </div>
  <div class="card-body">
    <div class="form-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label  col-md-3">วันที่จัดทำ : </label>
            <div class="col-md-4">
              <input class="form-control" type="date" [(ngModel)]="CompareDate" name="CompareDate" [disabled]="viewMode">
            </div>
            <label class="col-form-label text-center col-md-2">เวลา</label>
            <div class="col-md-3">
              <input class="form-control" type="time" [(ngModel)]="CompareTime" name="CompareTime" [disabled]="viewMode">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label col-md-4">เขียนที่ : </label>
            <div class="col-md-7">
              <!-- <form autocomplete="on" class="app-search" #formSearch="ngForm" (ngSubmit)="test()">
                <input type="search" name="Textsearch" id="" ngModel class="form-control">
              </form> 
              <input class="form-control" type="text" [(ngModel)]="oCompareIns.CompareStation" name="CompareStation" [disabled]="viewMode">
              <input type="hidden" [(ngModel)]="oCompareIns.CompareStationCode" name="CompareStationCode">
            -->
              <input type="text" style="width:93%" [(ngModel)]="StationName" name="StationName" placeholder="Pick one" aria-label="Number"
                matInput [matAutocomplete]="auto" (input)="onAutoChange($event.target.value)" (focus)="onAutoFocus($event.target.value)">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option.OfficeCode">
                  {{ option.OfficeName }}
                </mat-option>
              </mat-autocomplete>
              <!-- <div  *ngFor="let option of options">
                 {{ option.OfficeName }}
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label col-md-3">ชื่อผู้เปรียบเทียบ : </label>
            <div class="col-md-9">
              <input class="form-control" type="text" [(ngModel)]="Staff" name="Staff" [disabled]="viewMode">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label col-md-4">ตำแหน่ง : </label>
            <div class="col-md-7">
              <input class="form-control" type="text" [(ngModel)]="ComparePosition" name="ComparePosition" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label col-md-3">หน่วยงาน : </label>
            <div class="col-md-9">
              <input class="form-control" type="text" [(ngModel)]="CompareDepartment" name="CompareDepartment" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="dataTable table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th class="footable-sortable text-center" style="width:5%">ลำดับ</th>
            <th class="footable-sortable" style="width:20%">ชื่อผู้ต้องหา</th>
            <th class="footable-sortable text-center" style="width:10%">วันที่กำหนดชำระค่าปรับ</th>
            <th class="footable-sortable text-center" style="width:10%">วันที่กำหนดชำระภาษี</th>
            <th class="footable-sortable text-center" style="width:10%">ปล่อยตัวชั่วคราว</th>
            <th class="footable-sortable text-center" style="width:5%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ListCompareDetail; let i=index;" class="footable">
            <td class="text-center">{{i + 1}}</td>
            <td>{{item.Lawbreaker}}</td>
            <td class="text-center">{{item.PaymentFineAppointDate | date:'dd/MM/yyyy'}}</td>
            <td class="text-center">{{item.PaymentVatDate | date:'dd/MM/yyyy'}}</td>
            <td class="text-center">
              <span *ngIf="IsProvisionalAcquittal == 1">/</span>
            </td>
            <td class=" text-center">
              <a (click)="onClickEditF3(i)" class="text-secondary" data-toggle="modal" data-target="#testimonyPopup">
                <i class="mdi mdi-eye fa-lg"></i>
              </a>
              <a (click)="onClickEditF3(i)" class="text-secondary" [hidden]="viewMode" data-toggle="modal" data-target="#testimonyPopup">
                <i class="ti-pencil-alt btn-action"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<!-- บันทึกการเปรียบเทียบคดีและชำระค่าปรับ -->
<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">บันทึกการเปรียบเทียบคดีและชำระค่าปรับ</h4>
  </div>

  <div class="card-body">
    <div class="form-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <div class="custom-control custom-checkbox col-form-label col-md-4">
              <input class="col-form-label filled-in chk-col-indigo" id="IsOutside" type="checkbox" [(ngModel)]="IsOutside" name="IsOutside"
                [disabled]="viewMode">
              <label for="IsOutside">คดีเปรียบเทียบนอกสถานที่ทำการ</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-form-label col-md-4">คดีเปรียบเทียบที่ : </label>
            <div class="col-md-7">
              <input class="form-control" type="text" [(ngModel)]="oCompareIns.CompareCode" name="CompareCode" [disabled]="viewMode">
            </div>
            <label class="col-form-label">/{{CompareYear}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="dataTable table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th class="footable-sortable text-center">ลำดับ</th>
            <th class="footable-sortable">ชื่อผู้ต้องหา</th>
            <th class="footable-sortable text-center">วันที่ชำระค่าปรับ</th>
            <th class="footable-sortable">ผู้รับชำระค่าปรับ</th>
            <th class="footable-sortable text-center">ช่องทางชำระ</th>
            <th class="footable-sortable text-center">ใบเสร็จเล่มที่</th>
            <th class="footable-sortable text-center">ใบเสร็จเลขที่/เลขอ้างอิง</th>
            <th class="footable-sortable text-center">สถานะคดี</th>
            <th class="footable-sortable"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ListCompareDetailReceipt; let i=index;" class="footable">
            <td class="text-center">{{i + 1}}</td>
            <td>{{item.Lawbreaker}}</td>
            <td class="text-center">{{item.PaymentDate | date:'dd/MM/yyyy'}}</td>
            <td>{{item.ReceipStaff}}</td>
            <td class="text-center">{{item.ReceiptChanel}}</td>
            <td class="text-center">{{item.ReceiptBookNo}}</td>
            <td class="text-center">{{item.ReceiptBookNo}}/{{item.ReceiptNo}}</td>
            <td class="text-center">{{item.RevernueStatus}}</td>
            <td>
              <a (click)="onClickEditF4(i)" class="text-secondary" data-toggle="modal" data-target="#payPopup">
                <i class="mdi mdi-eye fa-lg"></i>
              </a>
              <a (click)="onClickEditF4(i)" class="text-secondary" [hidden]="viewMode" data-toggle="modal" data-target="#payPopup">
                <i class="ti-pencil-alt btn-action"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- รายงานขออนุมัติการเปรียบเทียบคดีและแบบอนุมัติ -->
<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">รายงานขออนุมัติการเปรียบเทียบคดีและแบบอนุมัติ</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="dataTable table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th class="footable-sortable text-center" style="width:10%">ลำดับ</th>
            <th class="footable-sortable">ชื่อผู้ต้องหา</th>
            <th class="footable-sortable text-center" style="width:15%">วันที่จัดทำรายงานฯ</th>
            <th class="footable-sortable text-center" style="width:15%">แบบอนุมัติ</th>
            <th class="footable-sortable" style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ListCompareDetail; let i=index;" class="footable">
            <td class="text-center">{{i + 1}}</td>
            <td>{{item.Lawbreaker}}</td>
            <td class="text-center">{{item.ApproveReportDate | date:'dd/MM/yyyy'}}</td>
            <td>{{item.ApproveReportType}}</td>
            <td>
              <a (click)="onClickEditF5(i)" class="text-secondary" data-toggle="modal" data-target="#approvePopup">
                <i class="mdi mdi-eye fa-lg"></i>
              </a>
              <a (click)="onClickEditF5(i)" class="text-secondary" [hidden]="viewMode" data-toggle="modal" data-target="#approvePopup">
                <i class="ti-pencil-alt btn-action"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- เอกสารแนบภายใน -->
<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">เอกสารแนบภายใน</h4>
  </div>
  <div class="card-body">
    <div class="text-right">
      <input type="file" id="btn-browse" #file [disabled]="viewMode">
      <label for="btn-browse" [ngClass]="{disabled : viewMode}" class="btn waves-effect waves-light btn-navy"> เพิ่มเอกสารแนบ </label>
    </div>
    <div class="table-responsive">
      <table class="dataTable table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th class="footable-sortable text-center">ลำดับ</th>
            <th class="footable-sortable">ชื่อเอกสารแนบ</th>
            <th class="footable-sortable">ที่อยู่เอกสารแนบ</th>
          </tr>
        </thead>
        <tbody>
          <tr class="footable">
            <td class="text-center">1</td>
            <td>
              <input class="form-control" type="text" nmae="fileName" [disabled]="viewMode">
            </td>
            <td>
              <input class="form-control" type="text" name="filePath" [disabled]="viewMode">
            </td>
            <td>
              <i class="ti-trash btn-action" [hidden]="viewMode"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Pop up คำให้การของผู้ต้องหา -->
<div class="modal fade" id="testimonyPopup" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header top-navbar text-white">
        คำให้การของผู้ต้องหา
        <div class="card-actions">
          <i class="ti-close text-white close-popup" data-dismiss="modal" data-target="testimonyPopup"></i>
        </div>
      </div>
      <div class="modal-body">
        <div class="text-right"> XCS60-06-02-02-00 </div>
        <div class="form-body m-t-10">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-5">ชื่อผู้ต้องหา : </label>
                <div class="col-md-7">
                  <input class="form-control" type="text" [(ngModel)]="ArrestName" name="ArrestName" disabled>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-5">วันที่กำหนดชำระค่าปรับ : </label>
                <div class="col-md-7">
                  <input class="form-control" type="date" [(ngModel)]="PaymentFineAppointDate" name="PaymentFineAppointDate" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-5">วันที่กำหนดชำระภาษี : </label>
                <div class="col-md-7">
                  <input class="form-control" type="date" [(ngModel)]="PaymentVatDate" name="PaymentVatDate" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-5">ข้อมูลการปล่อยตัวชั่วคราว</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <div class="custom-control custom-checkbox col-form-label col-md-4">
                  <input class="col-form-label filled-in chk-col-indigo" id="insurance" type="checkbox" [checked]="Bail!='' && Bail!=nul" disabled>
                  <label for="insurance">ประกัน :</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control" type="text" [(ngModel)]="Bail" name="Bail" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <div class="custom-control custom-checkbox col-form-label col-md-4">
                  <input class="col-form-label filled-in chk-col-indigo" id="collateral" type="checkbox" disabled [checked]="Guaruntee!='' && Guaruntee!=nul">
                  <label for="collateral">ประกันและหลักประกัน :</label>
                </div>
                <div class="col-md-7">
                  <input class="form-control" type="text" [(ngModel)]="Guaruntee" name="Guaruntee" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-form-label col-md-12">การแจ้งสิทธิให้แจ้งญาติหรือผู้ซึ่งไว้วางใจทราบถึงการถูกจับและสถานที่ถูกควบคุม</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-popup form-group row">
                <div class="custom-control custom-radio col-form-label col-md-10">
                  <input name="RequestRadio" id="yRequest" class="col-form-label with-gap radio-col-indigo" type="radio" [disabled]="viewMode"
                    [checked]="oCompareDetail.IsRequest=='1'">
                  <label for="yRequest">ร้องขอ</label>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <div class="custom-control custom-radio col-form-label col-md-10">
                  <input name="RequestRadio" id="nRequest" class="col-form-label with-gap radio-col-indigo" type="radio" [disabled]="viewMode"
                    [checked]="oCompareDetail.IsRequest=='0'">
                  <label for="nRequest">ไม่ร้องขอ</label>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-form-label col-md-3">คำให้การของผู้ต้องหา : </label>
                <div class="col-md-9">
                  <textarea class="form-control" [disabled]="viewMode" rows="5" [(ngModel)]="LawbrakerTestimony" name="LawbrakerTestimony"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button type="button" class="btn waves-effect waves-light btn-navy" [disabled]="viewMode" data-toggle="modal" data-target="#testimonyPopup"
            (click)="onSaveF3()">บันทึก</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- บันทึกการเปรียบเทียบคดีและชำระค่าปรับ -->
<div class="modal fade" id="payPopup" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-white top-navbar">
        ชำระค่าปรับ
        <div class="card-actions">
          <i class="ti-close text-white close-popup" data-dismiss="modal" data-target="payPopup"></i>
        </div>
      </div>
      <div class="modal-body">
        <div class="text-right"> XCS60-06-02-03-00 </div>
        <div class="form-body m-t-10">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ชื่อผู้ต้องหา : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" [(ngModel)]="ArrestName" name="ArrestName" disabled>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-5">ยอดชำระค่าปรับ : </label>
                <div class="col-md-7">
                  <input class="form-control" type="text" [(ngModel)]="TotalFine" name="TotalFine" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">วันที่ชำระค่าปรับ : </label>
                <div class="col-md-3">
                  <input class="form-control" type="date" [(ngModel)]="PaymentDate" name="PaymentDate" [disabled]="viewMode">
                </div>
                <label class="col-form-label text-center col-md-2">เวลา</label>
                <div class="col-md-3">
                  <input class="form-control" type="date" [(ngModel)]="PaymentTime" name="PaymentTime" [disabled]="viewMode">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-5">เขียนที่ : </label>
                <div class="col-md-7">
                  <input class="form-control" type="text" [(ngModel)]="ReceipStation" name="ReceipStation" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ผู้รับชำระค่าปรับ : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" [(ngModel)]="ReceipStaff" name="ReceipStaff" [disabled]="viewMode">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-5">ตำแหน่ง : </label>
                <div class="col-md-7">
                  <input class="form-control" type="text" [(ngModel)]="ReceipPosition" name="ReceipPosition" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">หน่วยงาน : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" [(ngModel)]="ReceipDepartment" name="ReceipDepartment" disabled>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-5">ช่องทางชำระค่าปรับ : </label>
                <div class="col-md-7">
                  <select class="custom-select col-12" [(ngModel)]="ReceiptChanel" name="ReceiptChanel">
                    <option value="1">เงินสด</option>
                    <option value="2">EDC</option>
                    <option value="3">เครดิต</option>
                    <option value="4">เดบิต</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ใบเสร็จเล่มที่ : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" [(ngModel)]="ReceiptBookNo" name="ReceiptBookNo" [disabled]="viewMode">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-5">ใบเสร็จเลขที่ : </label>
                <div class="col-md-7">
                  <input class="form-control" type="text" [(ngModel)]="ReceiptNo" name="ReceiptNo" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">หมายเลขอ้างอิง : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" [(ngModel)]="ReferenceNo" name="ReferenceNo" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button (click)="ConfirmDelF4()" type="button" class="btn waves-effect waves-light btn-orange m-r-10" data-toggle="modal"
            data-target="#payPopup">ยกเลิกใบเสร็จ</button>
          <button (click)="onSaveF4()" type="button" class="btn waves-effect waves-light btn-navy" data-toggle="modal" data-target="#payPopup">บันทึก</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- รายงานขออนุมัติการเปรียบเทียบคดีและแบบอนุมัติ -->
<div class="modal fade" id="approvePopup" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header top-navbar text-white">
        รายงานขออนุมัติการเปรียบเทียบคดีและแบบอนุมัติ
        <div class="card-actions">
          <i class="ti-close text-white close-popup" data-dismiss="modal" data-target="approvePopup"></i>
        </div>
      </div>
      <div class="modal-body">
        <div class="text-right"> XCS60-06-02-04-00 </div>
        <div class="form-body m-t-10">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ชื่อผู้ต้องหา : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="fullName" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">วันที่ชำระค่าปรับ : </label>
                <div class="col-md-3">
                  <input class="form-control" type="text" name="payDate" disabled>
                </div>
                <label class="col-form-label text-center col-md-2">เวลา</label>
                <div class="col-md-3">
                  <input class="form-control" type="text" name="payTime" disabled>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ค่าปรับคดีรวม : </label>
                <div class="col-md-8">
                  <input class="form-control" type="text" name="payAmount" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">เขียนที่ : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="fullName" [disabled]="viewMode">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">วันที่จัดทำรายงานฯ : </label>
                <div class="col-md-8">
                  <input class="form-control" type="date" [(ngModel)]="ApproveReportDate" name="ApproveReportDate" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-form-label col-md-2">แบบอนุมัติ : </label>
                <div class="custom-control custom-radio col-form-label col-md-8">
                  <input name="approveRadio" id="typeOne" class="col-form-label with-gap radio-col-indigo" type="radio">
                  <label for="typeOne" class="col-4">แบบอนุมัติ 1</label>
                  <input name="approveRadio" id="typeTwo" class="col-form-label with-gap radio-col-indigo" type="radio">
                  <label for="typeTwo" class="col-4">แบบอนุมัติ 2</label>
                  <input name="approveRadio" id="typeThree" class="col-form-label with-gap radio-col-indigo" type="radio">
                  <label for="typeThree" class="col-4">แบบอนุมัติ 3</label>
                  <input name="approveRadio" id="typeFour" class="col-form-label with-gap radio-col-indigo" type="radio">
                  <label for="typeFour" class="col-4">แบบอนุมัติ 4</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ผู้เสนอพิจารณาเห็นชอบ : </label>
                <div class="col-md-8">
                  <input class="form-control" type="text" [disabled]="viewMode">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ตำแหน่ง : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="postion" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">หน่วยงาน : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="deparment" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ผู้พิจารณาเห็นชอบ : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="reviewer" [disabled]="viewMode">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ตำแหน่ง : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="rank" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">หน่วยงาน : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="deparment" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ผู้มีอำนาจอนุมัติ : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="approver" [disabled]="viewMode">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ตำแหน่ง : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="rank" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">หน่วยงาน : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="department" disabled>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">คำสั่งกรมฯ ที่ : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="text" name="departOrder" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-form-label col-md-4">วันที่ออกคำสั่ง : </label>
                <div class="input-group col-md-8">
                  <input class="form-control" type="date" name="dateOfIssue" [disabled]="viewMode">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-form-label col-md-4">ข้อเท็จจริงเกี่ยวกับความผิดโดยละเอียด : </label>
                <div class="col-md-8">
                  <textarea class="form-control" [disabled]="viewMode" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-form-label col-md-4">เหตุผลที่ควรเปรียบเทียบคดีและ/หรือจัดการของกลาง :</label>
                <div class="col-md-8">
                  <textarea class="form-control" [disabled]="viewMode" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="text-right">
          <button type="button" (click)="onSaveF5()" class="btn waves-effect waves-light btn-navy" data-toggle="modal" data-target="#approvePopup">บันทึก</button>
        </div>
      </div>
    </div>
  </div>
</div>