<app-step-wizard [sectionId]="2"></app-step-wizard>

<ng-template #printDocModal let-c="close" let-d="dismiss">
    <app-print-doc-modal [ArrestCode]="arrestCode" (c)="modal.close()" (d)="modal.dismiss()"></app-print-doc-modal>
</ng-template>

<form action="" [formGroup]="arrestForm">
    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ข้อมูลการจับกุม</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ใบแจ้งความนำจับ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="NoticeCode" class="form-control form-control-sm" [readonly]="showEditField">
                    <a href="javaScript:void(0);" class="more text-secondary" (click)="openModal(noticelist)">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </a>

                    <ng-template #noticelist let-c="close" let-d="dismiss">
                        <app-notice-list-modal (c)="modal.close()" (d)="modal.dismiss()"></app-notice-list-modal>
                    </ng-template>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">หมายค้น :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="InvestigationSurveyDocument" class="form-control form-control-sm" [readonly]="showEditField">
                    <a href="javaScript:void(0);" class="more text-secondary">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">ส.ส.2/27 :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="InvestigationCode" class="form-control form-control-sm" [readonly]="showEditField">
                    <a href="javaScript:void(0);" class="more text-secondary">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </a>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">เลขที่ใบงาน :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="ArrestCode" class="form-control form-control-sm" [readonly]="showEditField">
                    <a href="javaScript:void(0);" class="more text-secondary">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">วันที่เขียน :</label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group input-group">
                        <input type="date" formControlName="ArrestDate" class="form-control form-control-sm" [readonly]="showEditField">
                        <label for="">&nbsp;&nbsp;เวลา&nbsp;&nbsp;</label>
                        <input type="text" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-4 control-label">เขียนที่ :</label>
                <div class="form-group col-lg-4 col-md-7 col-sm-8">
                    <input type="text" formControlName="ArrestStation" class="form-control form-control-sm" [readonly]="showEditField">
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">วันที่เกิดเหตุ :</label>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="form-group input-group">
                        <input type="date" formControlName="OccurrenceDate" class="form-control form-control-sm" [readonly]="showEditField">
                        <label for="">&nbsp;&nbsp;เวลา&nbsp;&nbsp;</label>
                        <input type="text" formControlName="OccurrenceTime" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ผู้จับกุม</h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="addStaff()">เพิ่มผู้ร่วมจับกุม</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped table-set-border">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th>ชื่อผู้จับกุม</th>
                            <th>ตำแหน่ง</th>
                            <th>หน่วยงาน</th>
                            <th>ฐานะ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="ArrestStaff">
                        <tr *ngFor="let item of ArrestStaff.controls; let i = index;" [formGroupName]="i">
                            <td class="text-center">{{i+1}}</td>
                            <td>
                                <input type="text" formControlName="FullName" class="form-control form-control-sm" [readonly]="showEditField">
                            </td>
                            <td>
                                <input type="text" formControlName="PositionName" class="form-control form-control-sm" readonly>
                            </td>
                            <td>
                                <input type="text" formControlName="OfficeName" class="form-control form-control-sm" readonly>
                            </td>
                            <td>
                                <input type="text" formControlName="ContributorID" class="form-control form-control-sm" [readonly]="showEditField">
                                <!-- <select formControlName="ContributorID" class="form-control form-control-sm" [disabled]="showEditField">
                                </select> -->
                            </td>
                            <td>
                                <a class="text-warning" href="javaScript:void(0);" *ngIf="!showEditField" (click)="deleteStaff(i, item.get('StaffID').value)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">สถานที่เกิดเหตุ</h4>
        </div>
        <div class="card-body" formArrayName="ArrestLocale">
            <div *ngFor="let item of ArrestLocale.controls; let i = index;" [formGroupName]="i">
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">บ้านเลขที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Address" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">หมู่ที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Village" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">อาคาร/สถานที่ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Building" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">ห้อง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Room" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">ชั้น :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Floor" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">ตรอก/ซอย :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Alley" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">ถนน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Road" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">ต./อ./จ. :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Region" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-4 control-label">รหัสไปษณีย์ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="ZipCode" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                    <label for="" class="col-lg-2 col-sm-4 control-label">สน.ท้องที่เกิดเหตุ :</label>
                    <div class="col-lg-4 col-md-7 col-sm-8 form-group">
                        <input type="text" formControlName="Policestation" class="form-control form-control-sm" [readonly]="showEditField">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ผู้ต้องหา</h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" (click)="openModal(lawbreaker)" [disabled]="showEditField">เพิ่มผู้ต้องหา</button>
                </div>

                <ng-template #lawbreaker let-c="close" let-d="dismiss">
                    <app-lawbreaker-modal (c)="modal.close()" (d)="modal.dismiss()"></app-lawbreaker-modal>
                </ng-template>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped table-set-border">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th>ประเภทผู้ต้องสงสัย</th>
                            <th>ประเภทบุคคล</th>
                            <th>หมายเลขอ้างอิง</th>
                            <th>ชื่อ</th>
                            <th>จำนวนครั้งกระทำผิด</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="ArrestLawbreaker">
                        <tr *ngFor="let item of ArrestLawbreaker.controls; let i=index;" [formGroupName]="i">
                            <td class="text-center"></td>
                            <td>{{item.get('EntityType').value}}</td>
                            <td>{{item.get('LawbreakerType').value}}</td>
                            <td>
                                <span *ngIf="item.get('EntityType').value == 0">
                                    {{item.get('CompanyRegistrationNo').value}}
                                </span>
                                <span *ngIf="item.get('EntityType').value == 1 && item.get('LawbreakerType').value == 0">
                                    {{item.get('PassportNo').value}}
                                </span>
                                <span *ngIf="item.get('EntityType').value == 1 && item.get('LawbreakerType').value == 1">
                                    {{item.get('IDCard').value}}
                                </span>
                            </td>
                            <td>
                                <span *ngIf="item.get('EntityType').value == 0">
                                    {{item.get('CompanyFullName').value}}
                                </span>
                                <span *ngIf="item.get('EntityType').value == 1">
                                    {{item.get('LawbreakerFullName').value}}
                                </span>
                            </td>
                            <td></td>
                            <td class="text-center">
                                <a href="javaScript:void(0);" class="text-secondary" *ngIf="!showEditField" (click)="viewLawbreaker(item.get('LawbreakerID').value)">
                                    <i class="fa fa-eye fa-lg"></i>
                                </a>
                            </td>
                            <td>
                                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteLawbreaker(i, item.get('LawbreakerID').value)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ของกลาง</h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="addProduct()">เพิ่มของกลาง</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped table-set-border">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th>ของกลาง</th>
                            <th>จำนวน</th>
                            <th>หน่วย</th>
                            <th>ปริมาณสุทธิ</th>
                            <th>หน่วย</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="ArrestProduct">
                        <tr *ngFor="let item of ArrestProduct.controls; let i=index;" [formGroupName]="i">
                            <td class="text-center">{{i+1}}</td>
                            <td>
                                <input type="text" formControlName="ProductDesc" class="form-control form-control-sm" [readonly]="showEditField">
                            </td>
                            <td>
                                <input type="text" formControlName="Qty" class="form-control form-control-sm" [readonly]="showEditField">
                            </td>
                            <td>
                                <input type="text" formControlName="QtyUnit" class="form-control form-control-sm" [readonly]="showEditField">
                                <!-- <select formControlName="QtyUnit" class="form-control form-control-sm" [disabled]="showEditField">
                                </select> -->
                            </td>
                            <td>
                                <input type="text" formControlName="NetVolume" class="form-control form-control-sm" [readonly]="showEditField">
                            </td>
                            <td>
                                <input type="text" formControlName="NetVolumeUnit" class="form-control form-control-sm" [readonly]="showEditField">
                                <!-- <select formControlName="NetVolumeUnit" class="form-control form-control-sm" [disabled]="showEditField"></select> -->
                            </td>
                            <td>
                                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteProduct(i, item.get('ProductID').value)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">ข้อกล่าวหา</h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="openModal(allegation)">เพิ่มข้อกล่าวหา</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped table-set-border">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th>ฐานความผิด</th>
                            <th>ข้อกล่าวหา</th>
                            <th>ชื่อผู้กระทำผิด</th>
                            <th>รายระเอียดของกลาง</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="ArrestIndictment">
                        <tr *ngFor="let item of ArrestIndictment.controls; let i=index;" [formGroupName]="i">
                            <td class="text-center">{{i+1}}</td>
                            <td></td>
                            <td>{{item.get('GuiltBaseID').value}}</td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="javaScript:void(0)" class="text-danger" (click)="openModal(allegation)" *ngIf="!showEditField">
                                    <i class="fa fa-edit fa-lg"></i>
                                </a>

                            </td>
                            <td>
                                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteIndicment(i, item.get('IndictmentID').value)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ng-template #allegation let-c="close" let-d="dismiss">
                    <app-allegation-modal (c)="modal.close()" (d)="modal.dismiss()"
                    [mode]="mode"
                    [lawbreaker]="ArrestLawbreaker.value"
                    [product]="ArrestProduct.value"
                    [indicment]="ArrestIndictment.value"
                    ></app-allegation-modal>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">รายละเอียดการจับกุม</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">พฤติกรรมในการจับ :</label>
                <div class="col-lg-10 col-sm-8 form-group ">
                    <textarea formControlName="Behaviour" cols="" rows="3" class="form-control form-control-sm" [readonly]="showEditField"></textarea>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">คำให้การของผู้ต้องหา :</label>
                <div class="col-lg-10 col-sm-8 form-group ">
                    <textarea formControlName="Testimony" cols="" rows="3" class="form-control form-control-sm" [readonly]="showEditField"></textarea>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-4 control-label">การแจ้งสิทธิ :</label>
                <div class="col-lg-10 col-sm-8 form-group ">
                    <textarea formControlName="Prompt" cols="" rows="3" class="form-control form-control-sm" [readonly]="showEditField"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-outline-bluish unset-radius">
        <div class="card-header unset-radius">
            <app-card-actions-collapse></app-card-actions-collapse>
            <h4 class="card-title m-b-0">เอกสารแนบภายใน</h4>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-lg-10 col-md-9 col-sm-8"></div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button type="button" class="btn btn-block btn-themecolor" [disabled]="showEditField" (click)="addDocument()">เพิ่มเอกสารแนบ</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-sm table-striped table-set-border">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th>ชื่อเอกสารแนบ</th>
                            <th>ที่อยู่เอกสารแนบ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody formArrayName="ArrestDocument">
                        <tr *ngFor="let item of ArrestDocument.controls; let i=index;" [formGroupName]="i">
                            <td class="text-center">{{i+1}}</td>
                            <td>
                                <input type="text" formControlName="DocumentID" class="form-control form-control-sm" [readonly]="showEditField">
                            </td>
                            <td>
                                <input type="file" formControlName="FilePath" class="dropify" [readonly]="showEditField">
                                <!-- <a href="javaScript:void(0)" class="text-secondary" style="position: absolute;right: 100px;bottom: 36px;">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </a> -->
                            </td>
                            <td>
                                <a href="javaScript:void(0)" class="text-warning" *ngIf="!showEditField" (click)="deleteDocument(i)">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>