<app-timeline></app-timeline>
<!-- <pre>
    {{RewardFormGroup.value | json}}
</pre> -->

<form [formGroup]="RewardFormGroup" *ngIf="RewardFormGroup">
  <div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
      <div class="card-actions">
        <a class="" (click)="ILG60_08_04_00_00_E08_EXPANDED = !ILG60_08_04_00_00_E08_EXPANDED">
          <i class="fa"
            [ngClass]="{'fa-chevron-down': ILG60_08_04_00_00_E08_EXPANDED, 'fa-chevron-up': !ILG60_08_04_00_00_E08_EXPANDED}"></i>
        </a>
      </div>
      <h4 class="card-title m-b-0">คำร้องขอรับเงินรางวัล</h4>
    </div>
    <div *ngIf="ILG60_08_04_00_00_E08_EXPANDED" class="card-body">
      <div class="row">
        <div class="col-md-12">
          <!-- <app-form-group [columns]="columnsForm" ></app-form-group> -->
          <!-- {{RewardFormGroup.value | json}} -->

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 ">
              <div class="form-group row">
                <label class="col-form-label col-sm-3 col-md-4">เลขที่อ้างอิง : </label>
                <div class="col-sm-9 col-md-8">
                  <select formControlName="ReferenceNo" class="form-control form-control-sm "
                    [attr.disabled]="(mode === 'R' && isEdit === false) ? 'disabled':null" (change)="selectChange($event)">
                    <option [value]="item.value" *ngFor="let item of ReferenceNoList">{{item.text}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 ">
              <div class="form-group row">
                <label class="col-form-label col-sm-3 col-md-4">เลขที่คำร้องขอ : </label>
                <div class="col-sm-9 col-md-8">
                  <input class="form-control form-control-sm " type="text" formControlName="RequestRewardCode"
                    [attr.disabled]="true">
                </div>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 ">
              <div class="form-group row">
                <label class="col-form-label col-sm-3 col-md-4">เขียนที่ : </label>
                <div class="col-sm-9 col-md-8">
                  <input class="form-control form-control-sm " type="text" formControlName="Station"
                    [ngbTypeahead]="searchStation"
                    [attr.disabled]="(mode === 'R' && isEdit === false) ? 'disabled':null">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 ">
              <div class="form-group row">
                <label class="col-form-label col-sm-3 col-md-4">วันที่จัดทำ : </label>
                <div class="col-sm-9 col-md-8">

                  <div class="form-line input-group input-group-sm">
                    <div style="width:100%">
                      <my-date-picker formControlName="RequestDate" placeholder="" locale="th"
                        [options]="myDatePickerOptions" [disabled]="(mode === 'R' && isEdit === false)">
                      </my-date-picker>

                    </div>
                    <label class="text-center">&nbsp;เวลา&nbsp;</label>
                    <div style="width:100%">
                      <input style="width:100%" class="form-control form-control-sm " type="text"
                        formControlName="RequestTime"
                        [attr.disabled]="(mode === 'R' && isEdit === false) ? 'disabled':null">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <!-- <app-table-data [columns]="columnsTable$ | async" [data]="inputDataTable$ | async" [options]="TableDataOptions"></app-table-data> -->
              <div class="table-responsive table-striped no-wrap">
                <!-- {{checkList | json}} -->
                <table class="dataTable table table-sm table-striped table-hover">
                  <thead>
                    <tr>
                      <th>
                        <!-- <mat-checkbox class="filled-in chk-col-indigo" [(ngModel)]="checkAll"></mat-checkbox> -->
                      </th>
                      <th>ลำดับ</th>
                      <th class="footable-sortable ng-star-inserted">
                        ชื่อผู้ต้องหา
                      </th>

                      <th class="footable-sortable ng-star-inserted">
                        วันที่ชำระ
                      </th>

                      <th class="footable-sortable ng-star-inserted">
                        ใบเสร็จเล่มที่
                      </th>

                      <th class="footable-sortable ng-star-inserted">
                        เลขที่อ้างอิง
                      </th>

                      <th class="footable-sortable ng-star-inserted">
                        งวดชำระ
                      </th>

                      <th class="footable-sortable ng-star-inserted">
                        ค่าปรับตามงวด
                      </th>

                      <th class="footable-sortable ng-star-inserted">
                        เงินสินบน
                      </th>

                      <th class="footable-sortable ng-star-inserted">
                        เงินรางวัล
                      </th>

                      <th class="footable-sortable" colspan="1"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dataItem of DataSelect; let i=index">
                      <td>
                        <input type="checkbox" [id]="'tdsec1'+i" name="ischeck" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="checkList[i]"
                          (change)="checkboxHandle(dataItem.PaymentFineID, i , checkList[i])"
                          class="filled-in chk-col-indigo"
                          [attr.disabled]="(mode === 'R' && isEdit === false) ? 'disabled':null">
                        <label [for]="'tdsec1'+i" class="m-0"></label>
                        <!-- <mat-checkbox class="filled-in chk-col-indigo" [(ngModel)]="checkList[i]" (change)="checkboxHandle(dataRequestRewardStaff.at(i).PaymentFineID, i , checkList[i])"></mat-checkbox> -->
                      </td>
                      <td>{{i+1}}</td>
                      <td class="footable-sortable ng-star-inserted">
                        {{dataItem['LawbreakerName']}}
                      </td>

                      <td class="footable-sortable ng-star-inserted">
                        {{dataItem['PaymentDueDate'] | thaiDate}}
                      </td>

                      <td class="footable-sortable ng-star-inserted">
                        {{dataItem['ReceiptBookNo']}}
                      </td>

                      <td class="footable-sortable ng-star-inserted">
                        {{dataItem['ReceiptNo']}}
                      </td>

                      <td class="footable-sortable ng-star-inserted">
                        {{dataItem['PaymentPeriodNo']}}
                      </td>

                      <td class="footable-sortable ng-star-inserted">
                        {{dataItem['PaymentFine'] | currency : ' '}}
                      </td>

                      <td class="footable-sortable ng-star-inserted">
                        {{dataItem['BribeMoney'] | currency : ' '}}
                      </td>

                      <td class="footable-sortable ng-star-inserted">
                        {{dataItem['RewardMoney'] | currency : ' '}}
                      </td>

                      <td class="footable-sortable" colspan="1"></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th></th>
                      <th colspan=5 class="text-right">
                        รวม
                      </th>
                      <th class="footable-sortable">
                        {{((aggregate.PaymentFine.sum) || 0) | currency: ' '}}
                      </th>
                      <th class="footable-sortable">
                        {{((aggregate.BribeMoney.sum) || 0) | currency: ' '}}
                      </th>
                      <th class="footable-sortable">
                        {{((aggregate.RewardMoney.sum) || 0) | currency: ' '}}
                      </th>
                      <th></th>

                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
      <div class="card-actions">
        <a class="" (click)="ILG60_08_04_00_00_E12_EXPANDED = !ILG60_08_04_00_00_E12_EXPANDED">
          <i class="fa"
            [ngClass]="{'fa-chevron-down': ILG60_08_04_00_00_E12_EXPANDED, 'fa-chevron-up': !ILG60_08_04_00_00_E12_EXPANDED}"></i>
        </a>
      </div>
      <h4 class="card-title m-b-0">ตารางการแบ่งจ่ายเงินสินบนรางวัล</h4>
    </div>
    <div *ngIf="ILG60_08_04_00_00_E12_EXPANDED" class="card-body">
      <div class="row">
        <div class="col-md-12">

          <div class="table-responsive">
            <!-- {{ formGroup.value | json}} -->
            <!-- {{aggregate08$ | async | json}}
    
          {{SumBribeMoney}} -->
            <div class="text-right">
              <button (click)="addRow()" class="btn waves-effect waves-light btn-navy"
                [attr.disabled]="(RequestRewardStaff.invalid || (mode ==='R' && isEdit === false)) ? 'disabled' : null">เพิ่มจนท.สนับสนุน</button>
            </div>
            <table class="dataTable table table-sm table-striped table-hover">
              <thead>
                <tr>
                  <th class="footable-sortable" colspan="1"></th>
                  <th class="footable-sortable" colspan="1">ลำดับ</th>
                  <th class="footable-sortable" colspan="1">ยศ</th>
                  <th class="footable-sortable" colspan="1">ชื่อ-สกุล</th>
                  <th class="footable-sortable" colspan="1">ตำแหน่ง</th>
                  <th class="footable-sortable" colspan="1">ระดับ</th>
                  <th class="footable-sortable" colspan="1">ได้ในฐานะ</th>
                  <th class="footable-sortable text-center" colspan="2">จำนวนสัดส่วน</th>
                  <th class="footable-sortable text-center" colspan="2">จำนวนเงิน</th>
                  <th class="footable-sortable" colspan="1">รวมทั้งสิ้น</th>
                  <th class="footable-sortable" colspan="1"></th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>ส่วนแรก</th>
                  <th>ส่วนหลัง</th>
                  <th>ส่วนแรก</th>
                  <th>ส่วนหลัง</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody formArrayName="RequestRewardStaff">

                <ng-container *ngFor="let item of RequestRewardStaff.controls | sortFormArray: 'sort'; let i=index;">
                  <tr class="footable" [formGroupName]="i">
                    <td>
                      <input type="checkbox" [id]="'tdsec2'+i" name="ischeck" formControlName="check"
                        class="filled-in chk-col-indigo"
                        [attr.disabled]="(mode === 'R' && isEdit === false) ? 'disabled':null">
                      <label [for]="'tdsec2'+i" class="m-0"></label>
                      <!-- <mat-checkbox class="filled-in chk-col-indigo" formControlName="check"></mat-checkbox> -->
                    </td>
                    <td class="text-center">{{(i+1)}}</td>
                    <td>
                      <input class="form-control form-control-sm" type="text" formControlName="TitleName"
                        [ngbTypeahead]="searchTitleName"
                        [attr.disabled]="RequestRewardStaff.at(i).get('sort').value == '4' ? null : 'disabled'">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" formControlName="FullName" #FullName
                        [ngbTypeahead]="searchFullName" (keyup)="changeFullName(FullName.value, i)"
                        [attr.disabled]="RequestRewardStaff.at(i).get('sort').value == '4' ? null : 'disabled'">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" formControlName="PositionName"
                        [attr.disabled]="RequestRewardStaff.at(i).get('sort').value == '4' ? null : 'disabled'">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text" formControlName="PosLevelName"
                        [attr.disabled]="RequestRewardStaff.at(i).get('sort').value == '4' ? null : 'disabled'">
                    </td>
                    <td>
                      <input *ngIf="!(RequestRewardStaff.at(i).get('sort').value == '4')"
                        class="form-control form-control-sm" formControlName="ContributorName"
                        [attr.disabled]="RequestRewardStaff.at(i).get('sort').value == '4' ? null : 'disabled'">
                      <select *ngIf="RequestRewardStaff.at(i).get('sort').value == '4'"
                        class="form-control form-control-sm" formControlName="ContributorID" #ContributorID
                        (change)="onSelectContributor(ContributorID.value, i)"
                        [attr.disabled]="RequestRewardStaff.at(i).get('sort').value == '4' ? null : 'disabled'">
                        <ng-container *ngFor="let itemCName of ContributorList">
                          <option *ngIf="itemCName.value < 4" [value]="itemCName.value">{{itemCName?.text}}</option>
                        </ng-container>
                      </select>
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="number" formControlName="FirstPart" #FirstPart
                        (change)="calChangeAll()">
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="number" formControlName="SecondPart" #SecondPart
                        (change)="calChangeAll()"
                        >
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text"
                        [value]="RequestRewardStaff.at(i).get('FirstMoney').value | currency:' '"
                       >
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text"
                        [value]="RequestRewardStaff.at(i).get('SecondMoney').value | currency:' '"
                       >
                    </td>
                    <td>
                      <input class="form-control form-control-sm" type="text"
                        [value]="RequestRewardStaff.at(i).get('ToTalMoney').value | currency:' '"
                       >
                    </td>
                    <td><i *ngIf="isEdit || RequestRewardStaff.at(i).get('sort').value === 4"
                        class="ti-trash btn-action" (click)="deleteHandle(i)"></i></td>
                  </tr>
                </ng-container>
              </tbody>
              <tfoot>
                <tr class="footable">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-right">รวมทั้งสิ้น:</td>
                  <td>
                    <input class="form-control form-control-sm" type="text"
                      [value]="aggregate.FirstPart.sum">
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text"
                      [value]="aggregate.SecondPart.sum">
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text"
                      [value]="aggregate.FirstMoney.sum | currency:' '">
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text"
                      [value]="aggregate.SecondMoney.sum | currency:' '">
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text"
                      [value]="aggregate.ToTalMoney.sum | currency:' '">
                  </td>
                  <td></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 ">
              <div class="form-group row">
                <label class="col-form-label col-md-5 padding-adv-label">รวมเงินสินบนและรางวัล : </label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text" [value]="(SumMoney() || 0) | currency:' '"
                   >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 ">
              <div class="form-group row">
                <label class="col-form-label col-md-5 padding-adv-label">1 ใน 3 ส่วนแรกเป็นเงิน : </label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text"
                    [value]="(SumFirstMoney() || 0) | currency:' '">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 ">
              <div class="form-group row">
                <label class="col-form-label col-sm-3 col-md-4">แบ่งเป็นส่วนๆละ : </label>
                <div class="col-md-3">
                  <input class="form-control form-control-sm" type="text"
                    [value]="(SumFirstMoneyPerPart() || 0) | currency:' '">
                </div>
                <label class="col-form-label text-center col-md-2 padding-none">เหลือเศษ</label>
                <div class="col-md-3">
                  <input class="form-control form-control-sm" type="text"
                    [value]="(FirstRemainder() || 0) | currency:' '">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 ">
              <div class="form-group row">
                <label class="col-form-label col-md-5 padding-adv-label">2 ใน 3 ส่วนแรกเป็นเงิน : </label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text"
                    [value]="(SumSecondMoney() || 0) | currency:' '">
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 ">
              <div class="form-group row">
                <label class="col-form-label col-sm-3 col-md-4">แบ่งเป็นส่วนๆละ : </label>
                <div class="col-md-3">
                  <input class="form-control form-control-sm" type="text"
                    [value]="(SumSecondMoneyPerPart() || 0) | currency:' '">
                </div>
                <label class="col-form-label text-center col-md-2 padding-none">เหลือเศษ</label>
                <div class="col-md-3">
                  <input class="form-control form-control-sm" type="text"
                    [value]="(SecondRemainder() || 0) | currency:' '">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
      <div class="card-actions">
        <a class="" (click)="ILG60_08_04_00_00_E19_EXPANDED = !ILG60_08_04_00_00_E19_EXPANDED">
          <i class="fa"
            [ngClass]="{'fa-chevron-down': ILG60_08_04_00_00_E19_EXPANDED, 'fa-chevron-up': !ILG60_08_04_00_00_E19_EXPANDED}"></i>
        </a>
      </div>
      <h4 class="card-title m-b-0">เอกสารแนบภายใน</h4>
    </div>
    <div *ngIf="ILG60_08_04_00_00_E19_EXPANDED" class="card-body">
      <div class="row form-group">
        <div class="col-lg-10 col-md-9 col-sm-8"></div>
        <div class="col-lg-2 col-md-3 col-sm-4">
          <button type="button" class="btn btn-block btn-themecolor"
            [attr.disabled]="(Document.invalid || (mode ==='R' && isEdit === false)) ? 'disabled' : null"
            (click)="addDocument()">เพิ่มเอกสารแนบ</button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-sm table-striped table-set-border">
          <thead>
            <tr>
              <th class="text-center">ลำดับ</th>
              <th>ชื่อเอกสารแนบ</th>
              <th>ที่อยู่เอกสารแนบ</th>
              <th></th>
            </tr>
          </thead>
          <tbody formArrayName="Document">
            <tr *ngFor="let item of Document.controls | isMatches:'isDelete':false; let i=index;" [formGroupName]="i">
              <td class="text-center">{{i+1}}</td>
              <td>
                <input type="text" formControlName="DataSource" class="form-control form-control-sm"
                  [attr.disabled]="(mode === 'R' && isEdit === false) ? 'disabled':null">
              </td>
              <td>
                <div class="input-group">
                  <input type="text" class="form-control form-control-sm" formControlName="FilePath"
                    style="border-right: 0;" [attr.disabled]="(mode === 'R' && isEdit === false) ? 'disabled':null"
                    readonly>
                  <div class="input-group-append">
                    <input [id]="'Doc'+i" type="file" (change)="changeDocument($event, i)" [style.display]="'none'">
                    <label [for]="'Doc'+i" class="input-group-text custom-file-upload text-secondary">
                      <i class="ti-more-alt"></i>
                    </label>
                  </div>
                </div>
              </td>
              <td>
                <a href="javaScript:void(0)" class="text-warning" (click)="deleteDocument(i)"
                  *ngIf="!(mode === 'R' && isEdit === false)">
                  <i class="fa fa-trash-o fa-lg"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>

  </div>
</form>