<mat-accordion [multi]="true">
  <mat-expansion-panel [expanded]="ILG60_08_04_00_00_E08_EXPANDED$ | async" [disabled]="ILG60_08_04_00_00_E08_DISABLED$ | async"
    (opened)="ILG60_08_04_00_00_E08_EXPANDED$.next(true)" (closed)="ILG60_08_04_00_00_E08_EXPANDED$.next(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4 class="card-title m-b-0">คำร้องขอรับเงินรางวัล</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="card-body">
        <ILG60-08-04-00-00-E08></ILG60-08-04-00-00-E08>
      </div>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="ILG60_08_04_00_00_E12_EXPANDED$ | async" [disabled]="ILG60_08_04_00_00_E12_DISABLED$ | async"
    (opened)="ILG60_08_04_00_00_E12_EXPANDED$.next(true)" (closed)="ILG60_08_04_00_00_E12_EXPANDED$.next(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4 class="card-title m-b-0">ตารางการแบ่งจ่ายเงินสินบนรางวัล</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="card-body">
        <ILG60-08-04-00-00-E12></ILG60-08-04-00-00-E12>
      </div>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="ILG60_08_04_00_00_E19_EXPANDED$ | async" [disabled]="ILG60_08_04_00_00_E19_DISABLED$ | async"
    (opened)="ILG60_08_04_00_00_E19_EXPANDED$.next(true)" (closed)="ILG60_08_04_00_00_E19_EXPANDED$.next(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4 class="card-title m-b-0">เอกสารแนบภายใน</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="card-body">
        <ILG60-08-04-00-00-E19></ILG60-08-04-00-00-E19>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>








<!-- ส่งฟ้องศาล ซ่อน -->
<div class="card" [hidden]="!court">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">รายละเอียดคำพิพากษาของศาล</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="dataTable table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th class="footable-sortable text-center">ลำดับ</th>
            <th class="footable-sortable">ชื่อผู้ต้องหา</th>
            <th class="footable-sortable">ชื่อศาล</th>
            <th class="footable-sortable">เลขคดีดำ</th>
            <th class="footable-sortable">เลขคดีแดง</th>
            <th class="footable-sortable">คำพิพากษาฎีกาที่</th>
            <th class="footable-sortable">วันที่อ่านคำพิพากษา</th>
            <th class="footable-sortable">ค่าปรับ</th>
            <th class="footable-sortable">จำนวนงวด</th>
            <th class="footable-sortable">วันที่ชำระ</th>
            <th class="footable-sortable">รอบชำระทุก</th>
          </tr>
        </thead>
        <tbody>
          <tr class="footable">
            <td class="text-center">1</td>
            <td class="">นายธวัชชัย บิงขุนทด</td>
            <td>มีนบุรี</td>
            <td>มย.222/2561</td>
            <td>มย.222/2561</td>
            <td>1267/2561</td>
            <td>10-ม.ค.-2560</td>
            <td>2,000,000.00</td>
            <td class="text-center">2</td>
            <td>10-ม.ค.-2560</td>
            <td>1 เดือน</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">คำร้องขอรับเงินรางวัล กรณีคดีถึงที่สุดโดยการเปรียบเทียบคดี</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-form-label col-md-4">เลขที่คำร้องขอ : </label>
          <div class="col-md-8">
            <input class="form-control" type="text" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-form-label col-md-4">เขียนที่ : </label>
          <div class="col-md-8">
            <input class="form-control" type="text">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-form-label col-md-4">วันที่จัดทำ : </label>
          <div class="col-md-3">
            <input class="form-control" type="text">
          </div>
          <label class="col-form-label text-center col-md-2">เวลา</label>
          <div class="col-md-3">
            <input class="form-control" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="dataTable table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th class="footable-sortable text-center">ลำดับ</th>
            <th class="footable-sortable">ชื่อผู้ต้องหา</th>
            <th class="footable-sortable">วันที่ชำระ</th>
            <th class="footable-sortable">ใบเสร็จเล่มที่</th>
            <th class="footable-sortable">ใบเสร็จเลขที่</th>
            <th class="footable-sortable">รายละเอียดของกลาง</th>
            <th class="footable-sortable">ค่าปรับ</th>
            <th class="footable-sortable">เงินสินบน</th>
            <th class="footable-sortable">เงินรางวัล</th>
          </tr>
        </thead>
        <tbody>
          <tr class="footable">
            <td class="text-center">1</td>
            <td class="">นายธวัชชัย บิงขุนทด</td>
            <td>10-ม.ค.-2560</td>
            <td class="text-center">33</td>
            <td class="">001/2561</td>
            <td class="">สุรา/สุราแช่/ชนิดเบียร์/Hoegaarden/Wit</td>
            <td class="">800,000.00</td>
            <td>160,000.00</td>
            <td>160,000.00</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">รวม :</td>
            <td>2,800,000.00</td>
            <td>480,000.00</td>
            <td>480,000.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- แปะ -->
<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">ตารางการแบ่งจ่ายเงินสินบนรางวัล</h4>
  </div>
  <div class="card-body">
    <div class="text-right">
      <!-- addSupport ส่ง id -->
      <input type="button" id="btn-browse">
      <label for="btn-browse" [ngClass]="{disabled : viewMode}" class="btn waves-effect waves-light btn-navy">เพิ่มจนท.สนับสนุน</label>
    </div>
    <div class="table-responsive">
      <table class="dataTable table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th class="footable-sortable" colspan="1"></th>
            <th class="footable-sortable" colspan="1">ลำดับ</th>
            <th class="footable-sortable" colspan="1">ยศ</th>
            <th class="footable-sortable" colspan="1">ชื่อ-สกุล</th>
            <th class="footable-sortable" colspan="1">ตำแหน่ง</th>
            <th class="footable-sortable" colspan="1">ระดับ</th>
            <th class="footable-sortable" colspan="1">ได้ในฐานะ</th>
            <th class="footable-sortable text-center" colspan="2">จำนวนสัดส่วน</th>
            <th class="footable-sortable text-center" colspan="2">จำนวนเงิน</th>
            <th class="footable-sortable" colspan="1">รวมทั้งสิ้น</th>
            <th class="footable-sortable" colspan="1"></th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>ส่วนแรก</th>
            <th>ส่วนหลัง</th>
            <th>ส่วนแรก</th>
            <th>ส่วนหลัง</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="footable">
            <td>
              <input type="checkbox" class="filled-in chk-col-indigo" id="1">
              <label for="1"></label>
            </td>
            <td class="text-center">1</td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td></td>
          </tr>
          <tr class="footable">
            <td>
              <input type="checkbox" class="filled-in chk-col-indigo" id="2">
              <label for="2"></label>
            </td>
            <td class="text-center">2</td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <i class="ti-trash btn-action"></i>
            </td>
          </tr>
          <tr [hidden]="!modeCreate">
            <td>
              <input type="checkbox" class="filled-in chk-col-indigo" id="crt">
              <label for="crt"></label>
            </td>
            <td class="text-center">$index+1</td>
            <td>
              <select class="form-control"></select>
            </td>
            <td>
              <input class="form-control" type="text">
            </td>
            <td>
              <input class="form-control" type="text">
            </td>
            <td>
              <input class="form-control" type="text">
            </td>
            <td>
              <select class="form-control"></select>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <select class="form-control"></select>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <i class="ti-trash btn-action"></i>
            </td>
          </tr>
          <tr class="footable" id="add">

          </tr>
          <tr class="footable">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">รวมทั้งสิ้น:</td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td>
              <input class="form-control" type="text" disabled>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-form-label col-md-5 padding-adv-label">รวมเงินสินบนและรางวัล : </label>
          <div class="col-md-7">
            <input class="form-control" type="text" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-form-label col-md-5 padding-adv-label">1 ใน 3 ส่วนแรกเป็นเงิน : </label>
          <div class="col-md-7">
            <input class="form-control" type="text" disabled>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-form-label col-md-4">แบ่งเป็นส่วนๆละ : </label>
          <div class="col-md-3">
            <input class="form-control" type="text" disabled>
          </div>
          <label class="col-form-label text-center col-md-2 padding-none">เหลือเศษ</label>
          <div class="col-md-3">
            <input class="form-control" type="text" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-form-label col-md-5 padding-adv-label">2 ใน 3 ส่วนแรกเป็นเงิน : </label>
          <div class="col-md-7">
            <input class="form-control" type="text" disabled>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-form-label col-md-4">แบ่งเป็นส่วนๆละ : </label>
          <div class="col-md-3">
            <input class="form-control" type="text" disabled>
          </div>
          <label class="col-form-label text-center col-md-2 padding-none">เหลือเศษ</label>
          <div class="col-md-3">
            <input class="form-control" type="text" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card ">
  <div class="card-header  unset-radius">
    <app-card-actions-collapse></app-card-actions-collapse>
    <h4 class="card-title m-b-0">เอกสารแนบภายใน</h4>
  </div>
  <div class="card-body">
    <div class="text-right">
      <input type="file" id="btn-browse" #file>
      <label for="btn-browse" [ngClass]="{disabled : viewMode}" class="btn waves-effect waves-light btn-navy">
        เพิ่มเอกสารแนบ </label>
    </div>
    <div class="table-responsive">
      <table class="dataTable table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th class="footable-sortable text-center">ลำดับ</th>
            <th class="footable-sortable">ชื่อเอกสารแนบ</th>
            <th class="footable-sortable">ที่อยู่เอกสารแนบ</th>
          </tr>
        </thead>
        <tbody>
          <tr class="footable">
            <td class="text-center">1</td>
            <td>
              <input class="form-control" type="text" nmae="fileName">
            </td>
            <td>
              <input class="form-control" type="text" name="filePath">
            </td>
            <td>
              <i class="ti-trash btn-action"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
