<div class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-collapse></app-card-actions-collapse>
        <h4 class="card-title m-b-0">ประเทศ</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <label for="" class="col-lg-2 col-sm-4 control-label">Running No :</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="CountryID" [(ngModel)]="CountryID" class="form-control" readonly>
                </div>
            </div>

            <label for="" class="col-lg-2 col-md-4 control-label">รหัสประเทศ :</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="CountryCode" [(ngModel)]="CountryCode" class="form-control" [disabled]="showEditField" [ngClass]="{'ng-touched':isRequired}"
                    required>
                </div>
            </div>
        </div>

        <div class="row">
            <label for="" class="col-lg-2 col-md-4 control-label">ชื่อประเทศภาษาไทย :</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="CountryNameTH" [(ngModel)]="CountryNameTH" class="form-control" [disabled]="showEditField" [ngClass]="{'ng-touched':isRequired}"
                    required>
                </div>
            </div>

            <label for="" class="col-lg-2 col-md-4 control-label">ชื่อประเทศภาษาอังกฤษ :</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="CountryNameEN" [(ngModel)]="CountryNameEN" class="form-control" [disabled]="showEditField" [ngClass]="{'ng-touched':isRequired}"
                    required>
                </div>
            </div>
        </div>

        <div class="row">
            <label for="" class="col-lg-2 col-md-4 control-label">ชื่อย่อประเทศ :</label>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="form-group ">
                    <input type="text" name="CountryShortName" [(ngModel)]="CountryShortName" class="form-control" [disabled]="showEditField" [ngClass]="{'ng-touched':isRequired}"
                    required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-sm-3">
                <div class="row form-group">
                    <div class="col">
                        <input type="checkbox" id="md_isActive" ngModel name="chk1" class="filled-in chk-col-indigo" [disabled]="showEditField">
                        <label for="md_isActive">ใช้งาน</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>