<!-- <form action="" #form="ngForm" (ngSubmit)="onPrint(form)"> -->
<div class="modal-header bg-theme">
    <div class="row">
        <div class="col-lg-5">
            <h4 class="modal-title text-white">เลือกประเภทรายการคืน</h4>
        </div>

        <a href="javaScript:void(0);" class="close text-white font-14" aria-label="Close" (click)="dismiss('Cross click')">
            <span aria-hidden="true">
                <i class=" ti-close"></i>
            </span>
        </a>
    </div>
</div>
<h5 *ngIf="Evitype == '11'" class="text-right mt-3 pr-3">ILG60-11-01-01-00</h5>
<h5 *ngIf="Evitype == '15'" class="text-right mt-3 pr-3">ILG60-15-01-01-00</h5>
<div class="modal-body font-14">
    <div class="card-body">
        <div *ngIf="Evitype == '11'" class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <button type="button" class="btn btn-block btn-outline-info" style="height: 40px;" (click)="onNextPage('11I')">คืนของกลางประเภทหน่วยงานภายใน</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <button type="button" class="btn btn-block btn-outline-info" style="height: 40px;" (click)="onNextPage('11E')">คืนของกลางประเภทหน่วยงานภายนอก</button>
            </div>
        </div>

        <div *ngIf="Evitype == '15'" class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <button type="button" class="btn btn-block btn-outline-info" style="height: 40px;" (click)="onNextPage('15G')">นำไปใช้ในกิจกรรมหรือโครงการตามนโยบายของราชการ</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <button type="button" class="btn btn-block btn-outline-info" style="height: 40px;" (click)="onNextPage('15D')">นำของกลางไปบริจาค</button>
            </div>
        </div>
    </div>
</div>