<!-- <app-horizontal-timeline></app-horizontal-timeline> -->

<div *ngIf="advSearch | async" class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-close></app-card-actions-close>
        <h4 class="card-title m-b-0">ค้นหา</h4>
    </div>

    <div class="card-body">
        <form class="form-horizontal" #advForm="ngForm" (ngSubmit)="onAdvSearch(advForm)">
            <div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่นำส่งเงิน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="RevenueCode" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">วันที่นำส่ง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group input-group form-line">
                            <input type="date" name="DateStartFrom" ngModel class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">

                            <label for="">&nbsp; ถึง &nbsp;</label>

                            <input type="date" name="DateStartTo" ngModel class="form-control form-control-sm" placeholder="วว/ดด/ปปปป">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ผู้นำส่งเงิน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="StaffName" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">หน่วยงาน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="DepartmentName" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">สถานะนำส่งเงิน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="RevenueStatus" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-block btn-themecolor">ค้นข้อมูล</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="card">
    <div class="card-body">

        <div class="table-responsive table-striped ">
            <table #revenueTable class="table">
                <thead>
                    <tr>
                        <th style="text-align: center">ลำดับ</th>
                        <th>เลขที่นำส่งเงิน</th>
                        <th>วันที่นำส่ง</th>
                        <th>ผู้นำส่งเงิน</th>
                        <th>หน่วยงาน</th>
                        <th style="text-align: center">จำนวนคดี</th>
                        <th>สถานะนำส่งเงิน</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of RevenueList; let i=index;">
                        <td style="text-align: center">{{i + 1}}</td>
                        <td>{{item.RevenueCode}}</td>
                        <td>{{item.RevenueDate | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.InformTo}}</td>
                        <td>{{item.RevenueStaff[0].DepartmentName}}</td>
                        <td style="text-align: center">???</td>
                        <td>{{item.RevenueDetail[0].RevenueStatus}}</td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-secondary" (click)="clickView(item.RevenueCode)">
                                <i class="mdi mdi-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer card-footer-unset">
            <app-pagination-table 
                [TotalItems]="paginage.TotalItems" 
                [CurrentPage]="paginage.CurrentPage" 
                [PageSize]="paginage.PageSize"
                [RowsPerPageOptions]="paginage.RowsPerPageOptions" 
                (onPageChange)="pageChanges($event)">
            </app-pagination-table>
        </div>
    </div>
</div>