<!-- <app-horizontal-timeline></app-horizontal-timeline> -->

<div *ngIf="advSearch | async" class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-close></app-card-actions-close>
        <h4 class="card-title m-b-0">ค้นหา</h4>
    </div>

    <div class="card-body">
        <form class="form-horizontal" #advForm="ngForm" (ngSubmit)="onAdvSearch(advForm)">
            <div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่นำส่งเงิน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="RevenueCode" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">วันที่นำส่ง :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group input-group form-line">
                            <div style="width:45%">
                                <my-date-picker-th name="DateStartFrom" [options]="myDatePickerOptions" (dateChanged)="onSDateChange($event)" ngModel></my-date-picker-th>
                            </div>
                            <!-- <input type="date" name="DateStartFrom" ngModel class="form-control form-control-sm" placeholder="วว/ดด/ปปปป"> -->

                            <div style="margin:10px;">
                                <label for="">&nbsp;ถึง&nbsp;</label>
                            </div>

                            <div style="width:45%">
                                <my-date-picker-th name="DateStartTo" [options]="myDatePickerOptions" (dateChanged)="onEDateChange($event)" ngModel></my-date-picker-th>
                            </div>
                            <!-- <input type="date" name="DateStartTo" ngModel class="form-control form-control-sm" placeholder="วว/ดด/ปปปป"> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">ผู้นำส่งเงิน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="StaffName" ngModel class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <label for="" class="col-lg-2 col-sm-3 control-label">หน่วยงาน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" ngModel name="DepartmentName"  aria-label="Number">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="" class="col-lg-2 col-sm-3 control-label">สถานะนำส่งเงิน :</label>
                    <div class="col-lg-4 col-md-7 col-sm-9">
                        <div class="form-group">
                            <div class="form-line">
                                <select ngModel name="RevenueStatus" class="form-control form-control-sm" [disabled]="showEditField">
                                    <option value="">ไม่เลือกสถานะนำส่งเงิน</option>
                                    <option value="1">นำส่งเงิน</option>
                                    <option value="2">รับรายการนำส่งเงิน</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-block btn-themecolor">ค้นข้อมูล</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="card">
    <div class="card-body">

        <div class="table-responsive table-striped ">
            <table #revenueTable class="table">
                <thead>
                    <tr>
                        <th style="text-align: center;width:5%">ลำดับ</th>
                        <th style="width:10%">เลขที่นำส่งเงิน</th>
                        <th style="width:10%">วันที่นำส่ง</th>
                        <th style="width:15%">ผู้นำส่งเงิน</th>
                        <th style="width:30%">หน่วยงาน</th>
                        <th style="text-align: center;width:10%">จำนวนคดี</th>
                        <th style="width:20%" class="text-center">สถานะนำส่งเงิน</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of RevenueList; let i=index;">
                        <td style="text-align: center">{{i + 1}}</td>
                        <td>{{item.RevenueCode}}</td>
                        <td>{{item.RevenueDate}}</td>
                        <td>{{item.NameX}}</td>
                        <td>
                            {{item.OfficeName}}
                        </td>
                        <td style="text-align: center">{{item.Count}}</td>
                        <td class="text-center">{{item.RevenueStatus}}</td>
                        <td class="text-center">
                            <a href="javaScript:void(0);" class="text-secondary" (click)="clickView(item.RevenueID)">
                                <i class="mdi mdi-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer card-footer-unset">
            <app-pagination-table [TotalItems]="paginage.TotalItems" [CurrentPage]="paginage.CurrentPage" [PageSize]="paginage.PageSize"
                [RowsPerPageOptions]="paginage.RowsPerPageOptions" (onPageChange)="pageChanges($event)">
            </app-pagination-table>
        </div>
    </div>
</div>