<ng-template #EvidenceTypeModel let-c="close" let-d="dismiss">
    <app-evidencetype-modal (c)="modal.close()" (d)="modal.dismiss()" [Evitype]="evitype"></app-evidencetype-modal>
</ng-template>

<!-- <app-horizontal-timeline></app-horizontal-timeline> -->
<div *ngIf="advSearch | async" class="card card-outline-bluish unset-radius">
    <div class="card-header unset-radius">
        <app-card-actions-close></app-card-actions-close>
        <h4 class="card-title m-b-0">ค้นหา</h4>
    </div>

    <div class="card-body">
        <!-- คืนของกลาง(11), ขายทอดตลาด(13), ทำลายของกลาง(14), นำของกลางออกจากคลัง(15), โอนย้ายของกลาง(16)   -->
        <div *ngIf="evitype == '11' || evitype == '13' || evitype == '14' || evitype == '15' || evitype == '16'">
            <div class="row">
                <label *ngIf="evitype == '11'" for="" class="col-lg-2 col-sm-3 control-label">เลขที่คืน :</label>
                <label *ngIf="evitype == '13'" for="" class="col-lg-2 col-sm-3 control-label">เลขที่ขาย :</label>
                <label *ngIf="evitype == '14'" for="" class="col-lg-2 col-sm-3 control-label">เลขที่ทำลาย :</label>
                <label *ngIf="evitype == '15'" for="" class="col-lg-2 col-sm-3 control-label">เลขที่นำออก :</label>
                <label *ngIf="evitype == '16'" for="" class="col-lg-2 col-sm-3 control-label">เลขที่โอนย้าย :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" name="EvidenceOutCode" [(ngModel)]="EvidenceOutCode" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>

                <label *ngIf="evitype == '11'" for="" class="col-lg-2 col-sm-3 control-label">วันที่คืน :</label>
                <label *ngIf="evitype == '13'" for="" class="col-lg-2 col-sm-3 control-label">วันที่ขาย :</label>
                <label *ngIf="evitype == '14'" for="" class="col-lg-2 col-sm-3 control-label">วันที่ทำลาย :</label>
                <label *ngIf="evitype == '15'" for="" class="col-lg-2 col-sm-3 control-label">วันที่นำออก :</label>
                <label *ngIf="evitype == '16'" for="" class="col-lg-2 col-sm-3 control-label">วันที่โอนย้าย :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group input-group form-line">
                        <div style="width:45%">
                            <my-date-picker-th name="EvidenceOutDateStart" [(ngModel)]="EvidenceOutDateStart" [options]="myDatePickerOptions" (dateChanged)="onSEviDateChange($event)"></my-date-picker-th>
                        </div>

                        <div style="margin:10px;">
                            <label for="">&nbsp;ถึง&nbsp;</label>
                        </div>

                        <div style="width:45%">
                            <my-date-picker-th name="EvidenceOutDateTo" [(ngModel)]="EvidenceOutDateTo" [options]="myDatePickerOptions" (dateChanged)="onEEviDateChange($event)"></my-date-picker-th>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label *ngIf="evitype == '11'" for="" class="col-lg-2 col-sm-3 control-label">เลขที่หนังสือขอคืน :</label>
                <label *ngIf="evitype == '13' || evitype == '14' || evitype == '15'" for="" class="col-lg-2 col-sm-3 control-label">เลขที่หนังสืออนุมัติ :</label>
                <label *ngIf="evitype == '16'" for="" class="col-lg-2 col-sm-3 control-label">เลขที่หนังสือนำส่ง :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" name="EvidenceOutNo" [(ngModel)]="EvidenceOutNo" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>

                <label *ngIf="evitype == '11'" for="" class="col-lg-2 col-sm-3 control-label">วันที่ขอคืน :</label>
                <label *ngIf="evitype == '13' || evitype == '14' || evitype == '15' || evitype == '16'" for="" class="col-lg-2 col-sm-3 control-label">วันที่อนุมัติ :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group input-group form-line">
                        <div style="width:45%">
                            <my-date-picker-th name="EvidenceOutNoDateStart" [(ngModel)]="EvidenceOutNoDateStart" [options]="myDatePickerOptions" (dateChanged)="onSEviNoDateChange($event)"></my-date-picker-th>
                        </div>
                        <div style="margin:10px;">
                            <label for="">&nbsp;ถึง&nbsp;</label>
                        </div>
                        <div style="width:45%">
                            <my-date-picker-th name="EvidenceOutNoDateTo" [(ngModel)]="EvidenceOutNoDateTo" [options]="myDatePickerOptions" (dateChanged)="onEEviNoDateChange($event)"></my-date-picker-th>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label *ngIf="evitype == '11'" for="" class="col-lg-2 col-sm-3 control-label">ผู้นำส่งคืน :</label>
                <label *ngIf="evitype == '13' || evitype == '14'" for="" class="col-lg-2 col-sm-3 control-label">ผู้เสนออนุมัติ :</label>
                <label *ngIf="evitype == '15'" for="" class="col-lg-2 col-sm-3 control-label">ผู้นำออก :</label>
                <label *ngIf="evitype == '16'" for="" class="col-lg-2 col-sm-3 control-label">ผู้โอนย้าย :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" name="StaffName" [(ngModel)]="StaffName" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-3 control-label">หน่วยงาน :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" name="OfficeName" [(ngModel)]="OfficeName" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-10"></div>
                <div class="col-2">
                    <button class="btn btn-block btn-themecolor" (click)="onAdvSearch()">ค้นข้อมูล</button>
                </div>
            </div>
        </div>

        <!-- จัดเก็บเข้าพิพิธภัณฑ์(12)  -->
        <div *ngIf="evitype == '12'">
            <div class="row">
                <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่จัดเก็บพิพิธภัณฑ์ :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" name="EvidenceOutCode" [(ngModel)]="EvidenceOutCode" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-3 control-label">วันที่จัดเก็บพิพิธภัณฑ์ :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group input-group form-line">
                        <div style="width:45%">
                            <my-date-picker-th name="EvidenceOutDateStart" [(ngModel)]="EvidenceOutDateStart" [options]="myDatePickerOptions" (dateChanged)="onSEviDateChange($event)"></my-date-picker-th>
                        </div>

                        <div style="margin:10px;">
                            <label for="">&nbsp;ถึง&nbsp;</label>
                        </div>

                        <div style="width:45%">
                            <my-date-picker-th name="EvidenceOutDateTo" [(ngModel)]="EvidenceOutDateTo" [options]="myDatePickerOptions" (dateChanged)="onEEviDateChange($event)"></my-date-picker-th>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-3 control-label">เลขที่หนังสือขอจัดเก็บ :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" name="EvidenceOutNo" [(ngModel)]="EvidenceOutNo" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>

                <label for="" class="col-lg-2 col-sm-3 control-label">ผู้เสนอพิจารณา :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" name="StaffName" [(ngModel)]="StaffName" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="" class="col-lg-2 col-sm-3 control-label">หน่วยงาน :</label>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" name="OfficeName" [(ngModel)]="OfficeName" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-10"></div>
                <div class="col-2">
                    <button class="btn btn-block btn-themecolor" (click)="onAdvSearch()">ค้นข้อมูล</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card">
    <div class="card-body">

        <div class="table-responsive table-striped ">
            <table #revenueTable class="table">
                <thead>
                    <!-- คืนของกลาง -->
                    <tr *ngIf="evitype == '11'">
                        <th style="text-align: center;width:5%">ลำดับ</th>
                        <th>เลขที่คืน</th>
                        <th>วันที่คืน</th>
                        <th>เลขที่หนังสือนำส่งคืน</th>
                        <th>วันที่นำส่งคืน</th>
                        <th>ผู้นำส่งคืน</th>
                        <th>หน่วยงานนำส่งคืน</th>
                        <th></th>
                    </tr>

                    <!-- จัดเก็บเข้าพิพิธภัณฑ์ -->
                    <tr *ngIf="evitype == '12'">
                        <th style="text-align: center;width:5%">ลำดับ</th>
                        <th style="width:15%">เลขที่จัดเก็บพิพิธภัณฑ์</th>
                        <th style="width:15%">วันที่จัดเก็บพิพิธภัณฑ์</th>
                        <th style="width:15%">เลขที่หนังสือนำส่งคืน</th>
                        <th style="width:15%">ผู้พิจารณาเห็นชอบ</th>
                        <th>หน่วยงานนำส่งคืน</th>
                        <th></th>
                    </tr>

                    <!-- ขายทอดตลาด -->
                    <tr *ngIf="evitype == '13'">
                        <th style="text-align: center;width:5%">ลำดับ</th>
                        <th style="width:15%">เลขที่ขายทอดตลาด</th>
                        <th style="width:15%">วันที่ขายทอดตลาด</th>
                        <th style="width:15%">เลขที่หนังสืออนุมัติ</th>
                        <th style="width:15%">วันที่อนุมัติ</th>
                        <th style="width:15%">ผู้เสนออนุมัติ</th>
                        <th>หน่วยงาน</th>
                        <th></th>
                    </tr>

                    <!-- ทำลายของกลาง -->
                    <tr *ngIf="evitype == '14'">
                        <th style="text-align: center;width:5%">ลำดับ</th>
                        <th style="width:15%">เลขที่ทำลายของกลาง</th>
                        <th style="width:15%">วันที่ทำลายของกลาง</th>
                        <th style="width:15%">เลขที่หนังสืออนุมัติ</th>
                        <th style="width:15%">วันที่อนุมัติ</th>
                        <th style="width:15%">ผู้เสนออนุมัติ</th>
                        <th>หน่วยงาน</th>
                        <th></th>
                    </tr>

                    <!-- นำของกลางออกจากคลัง -->
                    <tr *ngIf="evitype == '15'">
                        <th style="text-align: center;width:5%">ลำดับ</th>
                        <th style="width:15%">เลขที่นำออกจากคลัง</th>
                        <th style="width:15%">วันที่นำออกจากคลัง</th>
                        <th style="width:15%">เลขที่หนังสืออนุมัติ</th>
                        <th style="width:15%">วันที่อนุมัติ</th>
                        <th style="width:15%">ผู้นำออกจากคลัง</th>
                        <th>หน่วยงาน</th>
                        <th></th>
                    </tr>

                    <!-- โอนย้ายของกลาง -->
                    <tr *ngIf="evitype == '16'">
                        <th style="text-align: center;width:5%">ลำดับ</th>
                        <th style="width:15%">เลขที่โอนย้าย</th>
                        <th style="width:15%">วันที่โอนย้าย</th>
                        <th style="width:15%">เลขที่หนังสือนำส่งคืน</th>
                        <th style="width:15%">วันที่อนุมัติ</th>
                        <th style="width:15%">ผู้นำโอนย้าย</th>
                        <th>หน่วยงาน</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of EvidenceOutList; let i=index;">
                        <td style="text-align: center;">{{i + 1}}</td>
                        <td>{{item.EvidenceOutCode}}</td>
                        <td>{{item.EvidenceOutDate}}</td>
                        <td>{{item.EvidenceOutNo}}</td>
                        <td>{{item.EvidenceOutNoDate}}</td>
                        <td>{{item.EvidenceStaffName}}</td>
                        <td>{{item.DeptName}}</td>
                        <td class="text-center;">
                            <a href="javaScript:void(0);" class="text-secondary" (click)="clickView(item.EvidenceOutID, item.EvidenceOutType)">
                                <i class="mdi mdi-eye fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="card-footer card-footer-unset">
            <app-pagination-table [TotalItems]="paginage.TotalItems" [CurrentPage]="paginage.CurrentPage" [PageSize]="paginage.PageSize"
                [RowsPerPageOptions]="paginage.RowsPerPageOptions" (onPageChange)="pageChanges($event)">
            </app-pagination-table>
        </div>
    </div>
</div>